__This notebook loads synthetic browsing histories and shows extended samples per history per country__

In [1]:
!pip install -r requirements.txt --disable-pip-version-check | tail -n 2

Requirement already satisfied: tzdata>=2022.7 in /home/komosny/Dokumenty/01_develop/__PYTHON-312/lib64/python3.12/site-packages (from pandas==2.2.3->-r requirements.txt (line 1)) (2024.2)
Requirement already satisfied: six>=1.5 in /home/komosny/Dokumenty/01_develop/__PYTHON-312/lib64/python3.12/site-packages (from python-dateutil>=2.8.2->pandas==2.2.3->-r requirements.txt (line 1)) (1.16.0)

In [2]:
import os
import pandas as pd

# Load dataset

In [3]:
history_country = os.listdir('synthetic-browsing-histories')

In [4]:
history = pd.DataFrame()

for country in history_country:

    print(country, end=' ')
    
    history_files = os.listdir(os.path.join('synthetic-browsing-histories', country))

    for file in history_files:

        file_data = pd.read_csv(os.path.join('synthetic-browsing-histories', country, file))

        file_data['history_name'] = file

        file_data['history_country'] = country
    
        history = pd.concat([file_data,history],ignore_index=True,copy=False)

history['history_number'] = history.history_name.apply(lambda x: x.split('_')[1].split('.')[0])

history.history_number = history.history_number.astype('int8')

history.columns

Argentina Australia Austria Belgium Brazil Bulgaria Canada Chile Croatia Czechia Denmark Egypt Estonia Finland France Germany Greece Hungary India Ireland Israel Italy Japan Latvia Lithuania Malaysia Mexico Morocco Netherlands New_Zealand Norway Pakistan Poland Portugal Romania Saudi_Arabia Serbia Singapore Slovakia Slovenia Spain Sri_Lanka Sweden Switzerland Thailand Turkiye Ukraine United_Kingdom United_States Viet_Nam

Index(['synthetic_time', 'synthetic_url', 'original_scope', 'original_content',
       'original_country_rank', 'original_world_rank', 'original_path_bin',
       'history_name', 'history_country', 'history_number'],
      dtype='object')

# Extended samples

In [5]:
groups = history.groupby(['history_country','history_number'])[['synthetic_time','synthetic_url']]

In [6]:
pd.set_option('display.max_colwidth', None)

In [7]:
for history, group in groups:
    
    print(f'{history[0]}, history number {history[1]}')
    
    print('Last 5 records')
    
    display(group.tail(5))

Argentina, history number 0
Last 5 records

,synthetic_time,synthetic_url
1058512,2024-11-30 22:09:19.661145,https://upm.es
1058513,2024-11-30 22:57:51.617885,https://www.bomberostl.org/noticias/category/rifas/
1058514,2024-12-01 02:31:22.000960,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=250104
1058515,2024-12-01 02:31:25.405626,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=118022
1058516,2024-12-01 02:31:31.419760,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 1
Last 5 records

,synthetic_time,synthetic_url
1052422,2024-11-30 22:06:36.524586,https://upm.es
1052423,2024-11-30 22:55:08.481326,https://asadorlossauces.com/index.php/category/fashion
1052424,2024-12-01 02:28:38.864401,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=213316
1052425,2024-12-01 02:28:42.269067,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=161325
1052426,2024-12-01 02:28:48.283201,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 2
Last 5 records

,synthetic_time,synthetic_url
1050386,2024-11-30 21:02:20.587821,https://upm.es
1050387,2024-11-30 21:50:52.544561,https://www.bomberostl.org/noticias/dos-incendios-en-intensa-jornada/
1050388,2024-12-01 01:24:22.927636,https://www.upm.es/s2i/acuse/ini.jsp?pageac=grupoinvestigacionoficial.jsp&idgrupo=366
1050389,2024-12-01 01:24:26.332302,https://www.upm.es/observatorio/vi/index.jsp?pageac=investigador.jsp&idinvestigador=26531
1050390,2024-12-01 01:24:32.346436,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 3
Last 5 records

,synthetic_time,synthetic_url
1056475,2024-11-30 22:13:00.788571,https://upm.es
1056476,2024-11-30 23:01:32.745311,https://www.bomberostl.org/noticias/incendio-de-pastos-naturales/
1056477,2024-12-01 02:35:03.128386,https://www.upm.es/upm/salaprensa/noticias_de_investigacion?id=8457d44fdb473510vgnvcm10000009c7648a____&fmt=detail&prefmt=articulo
1056478,2024-12-01 02:35:06.533052,https://www.upm.es/observatorio/vi/index.jsp?pageac=grupo.jsp&idgrupo=561
1056479,2024-12-01 02:35:12.547186,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 4
Last 5 records

,synthetic_time,synthetic_url
1054450,2024-11-30 21:14:23.566164,https://upm.es
1054451,2024-11-30 22:02:55.522904,https://www.bomberostl.org/noticias/accidente-ferroviario/
1054452,2024-12-01 01:36:25.905979,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=153111
1054453,2024-12-01 01:36:29.310645,https://www.upm.es/investigacion/innovacion/otri/unidadculturacientifica/semanaciencia?fmt=detail&id=con02524
1054454,2024-12-01 01:36:35.324779,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 5
Last 5 records

,synthetic_time,synthetic_url
1064592,2024-11-30 22:34:44.607038,https://upm.es
1064593,2024-11-30 23:23:16.563778,https://www.atspace.com/signup/?id=19988&type=shared
1064594,2024-12-01 02:56:46.946853,https://www.upm.es/s2i/acuse/ini.jsp?pageac=grupoinvestigacionoficial.jsp&idgrupo=366
1064595,2024-12-01 02:56:50.351519,https://www.upm.es/observatorio/vi/index.jsp?pageac=grupo.jsp&idgrupo=561
1064596,2024-12-01 02:56:56.365653,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 6
Last 5 records

,synthetic_time,synthetic_url
1048355,2024-11-30 22:17:35.999780,https://upm.es
1048356,2024-11-30 23:06:07.956520,https://www.atspace.com/affiliates/affiliate-lost-password/
1048357,2024-12-01 02:39:38.339595,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=55831
1048358,2024-12-01 02:39:41.744261,https://www.upm.es/upm/salaprensa/noticias_de_investigacion?id=8457d44fdb473510vgnvcm10000009c7648a____&fmt=detail&prefmt=articulo
1048359,2024-12-01 02:39:47.758395,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 7
Last 5 records

,synthetic_time,synthetic_url
1060542,2024-11-30 21:28:10.807831,https://upm.es
1060543,2024-11-30 22:16:42.764571,https://lamaquinita.co/tecnologia-trabajo-y-transformacion/
1060544,2024-12-01 01:50:13.147646,https://www.upm.es/upm/salaprensa/noticias_de_investigacion?id=8457d44fdb473510vgnvcm10000009c7648a____&fmt=detail&prefmt=articulo
1060545,2024-12-01 01:50:16.552312,https://www.upm.es/investigacion/innovacion/otri/unidadculturacientifica/semanaciencia?fmt=detail&id=con02524
1060546,2024-12-01 01:50:22.566446,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 8
Last 5 records

,synthetic_time,synthetic_url
1046338,2024-11-30 22:38:49.614897,https://upm.es
1046339,2024-11-30 23:27:21.571637,https://asadorlossauces.com/how-to-test-a-pc-power-supply-like-a-pro
1046340,2024-12-01 03:00:51.954712,https://www.upm.es/observatorio/vi/index.jsp?pageac=investigador.jsp&idinvestigador=26531
1046341,2024-12-01 03:00:55.359378,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=213316
1046342,2024-12-01 03:01:01.373512,https://www.upm.es/e-politecnica/2019/11/

Argentina, history number 9
Last 5 records

,synthetic_time,synthetic_url
1062559,2024-11-30 22:25:54.407024,https://upm.es
1062560,2024-11-30 23:14:26.363764,https://lamaquinita.co/soluciones/solucion-empresa/
1062561,2024-12-01 02:47:56.746839,https://www.upm.es/observatorio/vi/index.jsp?pageac=actividad.jsp&id_actividad=161325
1062562,2024-12-01 02:48:00.151505,https://www.upm.es/investigacion/innovacion/otri/unidadculturacientifica/semanaciencia?fmt=detail&id=con02524
1062563,2024-12-01 02:48:06.165639,https://www.upm.es/e-politecnica/2019/11/

Australia, history number 0
Last 5 records

,synthetic_time,synthetic_url
1027078,2024-11-30 21:32:09.467680,https://www.quora.com/
1027079,2024-11-30 22:20:41.424420,https://rimebuddhism.com/about/24-arm-kalachakra-statue/
1027080,2024-12-01 01:54:11.807495,https://www.slate.com/articles/news_and_politics/the_big_idea/2008/01/mccain_and_obama.html
1027081,2024-12-01 01:54:15.212161,https://www.taoisttaichi.org/blog/renovations-continue-southern-european-centre-spain/
1027082,2024-12-01 01:54:21.226295,https://plos.org/an-exciting-new-era/

Australia, history number 1
Last 5 records

,synthetic_time,synthetic_url
1042160,2024-11-30 21:17:46.916563,https://www.quora.com/
1042161,2024-11-30 22:06:18.873303,https://cmponline.net/community/coffee-and-chat/
1042162,2024-12-01 01:39:49.256378,https://cityparkradio.com/november-2021/processed-ab8459ff-4066-4011-ab7f-7f58a3db6b73_cbgocuag/
1042163,2024-12-01 01:39:52.661044,https://www.slate.com/articles/double_x/my_darklyng/features/2010/my_darklyng/chapter_6_take_a_walk_on_the_dark_side.html
1042164,2024-12-01 01:39:58.675178,https://plos.org/country/norway/

Australia, history number 2
Last 5 records

,synthetic_time,synthetic_url
1044305,2024-11-30 21:31:07.194115,https://www.quora.com/
1044306,2024-11-30 22:19:39.150855,https://www.sealchongwah.com/290_hectares_greenspace_loss
1044307,2024-12-01 01:53:09.533930,https://www.slate.com/articles/news_and_politics/the_big_idea/2008/01/mccain_and_obama.html
1044308,2024-12-01 01:53:12.938596,https://www.slate.com/articles/sports/foreigners/2013/11/football_migration_113_years_of_soccer_player_transfers_on_one_map.html
1044309,2024-12-01 01:53:18.952730,https://plos.org/country/norway/

Australia, history number 3
Last 5 records

,synthetic_time,synthetic_url
1033554,2024-11-30 22:16:46.707445,https://www.quora.com/
1033555,2024-11-30 23:05:18.664185,https://www.sacredheartmission.org/media-release/new-coburg-op-shop/
1033556,2024-12-01 02:38:49.047260,https://www.slate.com/articles/health_and_science/science/2012/08/fake_science_101_a_fake_scientist_learns_about_real_scientists.html
1033557,2024-12-01 02:38:52.451926,https://www.slate.com/articles/podcasts/live_at_politics/2015/05/steve_inskeep_discusses_his_new_book_jacksonland.html
1033558,2024-12-01 02:38:58.466060,https://www.taoisttaichi.org/multiple-sclerosis/

Australia, history number 4
Last 5 records

,synthetic_time,synthetic_url
1039996,2024-11-30 22:45:12.183732,https://www.quora.com/
1039997,2024-11-30 23:33:44.140472,https://rimebuddhism.com/news/rejoice-sangha-unifying-stupa-complete-2/
1039998,2024-12-01 03:07:14.523547,https://www.slate.com/articles/news_and_politics/low_concept/2008/02/the_encyclopedia_baracktannica.html
1039999,2024-12-01 03:07:17.928213,https://www.slate.com/articles/podcasts/manners_for_the_digital_age/2011/05/how_late_is_too_late_to_text.html
1040000,2024-12-01 03:07:23.942347,https://cityparkradio.com/april-2020/unnamed/

Australia, history number 5
Last 5 records

,synthetic_time,synthetic_url
1029248,2024-11-30 21:58:49.500406,https://www.quora.com/
1029249,2024-11-30 22:47:21.457146,https://rimebuddhism.com/vi/mec-category/sound-healing-vi/
1029250,2024-12-01 02:20:51.840221,https://www.slate.com/articles/news_and_politics/map_of_the_week/2012/12/fiscal_cliff_interactive_how_it_will_increase_taxpayers_taxes.html
1029251,2024-12-01 02:20:55.244887,https://www.taoisttaichi.org/blog/renovations-continue-southern-european-centre-spain/
1029252,2024-12-01 02:21:01.259021,https://plos.org/metrics/

Australia, history number 6
Last 5 records

,synthetic_time,synthetic_url
1037856,2024-11-30 23:03:41.660278,https://www.quora.com/
1037857,2024-11-30 23:52:13.617018,https://www.sacredheartmission.org/get-involved/fundraise-for-us/run-for-a-cause/
1037858,2024-12-01 03:25:44.000093,https://www.slate.com/blogs/browbeat/2013/02/06/richard_thompson_10_best_songs_to_listen_to_before_electric_audio.html
1037859,2024-12-01 03:25:47.404759,https://www.taoisttaichi.org/de/blog/taoist-tai-chi-society-ireland-celebrates-twentieth-anniversary/
1037860,2024-12-01 03:25:53.418893,https://plos.org/country/norway/

Australia, history number 7
Last 5 records

,synthetic_time,synthetic_url
1031400,2024-11-30 23:04:32.232432,https://www.quora.com/
1031401,2024-11-30 23:53:04.189172,https://rimebuddhism.com/about/24-arm-kalachakra-statue/
1031402,2024-12-01 03:26:34.572247,https://cityparkradio.com/november-2021/processed-ab8459ff-4066-4011-ab7f-7f58a3db6b73_cbgocuag/
1031403,2024-12-01 03:26:37.976913,https://www.slate.com/articles/podcasts/live_at_politics/2015/05/steve_inskeep_discusses_his_new_book_jacksonland.html
1031404,2024-12-01 03:26:43.991047,https://plos.org/an-exciting-new-era/

Australia, history number 8
Last 5 records

,synthetic_time,synthetic_url
1024931,2024-11-30 21:08:27.530774,https://www.quora.com/
1024932,2024-11-30 21:56:59.487514,https://cmponline.net/events/national-day-prayer-fasting-27th-may/
1024933,2024-12-01 01:30:29.870589,https://www.taoisttaichi.org/blog/see-wong-dai-sin-photo-contest-winning-entries/
1024934,2024-12-01 01:30:33.275255,https://www.slate.com/articles/news_and_politics/low_concept/2008/02/the_encyclopedia_baracktannica.html
1024935,2024-12-01 01:30:39.289389,https://plos.org/country/norway/

Australia, history number 9
Last 5 records

,synthetic_time,synthetic_url
1035704,2024-11-30 22:13:27.226321,https://quora.com
1035705,2024-11-30 23:01:59.183061,https://cmponline.net/community/coffee-and-chat/
1035706,2024-12-01 02:35:29.566136,https://www.taoisttaichi.org/blog/see-wong-dai-sin-photo-contest-winning-entries/
1035707,2024-12-01 02:35:32.970802,https://www.slate.com/articles/podcasts/manners_for_the_digital_age/2011/05/can_i_use_my_phone_at_a_dinner_party.html
1035708,2024-12-01 02:35:38.984936,https://plos.org/media/

Austria, history number 0
Last 5 records

,synthetic_time,synthetic_url
1022777,2024-11-30 21:15:07.063596,https://wdr.de
1022778,2024-11-30 22:03:39.020336,https://vorarlberg.at/-/mobilitaetskonzept-vorarlberg-2019
1022779,2024-12-01 01:37:09.403411,https://www.kaunertaler-gletscher.at/en/kaunertal-scenic-road/discover-the-road/kaunertal-scenic-road.html
1022780,2024-12-01 01:37:12.808077,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/service-und-informations/restaurants-und-alpine-huts.html
1022781,2024-12-01 01:37:18.822211,https://www.kaunertaler-gletscher.at/en/incert.html

Austria, history number 1
Last 5 records

,synthetic_time,synthetic_url
1020634,2024-11-30 22:20:27.002042,https://wdr.de
1020635,2024-11-30 23:08:58.958782,https://vorarlberg.at/web/landtag/-/zadra-daniel?article_id=135270
1020636,2024-12-01 02:42:29.341857,https://www.kaunertaler-gletscher.at/en/fendels-mountains/winter-mountain/tobogganing-und-winter-walking.html
1020637,2024-12-01 02:42:32.746523,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/bus-timetable.html
1020638,2024-12-01 02:42:38.760657,https://www.kaunertaler-gletscher.at/en/incert.html

Austria, history number 2
Last 5 records

,synthetic_time,synthetic_url
1018506,2024-11-30 22:14:16.283205,https://wdr.de
1018507,2024-11-30 23:02:48.239945,https://vorarlberg.at/-/jugendleistungen-auf-einen-blick
1018508,2024-12-01 02:36:18.623020,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/winter/pistenbully-self-driving.html
1018509,2024-12-01 02:36:22.027686,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/service-und-informations/events/event-detail.html?id=54
1018510,2024-12-01 02:36:28.041820,https://www.kaunertaler-gletscher.at/blog/skipiste

Austria, history number 3
Last 5 records

,synthetic_time,synthetic_url
1014241,2024-11-30 22:17:16.062733,https://wdr.de
1014242,2024-11-30 23:05:48.019473,https://vorarlberg.at/web/landtag/-/feurstein-hosp-nicole-1
1014243,2024-12-01 02:39:18.402548,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/service-und-informations/events/event-detail.html?id=72
1014244,2024-12-01 02:39:21.807214,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/summer/mountain-restaurants.html
1014245,2024-12-01 02:39:27.821348,https://www.kaunertaler-gletscher.at/en/meta-2.html

Austria, history number 4
Last 5 records

,synthetic_time,synthetic_url
1016379,2024-11-30 22:46:47.556736,https://wdr.de
1016380,2024-11-30 23:35:19.513476,https://vorarlberg.at/-/gesundheitsfoerderung?article_id=122747
1016381,2024-12-01 03:08:49.896551,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/bus-timetable.html
1016382,2024-12-01 03:08:53.301217,https://www.kaunertaler-gletscher.at/en/kaunertal-scenic-road/discover-the-road/kaunertal-scenic-road.html
1016383,2024-12-01 03:08:59.315351,http://zirbitzkogel.at/photos/picture.php?/630

Austria, history number 5
Last 5 records

,synthetic_time,synthetic_url
1005732,2024-11-30 21:42:42.620471,https://wdr.de
1005733,2024-11-30 22:31:14.577211,https://vorarlberg.at/-/jugendleistungen-auf-einen-blick
1005734,2024-12-01 02:04:44.960286,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/gastronomy.html
1005735,2024-12-01 02:04:48.364952,https://www.kaunertaler-gletscher.at/en/fendels-mountains/winter-mountain/tobogganing-und-winter-walking.html
1005736,2024-12-01 02:04:54.379086,https://www.kaunertaler-gletscher.at/blog/skipiste

Austria, history number 6
Last 5 records

,synthetic_time,synthetic_url
1009989,2024-11-30 22:56:59.211709,https://wdr.de
1009990,2024-11-30 23:45:31.168449,https://vorarlberg.at/web/landtag/-/zadra-daniel?article_id=135270
1009991,2024-12-01 03:19:01.551524,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/gastronomy.html
1009992,2024-12-01 03:19:04.956190,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/service-und-informations/events/event-detail.html?id=54
1009993,2024-12-01 03:19:10.970324,https://www.kaunertaler-gletscher.at/blog/skipiste

Austria, history number 7
Last 5 records

,synthetic_time,synthetic_url
1007851,2024-11-30 21:27:22.054314,https://wdr.de
1007852,2024-11-30 22:15:54.011054,https://vorarlberg.at/-/gesundheitsfoerderung?article_id=122747
1007853,2024-12-01 01:49:24.394129,https://www.kaunertaler-gletscher.at/en/fendels-mountains/winter-mountain/tobogganing-und-winter-walking.html
1007854,2024-12-01 01:49:27.798795,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/bus-timetable.html
1007855,2024-12-01 01:49:33.812929,http://zirbitzkogel.at/photos/picture.php?/630

Austria, history number 8
Last 5 records

,synthetic_time,synthetic_url
1012120,2024-11-30 22:07:36.383778,https://wdr.de
1012121,2024-11-30 22:56:08.340518,https://vorarlberg.at/-/mobilitaetskonzept-vorarlberg-2019
1012122,2024-12-01 02:29:38.723593,https://www.kaunertaler-gletscher.at/en/fendels-mountains/service-und-informations/bus-timetable.html
1012123,2024-12-01 02:29:42.128259,https://www.kaunertaler-gletscher.at/en/kaunertal-scenic-road/discover-the-road/kaunertal-scenic-road.html
1012124,2024-12-01 02:29:48.142393,http://zirbitzkogel.at/photos/picture.php?/626

Austria, history number 9
Last 5 records

,synthetic_time,synthetic_url
1003595,2024-11-30 22:55:16.715605,https://wdr.de
1003596,2024-11-30 23:43:48.672345,https://vorarlberg.at/-/mobilitaetskonzept-vorarlberg-2019
1003597,2024-12-01 03:17:19.055420,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/summer/mountain-restaurants.html
1003598,2024-12-01 03:17:22.460086,https://www.kaunertaler-gletscher.at/en/kaunertal-glacier/service-und-informations/events/event-detail.html?id=72
1003599,2024-12-01 03:17:28.474220,https://www.kaunertaler-gletscher.at/en/incert.html

Belgium, history number 0
Last 5 records

,synthetic_time,synthetic_url
997097,2024-11-30 23:10:20.389515,https://fietsendebeuckeleer.be
997098,2024-11-30 23:58:52.346255,https://www.stekene.be/thema/7259/klokkenluiders
997099,2024-12-01 03:32:22.729330,https://www.top40.nl/ramses-shaffy-en-liesbeth-list/ramses-shaffy-en-liesbeth-list-aan-de-andere-kant-van-de-heuvels-13177
997100,2024-12-01 03:32:26.133996,https://www.top40.nl/guus-meeuwis-vagant/guus-meeuwis-vagant-per-spoor-kedeng-kedeng-6424
997101,2024-12-01 03:32:32.148130,https://www.top40.nl/popup/radio?channelid=9

Belgium, history number 1
Last 5 records

,synthetic_time,synthetic_url
984020,2024-11-30 23:11:30.602615,https://rumst.be
984021,2024-12-01 00:00:02.559355,https://www.raeren.be/downloadcat/gemeinderat/
984022,2024-12-01 03:33:32.942430,https://www.top40.nl/tullio-de-piscopo/tullio-de-piscopo-stop-bajon-17698
984023,2024-12-01 03:33:36.347096,https://www.top40.nl/ramses-shaffy-en-liesbeth-list/ramses-shaffy-en-liesbeth-list-aan-de-andere-kant-van-de-heuvels-13177
984024,2024-12-01 03:33:42.361230,https://www.weather-forecast.com/maps/mayotte

Belgium, history number 2
Last 5 records

,synthetic_time,synthetic_url
1001467,2024-11-30 21:46:09.540769,https://fietsendebeuckeleer.be
1001468,2024-11-30 22:34:41.497509,https://www.herent.be/product/373/militaire-begraafplaats-veltem
1001469,2024-12-01 02:08:11.880584,https://www.top40.nl/ramses-shaffy-en-liesbeth-list/ramses-shaffy-en-liesbeth-list-aan-de-andere-kant-van-de-heuvels-13177
1001470,2024-12-01 02:08:15.285250,https://www.top40.nl/rika-zarai/rika-zarai-jerushala-im-shel-zahav-9010
1001471,2024-12-01 02:08:21.299384,https://www.top40.nl/popup/radio?channelid=9

Belgium, history number 3
Last 5 records

,synthetic_time,synthetic_url
990555,2024-11-30 22:30:18.858311,https://landen.be
990556,2024-11-30 23:18:50.815051,https://www.halen.be/onderwijs-en-kinderopvang
990557,2024-12-01 02:52:21.198126,https://www.top40.nl/hitlijsten-nieuws-roxy-dekker-voor-vierde-week-op-1-in-de-top-40
990558,2024-12-01 02:52:24.602792,https://www.top40.nl/rika-zarai/rika-zarai-jerushala-im-shel-zahav-9010
990559,2024-12-01 02:52:30.616926,https://www.top40.nl/popup/radio?channelid=7

Belgium, history number 4
Last 5 records

,synthetic_time,synthetic_url
986194,2024-11-30 22:34:24.683256,https://fietsendebeuckeleer.be
986195,2024-11-30 23:22:56.639996,https://www.stekene.be/product/1247/sportaanbod-voor-volwassenen
986196,2024-12-01 02:56:27.023071,https://www.top40.nl/guus-meeuwis-vagant/guus-meeuwis-vagant-per-spoor-kedeng-kedeng-6424
986197,2024-12-01 02:56:30.427737,https://www.top40.nl/mieke-en-vader-abraham/mieke-en-vader-abraham-zomertijd-13064
986198,2024-12-01 02:56:36.441871,https://www.top40.nl/popup/radio?stationid=5

Belgium, history number 5
Last 5 records

,synthetic_time,synthetic_url
988392,2024-11-30 21:11:40.797210,https://aartselaar.be
988393,2024-11-30 22:00:12.753950,https://www.burg-reuland.be/veranstaltung/kirmes-in-ouren-3/
988394,2024-12-01 01:33:43.137025,https://www.top40.nl/hitlijsten-nieuws-roxy-dekker-voor-vierde-week-op-1-in-de-top-40
988395,2024-12-01 01:33:46.541691,https://www.top40.nl/rika-zarai/rika-zarai-jerushala-im-shel-zahav-9010
988396,2024-12-01 01:33:52.555825,https://www.top40.nl/popup/radio?stationid=5

Belgium, history number 6
Last 5 records

,synthetic_time,synthetic_url
992738,2024-11-30 21:43:45.822545,https://guidesocial.be
992739,2024-11-30 22:32:17.779285,https://www.herent.be/bewegwijzering-voor-bedrijfsactiviteiten
992740,2024-12-01 02:05:48.162360,https://www.top40.nl/hitlijsten-nieuws-roxy-dekker-voor-vierde-week-op-1-in-de-top-40
992741,2024-12-01 02:05:51.567026,https://www.top40.nl/rika-zarai/rika-zarai-jerushala-im-shel-zahav-9010
992742,2024-12-01 02:05:57.581160,https://www.top40.nl/popup/radio?channelid=7

Belgium, history number 7
Last 5 records

,synthetic_time,synthetic_url
981829,2024-11-30 21:33:25.663849,https://dilsen-stokkem.be
981830,2024-11-30 22:21:57.620589,https://bvlar.be/nieuws/bvlar-heeft-er-8-nieuwe-sergeanten-bij/
981831,2024-12-01 01:55:28.003664,https://www.top40.nl/guus-meeuwis-vagant/guus-meeuwis-vagant-per-spoor-kedeng-kedeng-6424
981832,2024-12-01 01:55:31.408330,https://www.top40.nl/ramses-shaffy-en-liesbeth-list/ramses-shaffy-en-liesbeth-list-aan-de-andere-kant-van-de-heuvels-13177
981833,2024-12-01 01:55:37.422464,https://www.top40.nl/popup/radio?channelid=7

Belgium, history number 8
Last 5 records

,synthetic_time,synthetic_url
994917,2024-11-30 21:26:08.680037,https://ivdnt.org
994918,2024-11-30 22:14:40.636777,https://www.burg-reuland.be/bekanntmachungen/bewerbungsaufruf-unterricht/
994919,2024-12-01 01:48:11.019852,https://www.top40.nl/mieke-en-vader-abraham/mieke-en-vader-abraham-zomertijd-13064
994920,2024-12-01 01:48:14.424518,https://www.top40.nl/guus-meeuwis-vagant/guus-meeuwis-vagant-per-spoor-kedeng-kedeng-6424
994921,2024-12-01 01:48:20.438652,https://www.top40.nl/popup/radio?stationid=5

Belgium, history number 9
Last 5 records

,synthetic_time,synthetic_url
999296,2024-11-30 21:01:03.351158,https://aartselaar.be
999297,2024-11-30 21:49:35.307898,https://www.burg-reuland.be/bekanntmachungen/bewerbungsaufruf-unterricht/
999298,2024-12-01 01:23:05.690973,https://www.top40.nl/guus-meeuwis-vagant/guus-meeuwis-vagant-per-spoor-kedeng-kedeng-6424
999299,2024-12-01 01:23:09.095639,https://www.top40.nl/tullio-de-piscopo/tullio-de-piscopo-stop-bajon-17698
999300,2024-12-01 01:23:15.109773,https://www.top40.nl/popup/radio?channelid=6

Brazil, history number 0
Last 5 records

,synthetic_time,synthetic_url
968952,2024-11-30 21:32:04.990676,https://gazetaesportiva.com
968953,2024-11-30 22:20:36.947416,https://cgi.br/videos/categoria/historia/
968954,2024-12-01 01:54:07.330491,https://www.ictp-saifr.org/conference-on-perspectives-in-nonlinear-dynamics/
968955,2024-12-01 01:54:10.735157,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
968956,2024-12-01 01:54:16.749291,https://www.ictp-saifr.org/epsilon2022/

Brazil, history number 1
Last 5 records

,synthetic_time,synthetic_url
975385,2024-11-30 22:21:26.778645,https://ufs.br
975386,2024-11-30 22:21:31.456811,https://www.quora.com/
975387,2024-11-30 23:10:03.413551,https://cgi.br/eventos/agenda/apoia/2-2024/
975388,2024-12-01 02:43:33.796626,https://www.ictp-saifr.org/workshop-on-fundamental-aspects-of-string-theory/
975389,2024-12-01 02:43:43.215426,https://www.ictp-saifr.org/cosmo2021/

Brazil, history number 2
Last 5 records

,synthetic_time,synthetic_url
960418,2024-11-30 21:36:21.459581,https://www.quora.com/
960419,2024-11-30 22:24:53.416321,https://cgi.br/resolucoes/documento/2025/018/
960420,2024-12-01 01:58:23.799396,https://www.ictp-saifr.org/conference-on-perspectives-in-nonlinear-dynamics/
960421,2024-12-01 01:58:27.204062,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
960422,2024-12-01 01:58:33.218196,https://www.ictp-saifr.org/seminars-qbio/

Brazil, history number 3
Last 5 records

,synthetic_time,synthetic_url
977510,2024-11-30 22:11:27.204155,https://ictp-saifr.org
977511,2024-11-30 22:59:59.160895,https://cgi.br/resolucoes/documento/2025/018/
977512,2024-12-01 02:33:29.543970,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
977513,2024-12-01 02:33:32.948636,https://www.ictp-saifr.org/workshop-on-fundamental-aspects-of-string-theory/
977514,2024-12-01 02:33:38.962770,https://www.ictp-saifr.org/program/

Brazil, history number 4
Last 5 records

,synthetic_time,synthetic_url
964674,2024-11-30 22:50:54.247914,https://www.ufv.br/
964675,2024-11-30 23:39:26.204654,https://cgi.br/resolucoes/documento/2015/003/
964676,2024-12-01 03:12:56.587729,https://www.ictp-saifr.org/workshop-on-fundamental-aspects-of-string-theory/
964677,2024-12-01 03:12:59.992395,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
964678,2024-12-01 03:13:06.006529,https://www.ictp-saifr.org/mbmlsr2024/

Brazil, history number 5
Last 5 records

,synthetic_time,synthetic_url
962557,2024-11-30 21:10:07.183287,https://ufg.br
962558,2024-11-30 21:10:11.861453,https://www.ufv.br
962559,2024-11-30 21:58:43.818193,https://www.cgi.br/resolucoes/documento/2024/015/
962560,2024-12-01 01:32:14.201268,https://www.ictp-saifr.org/conference-on-perspectives-in-nonlinear-dynamics/
962561,2024-12-01 01:32:23.620068,https://www.ictp-saifr.org/sscmbd2025/

Brazil, history number 6
Last 5 records

,synthetic_time,synthetic_url
966804,2024-11-30 21:33:03.555941,https://biologianet.com
966805,2024-11-30 22:21:35.512681,https://cgi.br/resolucoes/documento/2025/018/
966806,2024-12-01 01:55:05.895756,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
966807,2024-12-01 01:55:09.300422,https://www.ictp-saifr.org/workshop-on-fundamental-aspects-of-string-theory/
966808,2024-12-01 01:55:15.314556,https://www.ictp-saifr.org/qgem2021/

Brazil, history number 7
Last 5 records

,synthetic_time,synthetic_url
973245,2024-11-30 21:01:00.018009,https://quora.com
973246,2024-11-30 21:49:31.974749,https://cgi.br/eventos/agenda/apoia/12-2024/
973247,2024-12-01 01:23:02.357824,https://www.ictp-saifr.org/conference-on-perspectives-in-nonlinear-dynamics/
973248,2024-12-01 01:23:05.762490,https://www.ictp-saifr.org/workshop-on-strong-electron-correlations-in-quantum-materials-inhomogeneities-frustration-and-topology/
973249,2024-12-01 01:23:11.776624,https://www.ictp-saifr.org/epsilon2022/

Brazil, history number 8
Last 5 records

,synthetic_time,synthetic_url
971087,2024-11-30 22:30:53.192999,https://quora.com
971088,2024-11-30 23:19:25.149739,https://cgi.br/portarias/ano_numero/2009/376/
971089,2024-12-01 02:52:55.532814,https://www.ictp-saifr.org/conference-on-perspectives-in-nonlinear-dynamics/
971090,2024-12-01 02:52:58.937480,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
971091,2024-12-01 02:53:04.951614,https://www.ictp-saifr.org/contact-us/

Brazil, history number 9
Last 5 records

,synthetic_time,synthetic_url
979644,2024-11-30 22:37:00.125289,https://www.quora.com/
979645,2024-11-30 23:25:32.082029,https://cgi.br/resolucoes/documento/2015/003/
979646,2024-12-01 02:59:02.465104,https://www.ictp-saifr.org/online-2022-meeting-of-ictp-saifr-scientific-council/
979647,2024-12-01 02:59:05.869770,https://www.ictp-saifr.org/workshop-on-strong-electron-correlations-in-quantum-materials-inhomogeneities-frustration-and-topology/
979648,2024-12-01 02:59:11.883904,https://www.ictp-saifr.org/contact-us/

Bulgaria, history number 0
Last 5 records

,synthetic_time,synthetic_url
939507,2024-11-30 22:22:27.285274,https://7dnibulgaria.bg
939508,2024-11-30 23:10:59.242014,https://kaksepishe.com/articles/razlichni-ezici/
939509,2024-12-01 02:44:29.625089,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
939510,2024-12-01 02:44:33.029755,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
939511,2024-12-01 02:44:39.043889,http://www.newthraciangold.eu/index.php?lng=bg

Bulgaria, history number 1
Last 5 records

,synthetic_time,synthetic_url
941592,2024-11-30 21:35:50.130880,https://bgnes.bg
941593,2024-11-30 22:24:22.087620,https://www.ubb.bg/en/news/index/page:188?caregory=8
941594,2024-12-01 01:57:52.470695,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
941595,2024-12-01 01:57:55.875361,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
941596,2024-12-01 01:58:01.889495,http://www.newthraciangold.eu/index.php?lng=bg

Bulgaria, history number 2
Last 5 records

,synthetic_time,synthetic_url
956218,2024-11-30 21:31:30.784627,https://predavatel.com
956219,2024-11-30 22:20:02.741367,https://kaksepishe.com/articles/razlichni-ezici/
956220,2024-12-01 01:53:33.124442,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
956221,2024-12-01 01:53:36.529108,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
956222,2024-12-01 01:53:42.543242,http://www.newthraciangold.eu/calendar.php?lng=en

Bulgaria, history number 3
Last 5 records

,synthetic_time,synthetic_url
949952,2024-11-30 21:17:29.560928,https://virail.bg
949953,2024-11-30 21:17:34.239094,https://faragency.bg
949954,2024-11-30 22:06:06.195834,https://www.ubb.bg/en/news/index/page:188?caregory=8
949955,2024-12-01 01:39:36.578909,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
949956,2024-12-01 01:39:45.997709,http://www.newthraciangold.eu/calendar.php?lng=en

Bulgaria, history number 4
Last 5 records

,synthetic_time,synthetic_url
943675,2024-11-30 21:22:14.213330,https://cadastre.bg
943676,2024-11-30 22:10:46.170070,https://kaksepishe.com/omirotvoritelen-umirotvoritelen/
943677,2024-12-01 01:44:16.553145,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
943678,2024-12-01 01:44:19.957811,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
943679,2024-12-01 01:44:25.971945,http://www.newthraciangold.eu/calendar.php?lng=en

Bulgaria, history number 5
Last 5 records

,synthetic_time,synthetic_url
945762,2024-11-30 22:05:31.390974,https://bgnes.bg
945763,2024-11-30 22:54:03.347714,https://www.superbithost.com/billing/index.php?rp=/password/reset
945764,2024-12-01 02:27:33.730789,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
945765,2024-12-01 02:27:37.135455,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
945766,2024-12-01 02:27:43.149589,http://www.newthraciangold.eu/index.php?lng=bg

Bulgaria, history number 6
Last 5 records

,synthetic_time,synthetic_url
954128,2024-11-30 21:15:23.710776,https://virail.bg
954129,2024-11-30 21:15:28.388942,https://bgnes.bg
954130,2024-11-30 22:04:00.345682,https://www.dobrich.bg/bg/zapoved-1155/22102010-g
954131,2024-12-01 01:37:30.728757,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
954132,2024-12-01 01:37:40.147557,http://www.newthraciangold.eu/calendar.php?lng=en

Bulgaria, history number 7
Last 5 records

,synthetic_time,synthetic_url
952042,2024-11-30 21:01:08.751489,https://obshtinaruse.bg
952043,2024-11-30 21:49:40.708229,http://www.teteven.bg/index.php/2017-04-12-11-20-20
952044,2024-12-01 01:23:11.091304,https://newthraciangold.eu/cmsnews.php?nid=84&searchin=2&search=%d1%81%d1%8a%d1%81%d1%82%d0%b5%d0%b7%d0%b0%d0%bd%d0%b8%d0%b5&lng=bg
952045,2024-12-01 01:23:14.495970,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
952046,2024-12-01 01:23:20.510104,http://www.newthraciangold.eu/index.php?lng=bg

Bulgaria, history number 8
Last 5 records

,synthetic_time,synthetic_url
947854,2024-11-30 23:01:42.379701,https://www.bgmaps.com/
947855,2024-11-30 23:01:47.057867,https://newthraciangold.eu
947856,2024-11-30 23:50:19.014607,https://www.dobrich.bg/bg/publichen-registar-na-dareniyata
947857,2024-12-01 03:23:49.397682,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
947858,2024-12-01 03:23:58.816482,http://www.newthraciangold.eu/index.php?lng=bg

Bulgaria, history number 9
Last 5 records

,synthetic_time,synthetic_url
958290,2024-11-30 23:11:12.449296,https://rio.bg
958291,2024-11-30 23:11:17.127462,https://newthraciangold.eu
958292,2024-11-30 23:59:49.084202,https://www.ubb.bg/en/news/index/page:188?caregory=8
958293,2024-12-01 03:33:19.467277,http://newthraciangold.eu/acomo_details.php?id=44&lng=bg&cat_id=&region_id=9&place_id=-1&stars=-1&vblizost=-1&button=%d0%a2%d1%8a%d1%80%d1%81%d0%b8
958294,2024-12-01 03:33:28.886077,http://www.newthraciangold.eu/index.php?lng=bg

Canada, history number 0
Last 5 records

,synthetic_time,synthetic_url
925102,2024-11-30 21:12:23.734934,https://plos.org
925103,2024-11-30 22:00:55.691674,https://mcc.org/our-stories/20222023-annual-report-mcc-us
925104,2024-12-01 01:34:26.074749,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
925105,2024-12-01 01:34:29.479415,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
925106,2024-12-01 01:34:35.493549,https://plos.org/journal/plos-biology/

Canada, history number 1
Last 5 records

,synthetic_time,synthetic_url
935369,2024-11-30 23:04:07.079926,https://plos.org/
935370,2024-11-30 23:52:39.036666,https://mcc.org/fr?keywords=%22mcc%20east%20coast%22&page=1
935371,2024-12-01 03:26:09.419741,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
935372,2024-12-01 03:26:12.824407,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
935373,2024-12-01 03:26:18.838541,https://plos.org/an-exciting-new-era/

Canada, history number 2
Last 5 records

,synthetic_time,synthetic_url
921004,2024-11-30 23:02:40.986129,https://fresherslive.com
921005,2024-11-30 23:02:45.664295,https://plos.org/
921006,2024-11-30 23:51:17.621035,https://mcc.org/fr?keywords=%22mcc%20east%20coast%22&page=1
921007,2024-12-01 03:24:48.004110,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
921008,2024-12-01 03:24:57.422910,https://plos.org/country/norway/

Canada, history number 3
Last 5 records

,synthetic_time,synthetic_url
931273,2024-11-30 22:55:35.895208,https://fresherslive.com
931274,2024-11-30 22:55:40.573374,https://plos.org/
931275,2024-11-30 23:44:12.530114,https://mcc.org/fr?keywords=%22mcc%20east%20coast%22&page=1
931276,2024-12-01 03:17:42.913189,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
931277,2024-12-01 03:17:52.331989,https://plos.org/country/norway/

Canada, history number 4
Last 5 records

,synthetic_time,synthetic_url
927152,2024-11-30 21:33:07.254179,https://plos.org
927153,2024-11-30 22:21:39.210919,https://guelph.ca/tag/heritage-conservation/
927154,2024-12-01 01:55:09.593994,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
927155,2024-12-01 01:55:12.998660,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
927156,2024-12-01 01:55:19.012794,https://plos.org/about/executive/

Canada, history number 5
Last 5 records

,synthetic_time,synthetic_url
937417,2024-11-30 21:33:22.136277,https://plos.org
937418,2024-11-30 22:21:54.093017,https://guelph.ca/employment-careers/remote-training/
937419,2024-12-01 01:55:24.476092,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
937420,2024-12-01 01:55:27.880758,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
937421,2024-12-01 01:55:33.894892,https://plos.org/dora/

Canada, history number 6
Last 5 records

,synthetic_time,synthetic_url
918965,2024-11-30 22:43:40.731765,https://plos.org
918966,2024-11-30 23:32:12.688505,https://guelph.ca/employment-careers/remote-training/
918967,2024-12-01 03:05:43.071580,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
918968,2024-12-01 03:05:46.476246,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
918969,2024-12-01 03:05:52.490380,https://plos.org/media/

Canada, history number 7
Last 5 records

,synthetic_time,synthetic_url
923056,2024-11-30 22:07:59.460382,https://plos.org
923057,2024-11-30 22:56:31.417122,https://mcc.org/donate?where=&gl_code=247
923058,2024-12-01 02:30:01.800197,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
923059,2024-12-01 02:30:05.204863,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
923060,2024-12-01 02:30:11.218997,https://plos.org/country/venezuela/

Canada, history number 8
Last 5 records

,synthetic_time,synthetic_url
933326,2024-11-30 22:21:09.478724,https://plos.org/
933327,2024-11-30 23:09:41.435464,https://mcc.org/our-stories/20222023-annual-report-mcc-us
933328,2024-12-01 02:43:11.818539,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
933329,2024-12-01 02:43:15.223205,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
933330,2024-12-01 02:43:21.237339,https://plos.org/subject_area/urology/

Canada, history number 9
Last 5 records

,synthetic_time,synthetic_url
929218,2024-11-30 22:02:53.763652,https://plos.org
929219,2024-11-30 22:51:25.720392,https://www.timhortons.com/fidelitim/terms-conditions/
929220,2024-12-01 02:24:56.103467,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
929221,2024-12-01 02:24:59.508133,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
929222,2024-12-01 02:25:05.522267,https://plos.org/journal/plos-biology/

Chile, history number 0
Last 5 records

,synthetic_time,synthetic_url
912549,2024-11-30 22:47:12.592458,https://nacion.com
912550,2024-11-30 23:35:44.549198,https://academiadiplomatica.cl/proceso-de-admision-acade-2023/
912551,2024-12-01 03:09:14.932273,https://www.nacion.com/puro-deporte/futbol-nacional/johnny-chaves-el-tecnico-que-supo-resurgir-del-fracaso/r6srgy7vavfxtfyied4hmvm6oy/story/?outputtype=amp-type
912552,2024-12-01 03:09:18.336939,https://www.nacion.com/el-pais/politica/acuerdo-con-el-fmi-fue-poco-ambicioso-dice-rodrigo/djc2gea2ujedxohhna6htdpkba/story/
912553,2024-12-01 03:09:24.351073,https://www.clima.com/estados-unidos/noticias

Chile, history number 1
Last 5 records

,synthetic_time,synthetic_url
908158,2024-11-30 22:51:58.944590,https://clima.com
908159,2024-11-30 23:40:30.901330,https://academiadiplomatica.cl/download/documentos-proceso-de-admision-2022-2/
908160,2024-12-01 03:14:01.284405,https://www.nacion.com/puro-deporte/futbol-nacional/johnny-chaves-el-tecnico-que-supo-resurgir-del-fracaso/r6srgy7vavfxtfyied4hmvm6oy/story/?outputtype=amp-type
908161,2024-12-01 03:14:04.689071,https://www.observador.cl/carabinero-fue-dado-de-baja-tras-chocar-borracho-en-quillota/
908162,2024-12-01 03:14:10.703205,https://www.anfp.cl/clubes/rangers/

Chile, history number 2
Last 5 records

,synthetic_time,synthetic_url
905958,2024-11-30 22:24:57.652312,https://deportes13.cl
905959,2024-11-30 23:13:29.609052,https://www.conducechile.cl/sitio/foro/index.php?action=profile;u=45419
905960,2024-12-01 02:46:59.992127,https://www.observador.cl/evento-reunira-a-trabajadores-de-la-pequena-y-mediana-mineria-de-la-region/
905961,2024-12-01 02:47:03.396793,https://www.anfp.cl/resoluciones/resoluciones-del-tribunal-autonomo-de-disciplina-15/
905962,2024-12-01 02:47:09.410927,https://www.anfp.cl/tecnicos/tiago-nunes/

Chile, history number 3
Last 5 records

,synthetic_time,synthetic_url
910352,2024-11-30 22:11:07.461676,https://deportes13.cl
910353,2024-11-30 22:59:39.418416,https://normandie.cl/se-estrena-el-ultimo-documental-de-oliver-stone/
910354,2024-12-01 02:33:09.801491,https://www.nacion.com/el-pais/infraestructura/nuevo-intento-con-camaras-en-carreteras-sistema/u263nqblbjdbncggqbuq5t7w4y/story/?outputtype=amp-type
910355,2024-12-01 02:33:13.206157,https://www.nacion.com/puro-deporte/futbol-nacional/guia-tv-cuando-se-juega-el-liberia-vs-san-carlos/ktwuaobbfba2zmca7ylpu5tigq/story/
910356,2024-12-01 02:33:19.220291,https://www.anfp.cl/2025/05/

Chile, history number 4
Last 5 records

,synthetic_time,synthetic_url
903753,2024-11-30 22:04:13.095025,https://observador.cl
903754,2024-11-30 22:52:45.051765,http://www.municipalidadosorno.cl/new/noticia.php?id=35270
903755,2024-12-01 02:26:15.434840,https://www.anfp.cl/selecciones/nuevo-microciclo-de-arqueros-en-el-complejo-deportivo-quilin/
903756,2024-12-01 02:26:18.839506,https://www.anfp.cl/galerias/click-las-imagenes-de-la-fecha-29-del-ascenso-clinicas-achs-salud/
903757,2024-12-01 02:26:24.853640,https://www.clima.com/estados-unidos/noticias

Chile, history number 5
Last 5 records

,synthetic_time,synthetic_url
914734,2024-11-30 21:17:30.260113,https://clima.com
914735,2024-11-30 22:06:02.216853,https://lebu.cl/eventos/bocalebu-vive-el-verano/
914736,2024-12-01 01:39:32.599928,https://www.anfp.cl/resoluciones/resoluciones-del-tribunal-autonomo-de-disciplina-24/
914737,2024-12-01 01:39:36.004594,https://www.nacion.com/blogs/de-viaje-con-jairo/ticos-lejos-del-hogar-la-impensable-vida-en-tunez/ah6smupgc5h3volwtmdvbapaza/story/?outputtype=amp-type
914738,2024-12-01 01:39:42.018728,https://www.anfp.cl/2025/05/

Chile, history number 6
Last 5 records

,synthetic_time,synthetic_url
899378,2024-11-30 22:57:44.657872,https://anfp.cl
899379,2024-11-30 23:46:16.614612,https://normandie.cl/avant-premiere-de-mr-kaplan/
899380,2024-12-01 03:19:46.997687,https://www.observador.cl/225-floricultores-de-longotoma-seran-beneficiados-con-bioabono-de-sopraval/
899381,2024-12-01 03:19:50.402353,https://www.nacion.com/el-pais/servicios/ins-desiste-de-contratar-a-polemica-agencia-de-onu/jk73syc26ffapkmg6wobklqhwe/story/?outputtype=amp-type
899382,2024-12-01 03:19:56.416487,https://www.clima.com/peru/lima

Chile, history number 7
Last 5 records

,synthetic_time,synthetic_url
901568,2024-11-30 22:03:18.392231,https://clima.com
901569,2024-11-30 22:51:50.348971,https://lebu.cl/municipalidad/direccion-juridica/
901570,2024-12-01 02:25:20.732046,https://www.anfp.cl/resoluciones/resoluciones-del-tribunal-autonomo-de-disciplina-24/
901571,2024-12-01 02:25:24.136712,https://www.nacion.com/puro-deporte/futbol-nacional/johnny-chaves-el-tecnico-que-supo-resurgir-del-fracaso/r6srgy7vavfxtfyied4hmvm6oy/story/?outputtype=amp-type
901572,2024-12-01 02:25:30.150846,https://www.anfp.cl/tecnicos/tiago-nunes/

Chile, history number 8
Last 5 records

,synthetic_time,synthetic_url
897171,2024-11-30 21:26:12.687454,https://observador.cl
897172,2024-11-30 22:14:44.644194,https://www.liquidos.cl/productos/2836/manzanilla-mitjans-750cc
897173,2024-12-01 01:48:15.027269,https://www.observador.cl/presentan-libro-que-recoge-la-historia-de-los-dulces-de-la-ligua/
897174,2024-12-01 01:48:18.431935,https://www.observador.cl/video-movilh-dio-a-conocer-registro-de-ataque-homofobico-en-la-escuela-naval-de-valparaiso/
897175,2024-12-01 01:48:24.446069,https://www.anfp.cl/clubes/rangers/

Chile, history number 9
Last 5 records

,synthetic_time,synthetic_url
916926,2024-11-30 23:04:03.921284,https://clima.com
916927,2024-11-30 23:52:35.878024,https://academiadiplomatica.cl/download/documentos-proceso-de-admision-2022-2/
916928,2024-12-01 03:26:06.261099,https://www.nacion.com/ciencia/salud/medicina-genetica-identifica-a-siete-familias-con/52ncfw6qerf3paiyaitbpaxluu/story/?outputtype=amp-type
916929,2024-12-01 03:26:09.665765,https://www.anfp.cl/selecciones/chile-vencio-a-uruguay-en-el-primer-amistoso-de-la-fecha-fifa/
916930,2024-12-01 03:26:15.679899,https://www.anfp.cl/tecnicos/braulio-leal/

Croatia, history number 0
Last 5 records

,synthetic_time,synthetic_url
892803,2024-11-30 21:06:44.671279,https://tsd.hr
892804,2024-11-30 21:55:16.628019,http://sddosijek.com/blog-post/aktualnosti/post/dobro-nam-dosle
892805,2024-12-01 01:28:47.011094,https://www.orahovica.hr/wp-content/uploads/2024/06/odluka-o-suf.-radnih-biljeznica-za-ucenike-osnovne-skole-i.b.mazuranic.pdf
892806,2024-12-01 01:28:50.415760,https://www.orahovica.hr/2010/03/lokalni-projekti-razvoja-malog-gospodarstva-2009-lpr-mg-09/images/pdf/javni%20natjecaj-lpr-mg-09.pdf
892807,2024-12-01 01:28:56.429894,https://strukovna.com/author/ljupko-tomic/

Croatia, history number 1
Last 5 records

,synthetic_time,synthetic_url
879656,2024-11-30 21:29:42.545947,https://www.quora.com/
879657,2024-11-30 22:18:14.502687,https://www.donjastubica.hr/polugodisnje-izvrsenje-5/
879658,2024-12-01 01:51:44.885762,https://strukovna.com/2022/10/27/dani-zahvalnosti-za-plodove-zemlje-dani-kruha-2022/img-57833ad173393cc3554533a4ab001e54-v/
879659,2024-12-01 01:51:48.290428,https://www.orahovica.hr/2017/12/odrzan-koncert-polaznika-osnovne-glazbene-skole-slatina-podrucni-odjel-orahovica/
879660,2024-12-01 01:51:54.304562,https://strukovna.com/author/ljupko-tomic/

Croatia, history number 2
Last 5 records

,synthetic_time,synthetic_url
890605,2024-11-30 22:25:30.805666,https://strukovna.com
890606,2024-11-30 23:14:02.762406,http://www.obrovac.hr/dokumenti/dokumenti/zakon-i-propisi
890607,2024-12-01 02:47:33.145481,https://www.orahovica.hr/wp-content/uploads/2020/07/slikegodina2020_pdf_02-orahovica-lokalni-2020-gradsko-vijece-rezultati-zapisnik.pdf
890608,2024-12-01 02:47:36.550147,https://strukovna.com/2021/06/18/natjecaj-za-upis-ucenika-u-i-razred-za-2021-2022-skolsku-godinu/
890609,2024-12-01 02:47:42.564281,https://strukovna.com/author/ljupko-tomic/

Croatia, history number 3
Last 5 records

,synthetic_time,synthetic_url
886212,2024-11-30 22:33:57.220524,https://www.quora.com/
886213,2024-11-30 23:22:29.177264,https://strahoninec.hr/cloud/index.php/s/ijnpnzdw7bxzm9z
886214,2024-12-01 02:55:59.560339,https://www.orahovica.hr/2016/11/odrzana-skupstina-reda-vitezova-ruzice-grada/
886215,2024-12-01 02:56:02.965005,https://strukovna.com/2021/06/18/natjecaj-za-upis-ucenika-u-i-razred-za-2021-2022-skolsku-godinu/
886216,2024-12-01 02:56:08.979139,https://strukovna.com/author/ljupko-tomic/

Croatia, history number 4
Last 5 records

,synthetic_time,synthetic_url
875266,2024-11-30 21:30:02.074435,https://ferata.hr
875267,2024-11-30 22:18:34.031175,https://www.gornjimihaljevec.hr/dokumenti/udruge_natjecaj_202103052021155821/
875268,2024-12-01 01:52:04.414250,https://strukovna.com/2017/11/13/rezultati-javnog-poziva-za-put-u-zagreb-reboot-infogamer/
875269,2024-12-01 01:52:07.818916,https://www.orahovica.hr/2010/03/lokalni-projekti-razvoja-malog-gospodarstva-2009-lpr-mg-09/images/pdf/javni%20natjecaj-lpr-mg-09.pdf
875270,2024-12-01 01:52:13.833050,https://strukovna.com/category/zbirka/page/2/

Croatia, history number 5
Last 5 records

,synthetic_time,synthetic_url
881845,2024-11-30 22:26:20.715239,https://orehovica.hr
881846,2024-11-30 23:14:52.671979,https://petrijanec.hr/category/djecji_svijet/page/2/
881847,2024-12-01 02:48:23.055054,https://strukovna.com/2017/11/13/rezultati-javnog-poziva-za-put-u-zagreb-reboot-infogamer/
881848,2024-12-01 02:48:26.459720,https://www.orahovica.hr/download/izgradnja-i-opremanje-reciklaznog-dvorista-u-gradu-orahovici/
881849,2024-12-01 02:48:32.473854,https://www.orahovica.hr/povijest-grada/

Croatia, history number 6
Last 5 records

,synthetic_time,synthetic_url
884031,2024-11-30 22:38:39.253616,https://www.quora.com/
884032,2024-11-30 23:27:11.210356,http://www.obrovac.hr/dokumenti/dokumenti/planovi-i-programi?start=20
884033,2024-12-01 03:00:41.593431,https://strukovna.com/2019/10/16/nasi-ucenici-prvaci-opcinskog-natjecanja-u-krosu/
884034,2024-12-01 03:00:44.998097,https://www.orahovica.hr/2017/12/odrzan-koncert-polaznika-osnovne-glazbene-skole-slatina-podrucni-odjel-orahovica/
884035,2024-12-01 03:00:51.012231,https://strukovna.com/category/zbirka/page/2/

Croatia, history number 7
Last 5 records

,synthetic_time,synthetic_url
888398,2024-11-30 23:13:05.101216,https://www.quora.com/
888399,2024-12-01 00:01:37.057956,https://www.donjastubica.hr/jedinstveni-upravni-odjel-i-vlastiti-pogon/
888400,2024-12-01 03:35:07.441031,https://www.orahovica.hr/wp-content/uploads/2020/07/slikegodina2020_pdf_02-orahovica-lokalni-2020-gradsko-vijece-rezultati-zapisnik.pdf
888401,2024-12-01 03:35:10.845697,https://www.orahovica.hr/2025/02/obavijest-gradanima-orahovice-zbog-otklanjanja-kvarova-na-ulicnim-plinovodima-prekid-opskrbe-plinom-u-nekoliko-ulica/
888402,2024-12-01 03:35:16.859831,https://www.orahovica.hr/povijest-grada/

Croatia, history number 8
Last 5 records

,synthetic_time,synthetic_url
894983,2024-11-30 22:47:44.700322,https://www.quora.com/
894984,2024-11-30 23:36:16.657062,https://www.np-brijuni.hr/en/brijuni/the-brijuni-archipelago/mali-brijun
894985,2024-12-01 03:09:47.040137,https://www.orahovica.hr/2023/07/u-orahovici-odrzana-akcija-dobrovoljnog-darivanja-krvi-prikupljeno-69-doza/
894986,2024-12-01 03:09:50.444803,https://strukovna.com/2017/11/13/rezultati-javnog-poziva-za-put-u-zagreb-reboot-infogamer/
894987,2024-12-01 03:09:56.458937,https://strukovna.com/category/zbirka/page/2/

Croatia, history number 9
Last 5 records

,synthetic_time,synthetic_url
877454,2024-11-30 22:14:56.891194,https://geoskola.hr
877455,2024-11-30 23:03:28.847934,https://www.porec.hr/prva.aspx?stranica=13519&pid=5
877456,2024-12-01 02:36:59.231009,https://strukovna.com/2021/06/18/natjecaj-za-upis-ucenika-u-i-razred-za-2021-2022-skolsku-godinu/
877457,2024-12-01 02:37:02.635675,https://www.orahovica.hr/2017/12/odrzan-koncert-polaznika-osnovne-glazbene-skole-slatina-podrucni-odjel-orahovica/
877458,2024-12-01 02:37:08.649809,https://strukovna.com/category/zbirka/page/2/

Czechia, history number 0
Last 5 records

,synthetic_time,synthetic_url
857985,2024-11-30 22:18:37.990626,https://cvut.cz
857986,2024-11-30 23:07:09.947366,https://www.websnadno.cz/pricelist/terms/?personal
857987,2024-12-01 02:40:40.330441,https://www.czu.cz/cs/r-7229-aktuality-czu/czu-obhajuje-sve-prvenstvi-v-udrzitelnosti.html
857988,2024-12-01 02:40:43.735107,https://www.npsumava.cz/navstivte-sumavu/navstevnicka-centra/informacni-stredisko-stozec/
857989,2024-12-01 02:40:49.749241,https://www.geospeleos.com/taurus/index.htm

Czechia, history number 1
Last 5 records

,synthetic_time,synthetic_url
873082,2024-11-30 22:59:08.896961,https://cvut.cz
873083,2024-11-30 23:47:40.853701,https://www.websnadno.cz/pricelist/terms/?personal
873084,2024-12-01 03:21:11.236776,https://www.czu.cz/cs/r-7214-mezinarodni-vztahy/r-7737-aktuality-mezinarodni-vztahy/letni-skola-ells-v-israeli.html
873085,2024-12-01 03:21:14.641442,https://www.czu.cz/cs/r-7229-aktuality-czu/technicka-fakulta-je-i-v-roce-2024-kralovnou-sportovnich-her.html
873086,2024-12-01 03:21:20.655576,https://www.geospeleos.com/taurus/index.htm

Czechia, history number 2
Last 5 records

,synthetic_time,synthetic_url
868760,2024-11-30 22:04:58.282822,https://cvut.cz
868761,2024-11-30 22:53:30.239562,https://www.websnadno.cz/pricelist/terms/?personal
868762,2024-12-01 02:27:00.622637,https://www.npsumava.cz/sprava-np/uzemi-pod-spravou-nps/legislativni-ochrana-uzemi/
868763,2024-12-01 02:27:04.027303,https://www.czu.cz/cs/r-7229-aktuality-czu/technicka-fakulta-je-i-v-roce-2024-kralovnou-sportovnich-her.html
868764,2024-12-01 02:27:10.041437,https://www.info-cechy.cz/c38dvp57/index.html

Czechia, history number 3
Last 5 records

,synthetic_time,synthetic_url
860134,2024-11-30 21:14:19.997406,https://cvut.cz
860135,2024-11-30 22:02:51.954146,https://www.websnadno.cz/pricelist/terms/?personal
860136,2024-12-01 01:36:22.337221,https://www.hvezdarna.cz/astrokurz/index.php?kurz=1&kapitola=16&podkapitola=89
860137,2024-12-01 01:36:25.741887,https://www.czu.cz/cs/r-7229-aktuality-czu/prvni-misto-pro-startup-z-czu.html
860138,2024-12-01 01:36:31.756021,https://www.info-cechy.cz/a3pd277/index.html

Czechia, history number 4
Last 5 records

,synthetic_time,synthetic_url
866597,2024-11-30 21:35:59.507239,https://cvut.cz
866598,2024-11-30 22:24:31.463979,https://www.zoopraha.cz/navsteva/program/week.listevents/2024/10/07/-
866599,2024-12-01 01:58:01.847054,https://www.czu.cz/cs/r-7214-mezinarodni-vztahy/r-7737-aktuality-mezinarodni-vztahy/letni-skola-ells-v-israeli.html
866600,2024-12-01 01:58:05.251720,https://www.czu.cz/en/r-9190-international-relations/r-18688-welcome-centre-for-international-scholars/r-18851-welcome-centre-news/easter-trip-with-the-welcome-centre.html
866601,2024-12-01 01:58:11.265854,https://www.info-cechy.cz/j5l1ttuv/index.html

Czechia, history number 5
Last 5 records

,synthetic_time,synthetic_url
853651,2024-11-30 21:37:40.051827,https://cvut.cz
853652,2024-11-30 22:26:12.008567,https://www.zoopraha.cz/navsteva/program/week.listevents/2024/10/07/-
853653,2024-12-01 01:59:42.391642,https://www.czu.cz/cs/r-7229-aktuality-czu/technicka-fakulta-je-i-v-roce-2024-kralovnou-sportovnich-her.html
853654,2024-12-01 01:59:45.796308,https://www.npsumava.cz/odbornici-slavi-na-sumave-objevili-dalsi-vymizele-druhy-brouku/
853655,2024-12-01 01:59:51.810442,https://geospeleos.com/pages/intro.htm

Czechia, history number 6
Last 5 records

,synthetic_time,synthetic_url
864432,2024-11-30 21:36:33.844305,https://cvut.cz
864433,2024-11-30 22:25:05.801045,"https://www.websnadno.cz/?banner=%5bzelvy.wbs.cz,88x31%5d"
864434,2024-12-01 01:58:36.184120,https://www.hvezdarna.cz/newsletter/zdenek-pokorny-pribeh-nesmrtelnych-poutniku-boj-o-preziti-ii/
864435,2024-12-01 01:58:39.588786,https://www.npsumava.cz/navstivte-sumavu/navstevnicka-centra/informacni-stredisko-polednik/ostrovni-system-rozhledny-polednik/
864436,2024-12-01 01:58:45.602920,https://www.info-cechy.cz/t7scu1ax/index.html

Czechia, history number 7
Last 5 records

,synthetic_time,synthetic_url
862292,2024-11-30 21:24:55.800432,https://cvut.cz
862293,2024-11-30 22:13:27.757172,"https://www.websnadno.cz/?banner=%5bzelvy.wbs.cz,88x31%5d"
862294,2024-12-01 01:46:58.140247,https://www.hvezdarna.cz/newsletter/zdenek-pokorny-pribeh-nesmrtelnych-poutniku-boj-o-preziti-ii/
862295,2024-12-01 01:47:01.544913,https://www.czu.cz/cs/r-7210-o-czu/r-7702-oficialni-dokumenty/r-7812-vyrocni-zpravy
862296,2024-12-01 01:47:07.559047,https://www.hvezdarna.cz/mapa/index.php?id=41

Czechia, history number 8
Last 5 records

,synthetic_time,synthetic_url
855810,2024-11-30 21:49:19.987927,https://cvut.cz
855811,2024-11-30 22:37:51.944667,https://www.websnadno.cz/pricelist/terms/?personal
855812,2024-12-01 02:11:22.327742,https://www.czu.cz/cs/r-7229-aktuality-czu/prvni-misto-pro-startup-z-czu.html
855813,2024-12-01 02:11:25.732408,https://geospeleos.com/literatura/literaturac/c007-24-krasoveprameny.htm
855814,2024-12-01 02:11:31.746542,https://www.info-cechy.cz/c38dvp57/index.html

Czechia, history number 9
Last 5 records

,synthetic_time,synthetic_url
870924,2024-11-30 21:06:15.620377,https://cvut.cz
870925,2024-11-30 21:54:47.577117,https://www.zoopraha.cz/navsteva/program/week.listevents/2024/10/07/-
870926,2024-12-01 01:28:17.960192,https://www.czu.cz/cs/r-7229-aktuality-czu/prvni-misto-pro-startup-z-czu.html
870927,2024-12-01 01:28:21.364858,https://www.czu.cz/cs/r-7229-aktuality-czu/czu-mobilab-nabizi-komplexni-reseni-detekce-infekcnich-onemo.html
870928,2024-12-01 01:28:27.378992,https://www.geospeleos.com/petrbok/intro.htm

Denmark, history number 0
Last 5 records

,synthetic_time,synthetic_url
833997,2024-11-30 22:19:09.419971,https://naturstyrelsen.dk
833998,2024-11-30 23:07:41.376711,https://www.legoland.dk/se/utforska/parken/aakattraktioner/lego-canoe/
833999,2024-12-01 02:41:11.759786,https://naturstyrelsen.dk/find-et-naturomraade/naturguider/hovedstaden-og-nordsjaelland/store-dyrehave
834000,2024-12-01 02:41:15.164452,https://www.sermitsiaq.ag/samfund/chefredaktoren-anbefaler-et-stort-apparat-gar-i-gang/1292934
834001,2024-12-01 02:41:21.178586,https://www.tvsporten.dk/betting/poker-bonus/

Denmark, history number 1
Last 5 records

,synthetic_time,synthetic_url
847111,2024-11-30 23:11:42.775565,https://www.okolariet.dk/
847112,2024-12-01 00:00:14.732305,https://www.legoland.dk/se/utforska/parken/aakattraktioner/trafikskolan/
847113,2024-12-01 03:33:45.115380,https://naturstyrelsen.dk/find-et-naturomraade/naturguider/soenderjylland/graastenskovene/aaret-rundt
847114,2024-12-01 03:33:48.520046,https://naturstyrelsen.dk/ny-natur/skovrejsning/aabybro-biersted-skovrejsning
847115,2024-12-01 03:33:54.534180,https://www.tvsporten.dk/betting/sommer-ol/odds/

Denmark, history number 2
Last 5 records

,synthetic_time,synthetic_url
849301,2024-11-30 22:33:30.564926,https://tvsporten.dk
849302,2024-11-30 23:22:02.521666,https://www.legoland.dk/en/security-and-regulations/privacy-notice/
849303,2024-12-01 02:55:32.904741,https://naturstyrelsen.dk/aktiviteter-i-naturen/ved-vandet/lystfiskeri-og-fisketegn
849304,2024-12-01 02:55:36.309407,https://www.sermitsiaq.ag/samfund/chefredaktoren-anbefaler-el-nok-til-60000-i-nuuk/157878
849305,2024-12-01 02:55:42.323541,https://www.okolariet.dk/viden-om/mad/tang

Denmark, history number 3
Last 5 records

,synthetic_time,synthetic_url
836167,2024-11-30 21:14:28.343397,https://faktalink.dk
836168,2024-11-30 22:03:00.300137,https://www.legoland.dk/en/security-and-regulations/privacy-notice/
836169,2024-12-01 01:36:30.683212,https://www.sermitsiaq.ag/samfund/analytikere-siumuts-slingrekurs-koster-vaelgere/491163
836170,2024-12-01 01:36:34.087878,https://www.okolariet.dk/undervisning-og-laering/laer-selv-vild-med-verdensmalene/verdensmal-9-industri-innovation-og-infrastruktur
836171,2024-12-01 01:36:40.102012,https://www.okolariet.dk/se-udstillingerne

Denmark, history number 4
Last 5 records

,synthetic_time,synthetic_url
842745,2024-11-30 23:07:52.079846,https://www.okolariet.dk/
842746,2024-11-30 23:56:24.036586,https://www.legoland.dk/se/utforska/parken/aakattraktioner/lego-canoe/
842747,2024-12-01 03:29:54.419661,https://naturstyrelsen.dk/find-et-naturomraade/foldere/hovedstaden-og-nordsjaelland/hareskovene
842748,2024-12-01 03:29:57.824327,https://www.sermitsiaq.ag/kultur/far-og-son-skriver-100-ars-gronlandshistorie/2222466
842749,2024-12-01 03:30:03.838461,https://www.okolariet.dk/viden-om/mad/tang

Denmark, history number 5
Last 5 records

,synthetic_time,synthetic_url
851506,2024-11-30 21:37:59.472707,https://faktalink.dk
851507,2024-11-30 22:26:31.429447,https://www.legoland.dk/en/explore/the-park/areas/miniland/
851508,2024-12-01 02:00:01.812522,https://naturstyrelsen.dk/find-et-naturomraade/foldere/hovedstaden-og-nordsjaelland/hareskovene
851509,2024-12-01 02:00:05.217188,https://naturstyrelsen.dk/ny-natur/lavbundsprojekter/horne-kaer-lavbundsprojekt-forundersoegelse
851510,2024-12-01 02:00:11.231322,https://www.tvsporten.dk/betting/sommer-ol/odds/

Denmark, history number 6
Last 5 records

,synthetic_time,synthetic_url
838367,2024-11-30 23:01:10.082807,https://digitalt.tv
838368,2024-11-30 23:49:42.039547,https://www.legoland.dk/en/explore/the-park/shows/meet-n-greet-popstars/
838369,2024-12-01 03:23:12.422622,https://www.sermitsiaq.ag/samfund/27-meper-stotter-sea-shepherds-klage-til-eu/422215
838370,2024-12-01 03:23:15.827288,https://naturstyrelsen.dk/find-et-naturomraade/naturguider/soenderjylland/graastenskovene/aaret-rundt
838371,2024-12-01 03:23:21.841422,https://www.tvsporten.dk/betting/sommer-ol/odds/

Denmark, history number 7
Last 5 records

,synthetic_time,synthetic_url
831815,2024-11-30 23:03:48.707905,https://www.sermitsiaq.ag/
831816,2024-11-30 23:52:20.664645,https://www.legoland.dk/se/utforska/parken/aakattraktioner/trafikskolan/
831817,2024-12-01 03:25:51.047720,https://www.sermitsiaq.ag/samfund/byggeri-af-royal-greenlands-nye-hovedkontor-igangsat/2136931
831818,2024-12-01 03:25:54.452386,https://www.okolariet.dk/ta-ud-i-naturen/pa-opdagelse-i-vejle-adal/skilte-i-torskindsomradet/vejle-adal-en-naturperle-fra-istiden
831819,2024-12-01 03:26:00.466520,https://www.tvsporten.dk/betting/poker-bonus/

Denmark, history number 8
Last 5 records

,synthetic_time,synthetic_url
840563,2024-11-30 21:44:33.119247,https://naturstyrelsen.dk
840564,2024-11-30 22:33:05.075987,https://www.legoland.dk/se/utforska/parken/aakattraktioner/trafikskolan/
840565,2024-12-01 02:06:35.459062,https://www.okolariet.dk/undervisning-og-laering/laer-selv-vild-med-verdensmalene/mal-2-13-og-15-stop-sultklimaindsatslivet-pa-land-skru-op-for-grontsagerne
840566,2024-12-01 02:06:38.863728,https://www.okolariet.dk/undervisning-og-laering/laer-selv-vild-med-verdensmalene/mal-15-livet-pa-land-hjaelp-fuglene
840567,2024-12-01 02:06:44.877862,https://www.tvsporten.dk/betting/poker-bonus/

Denmark, history number 9
Last 5 records

,synthetic_time,synthetic_url
844932,2024-11-30 21:23:20.224401,https://sermitsiaq.ag
844933,2024-11-30 22:11:52.181141,https://www.legoland.dk/en/explore/the-park/areas/miniland/
844934,2024-12-01 01:45:22.564216,https://www.sermitsiaq.ag/samfund/chefredaktoren-anbefaler-el-nok-til-60000-i-nuuk/157878
844935,2024-12-01 01:45:25.968882,https://naturstyrelsen.dk/vildere-natur/naturnationalparker/saadan-har-processen-vaeret-for-naturnationalparkerne-indtil-nu/23-forslag-til-danmarks-nye-naturnationalparker
844936,2024-12-01 01:45:31.983016,https://www.tvsporten.dk/betting/poker-bonus/

Egypt, history number 0
Last 5 records

,synthetic_time,synthetic_url
825383,2024-11-30 21:49:25.565217,https://www.quora.com/
825384,2024-11-30 22:37:57.521957,https://www.mbc.net/ar/channels?title=mbc%20masr%202
825385,2024-12-01 02:11:27.905032,https://www.alrakoba.net/31441459/%d8%a2%d9%86-%d8%a7%d9%84%d8%a3%d9%88%d8%a7%d9%86-%d9%84%d8%a5%d9%8a%d9%82%d8%a7%d9%81-%d9%87%d8%b0%d8%a7-%d8%a7%d9%84%d9%85%d9%85%d8%a7%d8%b1%d8%b3%d8%a9-%d8%a7%d9%84%d8%b6%d8%a7%d8%b1%d8%a9-%d8%a8/
825386,2024-12-01 02:11:31.309698,https://www.alrakoba.net/31912530/%d8%a7%d9%84%d9%85%d8%af%d9%8a%d8%b1-%d8%a7%d9%84%d8%aa%d9%86%d9%81%d9%8a%d8%b0%d9%8a-%d9%84%d9%85%d8%ad%d9%84%d9%8a%d8%a9-%d9%83%d9%8f%d8%aa%d9%85-%d9%8a%d8%b3%d8%b1%d9%82-%d9%85%d8%b3%d8%a7%d8%b9/%d8%a7%d9%84%d9%85%d8%af%d9%8a%d8%b1-%d8%a7%d9%84%d8%aa%d9%86%d9%81%d9%8a%d8%b0%d9%8a-%d9%84%d9%85%d8%ad%d9%84%d9%8a%d8%a9-%d9%83%d8%aa%d9%85/
825387,2024-12-01 02:11:37.323832,https://swisswellnessdive.ch/privacy-policy/

Egypt, history number 1
Last 5 records

,synthetic_time,synthetic_url
823241,2024-11-30 22:16:17.855138,https://swisswellnessdive.ch
823242,2024-11-30 23:04:49.811878,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
823243,2024-12-01 02:38:20.194953,https://firnasshuman.com/projects/110-m-permanent-wind-measurement-mast-supply-and-installation-for-power-curve-measurement-in-jordan/
823244,2024-12-01 02:38:23.599619,https://firnasshuman.com/projects/environmental-and-social-management-system-esms-consultancy-for-rift-valley-railways-in-kenya-and-uganda/
823245,2024-12-01 02:38:29.613753,https://swisswellnessdive.ch/author/limmattal/

Egypt, history number 2
Last 5 records

,synthetic_time,synthetic_url
810434,2024-11-30 22:14:15.944801,https://www.quora.com/
810435,2024-11-30 23:02:47.901541,https://www.mbc.net/ar/channels?title=mbc%20masr%202
810436,2024-12-01 02:36:18.284616,https://qsitint.com/portfolio/gis-system-for-the-central-statistical-office-cso/
810437,2024-12-01 02:36:21.689282,https://firnasshuman.com/projects/midterm-review-for-electricity-generation-namibia/
810438,2024-12-01 02:36:27.703416,https://firnasshuman.com/tag/lidar/

Egypt, history number 3
Last 5 records

,synthetic_time,synthetic_url
829632,2024-11-30 21:15:07.755159,https://firnasshuman.com
829633,2024-11-30 22:03:39.711899,https://www.mbc.net/ar/ir/reports-and-presentations
829634,2024-12-01 01:37:10.094974,https://www.alrakoba.net/31441459/%d8%a2%d9%86-%d8%a7%d9%84%d8%a3%d9%88%d8%a7%d9%86-%d9%84%d8%a5%d9%8a%d9%82%d8%a7%d9%81-%d9%87%d8%b0%d8%a7-%d8%a7%d9%84%d9%85%d9%85%d8%a7%d8%b1%d8%b3%d8%a9-%d8%a7%d9%84%d8%b6%d8%a7%d8%b1%d8%a9-%d8%a8/
829635,2024-12-01 01:37:13.499640,https://firnasshuman.com/projects/supply-installation-and-measurement-campaign-management-for-a-50-mw-solar-power-plant-in-zaafarana-egypt/
829636,2024-12-01 01:37:19.513774,http://qsitint.com/careers/

Egypt, history number 4
Last 5 records

,synthetic_time,synthetic_url
812556,2024-11-30 22:54:17.346333,https://besraha.com
812557,2024-11-30 23:42:49.303073,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
812558,2024-12-01 03:16:19.686148,https://www.alrakoba.net/31443013/%d8%ac%d8%af%d9%84-%d9%83%d8%ab%d9%8a%d9%81-%d8%ad%d9%88%d9%84-%d8%a5%d9%81%d8%a7%d8%af%d8%a7%d8%aa-%d8%a7%d9%84%d8%a8%d8%b4%d9%8a%d8%b1-%d9%88%d8%b9%d9%84%d9%8a-%d8%a7%d9%84%d8%ad%d8%a7%d8%ac-%d9%88/
812559,2024-12-01 03:16:23.090814,https://firnasshuman.com/projects/supply-installation-commissioning-and-om-of-80-meter-mast-for-wind-resource-measurement-in-ras-ghareb-egypt/
812560,2024-12-01 03:16:29.104948,https://swisswellnessdive.ch/privacy-policy/

Egypt, history number 5
Last 5 records

,synthetic_time,synthetic_url
821108,2024-11-30 21:48:13.671531,https://www.quora.com/
821109,2024-11-30 22:36:45.628271,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
821110,2024-12-01 02:10:16.011346,https://firnasshuman.com/projects/installation-of-two-114-meter-self-supporting-masts-in-senegal/
821111,2024-12-01 02:10:19.416012,https://qsitint.com/portfolio/gis-system-for-the-central-statistical-office-cso/
821112,2024-12-01 02:10:25.430146,https://swisswellnessdive.ch/4984-2/

Egypt, history number 6
Last 5 records

,synthetic_time,synthetic_url
814683,2024-11-30 21:20:32.222717,https://mexatk.com/
814684,2024-11-30 22:09:04.179457,https://www.mbc.net/ar/channels?title=mbc%20masr%202
814685,2024-12-01 01:42:34.562532,https://www.alrakoba.net/32016286/%d9%8a%d8%a7%d8%ad%d9%85%d9%8a%d8%af%d8%aa%d9%89-%d9%85%d9%87%d8%a7%d8%ac%d9%85%d8%a9-%d8%b9%d8%b7%d8%a8%d8%b1%d8%a9-%d9%88%d8%b4%d9%86%d8%af%d9%89-%d9%88%d9%85%d8%b1%d9%88%d9%8a-%d8%ae%d8%b7-%d8%a7/
814686,2024-12-01 01:42:37.967198,https://firnasshuman.com/projects/midterm-review-for-electricity-generation-namibia/
814687,2024-12-01 01:42:43.981332,https://qsitint.com/product-solutions/gss/

Egypt, history number 7
Last 5 records

,synthetic_time,synthetic_url
827508,2024-11-30 22:48:51.251445,https://qsitint.com/
827509,2024-11-30 23:37:23.208185,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
827510,2024-12-01 03:10:53.591260,https://firnasshuman.com/projects/110-m-permanent-wind-measurement-mast-supply-and-installation-for-power-curve-measurement-in-jordan/
827511,2024-12-01 03:10:56.995926,http://qsitint.com/portfolio/gis-for-the-supreme-commission-for-tourism-sct/
827512,2024-12-01 03:11:03.010060,https://swisswellnessdive.ch/night-dive/

Egypt, history number 8
Last 5 records

,synthetic_time,synthetic_url
816818,2024-11-30 22:28:47.794146,https://amwalalghad.com/
816819,2024-11-30 23:17:19.750886,https://www.mbc.net/ar/channels?title=mbc%20masr%202
816820,2024-12-01 02:50:50.133961,https://www.alrakoba.net/31443013/%d8%ac%d8%af%d9%84-%d9%83%d8%ab%d9%8a%d9%81-%d8%ad%d9%88%d9%84-%d8%a5%d9%81%d8%a7%d8%af%d8%a7%d8%aa-%d8%a7%d9%84%d8%a8%d8%b4%d9%8a%d8%b1-%d9%88%d8%b9%d9%84%d9%8a-%d8%a7%d9%84%d8%ad%d8%a7%d8%ac-%d9%88/
816821,2024-12-01 02:50:53.538627,https://www.alrakoba.net/31912530/%d8%a7%d9%84%d9%85%d8%af%d9%8a%d8%b1-%d8%a7%d9%84%d8%aa%d9%86%d9%81%d9%8a%d8%b0%d9%8a-%d9%84%d9%85%d8%ad%d9%84%d9%8a%d8%a9-%d9%83%d9%8f%d8%aa%d9%85-%d9%8a%d8%b3%d8%b1%d9%82-%d9%85%d8%b3%d8%a7%d8%b9/%d8%a7%d9%84%d9%85%d8%af%d9%8a%d8%b1-%d8%a7%d9%84%d8%aa%d9%86%d9%81%d9%8a%d8%b0%d9%8a-%d9%84%d9%85%d8%ad%d9%84%d9%8a%d8%a9-%d9%83%d8%aa%d9%85/
816822,2024-12-01 02:50:59.552761,https://swisswellnessdive.ch/product/2-days-diving/

Egypt, history number 9
Last 5 records

,synthetic_time,synthetic_url
818963,2024-11-30 21:28:33.276348,https://mexatk.com/
818964,2024-11-30 22:17:05.233088,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
818965,2024-12-01 01:50:35.616163,https://qsitint.com/portfolio/ministry-of-social-solidarity-moss-geospatial-platform/
818966,2024-12-01 01:50:39.020829,https://firnasshuman.com/projects/supply-installation-and-measurement-campaign-management-for-a-50-mw-solar-power-plant-in-zaafarana-egypt/
818967,2024-12-01 01:50:45.034963,https://swisswellnessdive.ch/product/2-days-diving/

Estonia, history number 0
Last 5 records

,synthetic_time,synthetic_url
799339,2024-11-30 21:25:41.214711,https://valgehobu.ee/
799340,2024-11-30 22:14:13.171451,https://www.udumae.ee/vaatamisvaarsused/helme-mois/
799341,2024-12-01 01:47:43.554526,https://etag.ee/en/etag-supports-ukrainian-researchers-participation-in-estonian-research-groups-and-short-term-study-visits-to-estonian-universities/
799342,2024-12-01 01:47:46.959192,https://www.valimised.ee/en/internet-voting/more-about-i-voting/e-voting-other-countries
799343,2024-12-01 01:47:52.973326,https://citybike.ee/blog/tag/train/

Estonia, history number 1
Last 5 records

,synthetic_time,synthetic_url
797101,2024-11-30 23:11:48.294298,https://www.valimised.ee
797102,2024-12-01 00:00:20.251038,https://www.udumae.ee/bussien-tilaus/mercedes-benz/
797103,2024-12-01 03:33:50.634113,https://citybike.ee/blog/being-environmentally-conscious-how-we-try-to-do-it/
797104,2024-12-01 03:33:54.038779,https://www.valimised.ee/et/valimiste-meelespea/vabariigi-presidendi-valimine
797105,2024-12-01 03:34:00.052913,https://citybike.ee/bike-repair-service/

Estonia, history number 2
Last 5 records

,synthetic_time,synthetic_url
790387,2024-11-30 21:13:41.723753,https://valgehobu.ee/
790388,2024-11-30 22:02:13.680493,https://jarvavald.ee/jarva-maakonna-terviseprofiil
790389,2024-12-01 01:35:44.063568,https://www.valimised.ee/en/archive/local-government-council-elections/municipal-council-election-2017
790390,2024-12-01 01:35:47.468234,https://citybike.ee/blog/being-environmentally-conscious-how-we-try-to-do-it/
790391,2024-12-01 01:35:53.482368,https://www.valimised.ee/et/?page=60

Estonia, history number 3
Last 5 records

,synthetic_time,synthetic_url
801588,2024-11-30 22:06:27.410453,https://raespordikeskus.ee
801589,2024-11-30 22:54:59.367193,https://www.tooelu.ee/en/68/work-related-stress-and-burnout
801590,2024-12-01 02:28:29.750268,https://etag.ee/en/event/digital-solutions-for-smart-and-sustainable-agriculture-and-rural-development/
801591,2024-12-01 02:28:33.154934,https://www.valimised.ee/en/electoral-organizers/state-electoral-office/state-electoral-office-estonia
801592,2024-12-01 02:28:39.169068,https://citybike.ee/bike-rental/

Estonia, history number 4
Last 5 records

,synthetic_time,synthetic_url
788163,2024-11-30 22:44:13.852629,https://goodnews.ee
788164,2024-11-30 23:32:45.809369,https://voruvald.ee/et/sadeinimeste-tunnustamine-2024
788165,2024-12-01 03:06:16.192444,https://www.valimised.ee/et/valimiste-meelespea/vabariigi-presidendi-valimine
788166,2024-12-01 03:06:19.597110,https://www.valimised.ee/en/local-government-council-elections-19-october-2025
788167,2024-12-01 03:06:25.611244,https://citybike.ee/blog/tag/sunday/

Estonia, history number 5
Last 5 records

,synthetic_time,synthetic_url
794857,2024-11-30 21:41:43.772703,https://valgehobu.ee/
794858,2024-11-30 22:30:15.729443,https://udumae.ee/vaatamisvaarsused/vabadussoja-malestussammas/
794859,2024-12-01 02:03:46.112518,https://www.valimised.ee/en/local-government-council-elections-19-october-2025
794860,2024-12-01 02:03:49.517184,https://etag.ee/en/funding/mobility-funding/returning-researcher-grant/documents-and-results/
794861,2024-12-01 02:03:55.531318,https://citybike.ee/bike-rental/

Estonia, history number 6
Last 5 records

,synthetic_time,synthetic_url
792624,2024-11-30 22:56:34.751356,https://goodnews.ee
792625,2024-11-30 23:45:06.708096,https://eelk.ee/inc.vastus.php?id=56&liigi_id=2
792626,2024-12-01 03:18:37.091171,https://etag.ee/en/the-estonian-research-council-celebrates-brussels-office-anniversary-with-the-international-community/
792627,2024-12-01 03:18:40.495837,https://etag.ee/en/funding/research-funding/personal-research-funding/call-2024/
792628,2024-12-01 03:18:46.509971,https://citybike.ee/blog/tag/sunday/

Estonia, history number 7
Last 5 records

,synthetic_time,synthetic_url
808293,2024-11-30 23:05:46.081917,https://raespordikeskus.ee
808294,2024-11-30 23:54:18.038657,https://www.wondershare.com/ai-solutions/social-media.html?cmpscreencustom
808295,2024-12-01 03:27:48.421732,https://www.valimised.ee/et/korraldajad/riigi-valimisteenistus/valimisteenistuse-tootajad
808296,2024-12-01 03:27:51.826398,https://www.valimised.ee/en/internet-voting/guidelines/voter-applications-and-checking-authenticity
808297,2024-12-01 03:27:57.840532,https://citybike.ee/blog/tag/sunday/

Estonia, history number 8
Last 5 records

,synthetic_time,synthetic_url
803811,2024-11-30 22:34:53.242674,https://valgehobu.ee/
803812,2024-11-30 23:23:25.199414,https://avasta.me/uudised/anna-oma-laps-ules-kristjan-joekalda/
803813,2024-12-01 02:56:55.582489,https://www.valimised.ee/en/estonian-elections-nutshell/president-republic-estonia-elections
803814,2024-12-01 02:56:58.987155,https://etag.ee/en/funding/research-funding/personal-research-funding/call-2024/
803815,2024-12-01 02:57:05.001289,https://www.valimised.ee/en/news?page=0

Estonia, history number 9
Last 5 records

,synthetic_time,synthetic_url
806049,2024-11-30 22:14:59.908313,https://citybike.ee
806050,2024-11-30 23:03:31.865053,https://eelk.ee/lauluraamat_klpr/laulu-lugu/ja-rahu-meile-toob/
806051,2024-12-01 02:37:02.248128,https://www.valimised.ee/en/archive/local-government-council-elections/municipal-council-election-2017
806052,2024-12-01 02:37:05.652794,https://www.valimised.ee/en/estonian-elections-nutshell/voting-election-day/voting-election-day
806053,2024-12-01 02:37:11.666928,https://citybike.ee/bike-rental/

Finland, history number 0
Last 5 records

,synthetic_time,synthetic_url
776039,2024-11-30 21:19:45.304900,https://suomi24.fi
776040,2024-11-30 22:08:17.261640,https://www.prh.fi/fi/tilintarkastuslautakunta.html
776041,2024-12-01 01:41:47.644715,https://www.nurmes.fi/2025/03/gunnar-akkola-purskahdus-kadmiumeltaista-nayttelyn-avajaiset-kotsin-museossa-1-4-klo-17/
776042,2024-12-01 01:41:51.049381,https://www.kankaanpaa.fi/influenssarokotukset-aloitetaan-posan-alueella-marraskuussa/
776043,2024-12-01 01:41:57.063515,https://www.urheiluhallit.fi/hallit/pasila/

Finland, history number 1
Last 5 records

,synthetic_time,synthetic_url
768124,2024-11-30 22:17:41.787550,https://suomi24.fi
768125,2024-11-30 23:06:13.744290,https://www.prh.fi/fi/tilintarkastuslautakunta.html
768126,2024-12-01 02:39:44.127365,https://www.kankaanpaa.fi/posa-on-asettanut-14-vrkn-mittaisen-vierailukiellon-posan-alueen-ymparivuorokautiseen-hoivaan-ja-terveyskeskussairaalaan/
768127,2024-12-01 02:39:47.532031,https://lapua.fi/tapahtumia/futsal-kakkonen%2c-ponnistus---fc-sein%c3%a4joki/
768128,2024-12-01 02:39:53.546165,https://pietarsaari.fi/contact/vuokko-korpi-2

Finland, history number 2
Last 5 records

,synthetic_time,synthetic_url
774063,2024-11-30 22:22:07.023905,https://suomi24.fi
774064,2024-11-30 23:10:38.980645,https://www.prh.fi/fi/tilintarkastuslautakunta.html
774065,2024-12-01 02:44:09.363720,https://lapua.fi/hallinto-ja-paatoksenteko/luottamushenkilot/hyvinvointilautakunta/
774066,2024-12-01 02:44:12.768386,https://parkano.fi/tapahtuma/parkano-vs-karvia-kuntakumppanuuspyoraily/
774067,2024-12-01 02:44:18.782520,https://www.kankaanpaa.fi/category/perusopetus/

Finland, history number 3
Last 5 records

,synthetic_time,synthetic_url
770106,2024-11-30 22:57:11.107359,https://suomi24.fi
770107,2024-11-30 23:45:43.064099,https://www.prh.fi/fi/tilintarkastuslautakunta.html
770108,2024-12-01 03:19:13.447174,https://parkano.fi/tapahtuma/ohjaamotoiminta-on-kaynnistynyt-parkanossa-2/
770109,2024-12-01 03:19:16.851840,https://www.loimaa.fi/en/front-page/housing-and-the-environment/housing-and-plots/vacant-plots/moisionpelto/
770110,2024-12-01 03:19:22.865974,https://lapua.fi/fegskills/hanke/

Finland, history number 4
Last 5 records

,synthetic_time,synthetic_url
778004,2024-11-30 22:17:58.653041,https://suomi24.fi
778005,2024-11-30 23:06:30.609781,https://www.prh.fi/fi/tilintarkastuslautakunta.html
778006,2024-12-01 02:40:00.992856,https://www.itavayla.fi/uutiset/taide-kuuluu-kaikille--kulttuuritalo-grand-aloittaa-taidenayttelyiden-nakotulkkaukset-nakorajoitteisille-ihmisille-6.2.72558.b555eb0c3c
778007,2024-12-01 02:40:04.397522,https://ylojarvenuutiset.fi/2014/02/02/rajaava-katse-loytaa-lumon-lahikuvista/
778008,2024-12-01 02:40:10.411656,https://www.mtk.fi/-/arktisuus_saksa

Finland, history number 5
Last 5 records

,synthetic_time,synthetic_url
772089,2024-11-30 21:47:22.822263,https://suomi24.fi
772090,2024-11-30 22:35:54.779003,https://www.prh.fi/fi/tilintarkastuslautakunta.html
772091,2024-12-01 02:09:25.162078,https://lapua.fi/etusivu/vahvuutena-v%c3%a4litt%c3%a4minen/v%c3%a4litt%c3%a4misen-ty%c3%b6kalupakki/ik%c3%a4ihmiset/
772092,2024-12-01 02:09:28.566744,https://www.itavayla.fi/mielipide/on-aika-luopua-pitkista-koulupaivista-6.2.78518.96ecac3081
772093,2024-12-01 02:09:34.580878,https://www.urheiluhallit.fi/iske-itsesi-kuntoon/

Finland, history number 6
Last 5 records

,synthetic_time,synthetic_url
783940,2024-11-30 21:37:38.975990,https://suomi24.fi
783941,2024-11-30 22:26:10.932730,https://www.prh.fi/fi/tilintarkastuslautakunta.html
783942,2024-12-01 01:59:41.315805,https://www.urheiluhallit.fi/mita-personal-trainer-haluaisi-aloittelevan-liikkujan-tietavan/
783943,2024-12-01 01:59:44.720471,https://kurikka.fi/tyo-ja-yrittaminen/maaseutupalvelut/ajankohtaista/
783944,2024-12-01 01:59:50.734605,https://www.mtk.fi/kirjaudu

Finland, history number 7
Last 5 records

,synthetic_time,synthetic_url
785926,2024-11-30 22:46:01.758866,https://suomi24.fi
785927,2024-11-30 23:34:33.715606,https://www.prh.fi/fi/tilintarkastuslautakunta.html
785928,2024-12-01 03:08:04.098681,https://www.itavayla.fi/uutiset/uusi-yhdessa-liikkeelle-hyvantekevaisyystapahtuma-houkuttelee-liikkumaan-joonaanmaella-6.2.78623.87cf3b9ba8
785929,2024-12-01 03:08:07.503347,https://www.nurmes.fi/asuminen-ja-ymparisto/rakentaminen/katselmukset-ja-tarkastukset/
785930,2024-12-01 03:08:13.517481,https://www.mtk.fi/-/tuottajia_emblaan

Finland, history number 8
Last 5 records

,synthetic_time,synthetic_url
781964,2024-11-30 21:52:31.528591,https://suomi24.fi
781965,2024-11-30 22:41:03.485331,https://www.prh.fi/fi/tilintarkastuslautakunta.html
781966,2024-12-01 02:14:33.868406,https://lvs.fi/2025/04/18/perjantaipaketti-viikko-16-mikko-tappuralle-loytyi-30-lisa-aanta-lempaalaistanssijoille-kaksoismestaruus-ja-nain-sujui-lempoisissa-tiputanssi/
781967,2024-12-01 02:14:37.273072,https://parkano.fi/tapahtuma/parkanon-seudun-hengitysyhdistys-hengitysjumppa-1/
781968,2024-12-01 02:14:43.287206,https://pietarsaari.fi/matkailutilasto

Finland, history number 9
Last 5 records

,synthetic_time,synthetic_url
779991,2024-11-30 22:21:11.662425,https://suomi24.fi
779992,2024-11-30 23:09:43.619165,https://www.prh.fi/fi/tilintarkastuslautakunta.html
779993,2024-12-01 02:43:14.002240,https://ylojarvenuutiset.fi/2022/06/29/helleaalto-sai-suomalaiset-rientamaan-tuuletinostoksille-minne-suunnata-ylojarvella/
779994,2024-12-01 02:43:17.406906,https://www.urheiluhallit.fi/resilienssia-arjen-haasteisiin-ja-muistoja-lapi-elaman/
779995,2024-12-01 02:43:23.421040,https://www.urheiluhallit.fi/palvelut/ryhmaliikunta/

France, history number 0
Last 5 records

,synthetic_time,synthetic_url
763994,2024-11-30 22:03:23.272903,https://mairie-louveciennes.fr
763995,2024-11-30 22:51:55.229643,https://www.pcastuces.com/pratique/astuces/3396-print.htm
763996,2024-12-01 02:25:25.612718,https://www.entrepot-du-bricolage.fr/p/pr-regulateur-10-bars-3-4-femelle-femelle-341720
763997,2024-12-01 02:25:29.017384,https://www.entrepot-du-bricolage.fr/p/pr-manchon-d-isolation-polyethylene-extrude-1-m-x-9-mm-diametre-28-mm-nmc-noma-116379
763998,2024-12-01 02:25:35.031518,https://www.entrepot-du-bricolage.fr/p/pr-perche-telescopique-blocksysteme-de-110-a-200-cm-nespoli-512582

France, history number 1
Last 5 records

,synthetic_time,synthetic_url
761851,2024-11-30 21:09:35.984991,https://santemagazine.fr
761852,2024-11-30 21:09:40.663157,https://veyras.fr
761853,2024-11-30 21:58:12.619897,https://www.pcastuces.com/pratique/astuces/7293-print.htm
761854,2024-12-01 01:31:43.002972,https://www.entrepot-du-bricolage.fr/p/pr-sous-couche-speciale-bois-tannique-et-exotique-0-5-litre-liberon-1272174
761855,2024-12-01 01:31:46.407638,https://www.entrepot-du-bricolage.fr/p/pr-cire-antiquaire-en-pate-black-bison-incolore-500-ml-liberon-231749

France, history number 2
Last 5 records

,synthetic_time,synthetic_url
753204,2024-11-30 22:12:36.875596,https://limas.fr
753205,2024-11-30 23:01:08.832336,https://www.pcastuces.com/apps/zoom.asp?zoom=drive
753206,2024-12-01 02:34:39.215411,https://www.entrepot-du-bricolage.fr/p/pr-sol-pvc-decor-bois-vieilli-fisherman-washed-rouleau-largeur-2m-vendu-au-m-gerflor-1587236
753207,2024-12-01 02:34:42.620077,https://www.entrepot-du-bricolage.fr/p/pr-peinture-meuble-bois-a-la-caseine-mat-ruban-75-ml-liberon-1272163
753208,2024-12-01 02:34:48.634211,https://www.entrepot-du-bricolage.fr/p/pr-manchon-d-isolation-polyethylene-extrude-1-m-x-9-mm-diametre-28-mm-nmc-noma-116379

France, history number 3
Last 5 records

,synthetic_time,synthetic_url
746728,2024-11-30 21:32:22.770761,https://landeda.fr
746729,2024-11-30 22:20:54.727501,https://www.pcastuces.com/apps/zoom.asp?zoom=sutom
746730,2024-12-01 01:54:25.110576,https://www.entrepot-du-bricolage.fr/p/pr-sous-couche-speciale-bois-tannique-et-exotique-0-5-litre-liberon-1272174
746731,2024-12-01 01:54:28.515242,https://www.entrepot-du-bricolage.fr/p/pr-colle-renovation-sans-poussiere-gris-25-kg-c2e-mapei-1220384
746732,2024-12-01 01:54:34.529376,https://www.entrepot-du-bricolage.fr/p/pr-poignee-cremone-maia-champagne-925933

France, history number 4
Last 5 records

,synthetic_time,synthetic_url
751044,2024-11-30 23:12:41.564441,https://veyras.fr
751045,2024-12-01 00:01:13.521181,https://www.pcastuces.com/pratique/astuces/3396-print.htm
751046,2024-12-01 03:34:43.904256,https://www.entrepot-du-bricolage.fr/p/pr-membrane-vario-xtra-1-5-x-40-m-isover-1159590
751047,2024-12-01 03:34:47.308922,https://www.entrepot-du-bricolage.fr/p/pr-peinture-meuble-bois-a-la-caseine-mat-ruban-75-ml-liberon-1272163
751048,2024-12-01 03:34:53.323056,https://www.entrepot-du-bricolage.fr/p/pr-2-limes-rondes-4-8-mm-325-3-8-ozaki-1696984

France, history number 5
Last 5 records

,synthetic_time,synthetic_url
748895,2024-11-30 22:03:31.515948,https://santemagazine.fr
748896,2024-11-30 22:03:36.194114,https://nrj.fr
748897,2024-11-30 22:52:08.150854,https://www.pcastuces.com/logitheque/logiciel_zoom.asp?zoom=fdm.jpg
748898,2024-12-01 02:25:38.533929,https://www.entrepot-du-bricolage.fr/p/pr-chaine-pour-tronconneuse-66-maillons-pas-de-325-qualite-pro-925459
748899,2024-12-01 02:25:41.938595,https://www.entrepot-du-bricolage.fr/p/pr-perche-telescopique-blocksysteme-de-110-a-200-cm-nespoli-512582

France, history number 6
Last 5 records

,synthetic_time,synthetic_url
759697,2024-11-30 22:25:20.311162,https://entrepot-du-bricolage.fr
759698,2024-11-30 23:13:52.267902,https://www.pcastuces.com/logitheque/logiciel_zoom.asp?zoom=nero_3.jpg
759699,2024-12-01 02:47:22.650977,https://www.entrepot-du-bricolage.fr/p/pr-coffret-de-27-pieces-de-vissage-a-cliquet-bosch-762056
759700,2024-12-01 02:47:26.055643,https://www.entrepot-du-bricolage.fr/p/pr-regulateur-10-bars-3-4-femelle-femelle-341720
759701,2024-12-01 02:47:32.069777,https://www.entrepot-du-bricolage.fr/p/pr-savon-noir-mou-1-kg-starwax-287088

France, history number 7
Last 5 records

,synthetic_time,synthetic_url
755368,2024-11-30 22:54:59.225318,https://journaldunet.fr
755369,2024-11-30 23:43:31.182058,https://www.pcastuces.com/pratique/astuces/6770-print.htm
755370,2024-12-01 03:17:01.565133,https://www.entrepot-du-bricolage.fr/p/pr-mini-bornes-automatiques-3-entrees-pour-fil-rigide-par-50-wago-564528
755371,2024-12-01 03:17:04.969799,https://www.entrepot-du-bricolage.fr/p/pr-cadenas-a-cles-largeur-70-mm-en-laiton-master-lock-332722
755372,2024-12-01 03:17:10.983933,https://www.entrepot-du-bricolage.fr/p/pr-traitement-anti-rouille-frameto-500-ml-rubson-203111

France, history number 8
Last 5 records

,synthetic_time,synthetic_url
766149,2024-11-30 22:56:47.682266,https://purepeople.com
766150,2024-11-30 23:45:19.639006,https://www.pcastuces.com/pratique/astuces/6770-print.htm
766151,2024-12-01 03:18:50.022081,https://www.entrepot-du-bricolage.fr/p/pr-casier-range-bouteilles-box-and-beyond-905938
766152,2024-12-01 03:18:53.426747,https://www.entrepot-du-bricolage.fr/p/pr-mini-bornes-automatiques-3-entrees-pour-fil-rigide-par-50-wago-564528
766153,2024-12-01 03:18:59.440881,https://www.entrepot-du-bricolage.fr/p/pr-regulateur-10-bars-3-4-femelle-femelle-341720

France, history number 9
Last 5 records

,synthetic_time,synthetic_url
757539,2024-11-30 22:30:41.412364,https://fraisses.fr
757540,2024-11-30 23:19:13.369104,https://www.pcastuces.com/logitheque/logiciel_zoom.asp?zoom=cpumon_3.jpg
757541,2024-12-01 02:52:43.752179,https://www.entrepot-du-bricolage.fr/p/pr-peinture-meuble-bois-a-la-caseine-mat-ruban-75-ml-liberon-1272163
757542,2024-12-01 02:52:47.156845,https://www.entrepot-du-bricolage.fr/p/pr-membrane-vario-xtra-1-5-x-40-m-isover-1159590
757543,2024-12-01 02:52:53.170979,https://www.entrepot-du-bricolage.fr/p/pr-mosaique-30x30-pier-ver-lierre-1229315

Germany, history number 0
Last 5 records

,synthetic_time,synthetic_url
744563,2024-11-30 22:22:33.189289,https://t3n.de
744564,2024-11-30 23:11:05.146029,https://com.de/?register=stackovercoder
744565,2024-12-01 02:44:35.529104,https://www.fraunhofer.de/en/press/research-news/2012/december/putting-electronic-cigarettes-to-the-test.html
744566,2024-12-01 02:44:38.933770,https://www.fraunhofer.de/en/press/research-news/2020/august/share-and-browse-technologies-research-and-best-practices-on-covid-19.html
744567,2024-12-01 02:44:44.947904,https://www.fraunhofer.de/en/about-fraunhofer/sustainability.html

Germany, history number 1
Last 5 records

,synthetic_time,synthetic_url
725556,2024-11-30 22:01:20.543096,https://gamepro.de
725557,2024-11-30 22:01:25.221262,https://t3n.de
725558,2024-11-30 22:49:57.178002,https://www.freiburg.de/pb/-/205336/leb5000612/mid1
725559,2024-12-01 02:23:27.561077,https://www.fraunhofer.de/en/press/research-news/2024/february-2024/the-virus-hackers.html
725560,2024-12-01 02:23:36.979877,https://www.fraunhofer.de/en/press/research-news/2024/july-2024/hardware-security-multidimensional-protection.html

Germany, history number 2
Last 5 records

,synthetic_time,synthetic_url
736122,2024-11-30 21:58:24.254704,https://t3n.de
736123,2024-11-30 22:46:56.211444,https://com.de/?register=americafirstfederalcu
736124,2024-12-01 02:20:26.594519,https://www.fraunhofer.de/en/press/research-news/2017/may/bending-sheet-glass-using-lasers-and-gravity.html
736125,2024-12-01 02:20:29.999185,https://www.fraunhofer.de/en/press/research-news/2025/march-2025/israel-innovation-authority-and-fraunhofer-gesellschaft-forge-partnership-to-drive-technological-innovation.html
736126,2024-12-01 02:20:36.013319,https://www.fraunhofer.de/en/press/research-news/2020/august/share-and-browse-technologies-research-and-best-practices-on-covid-19.html

Germany, history number 3
Last 5 records

,synthetic_time,synthetic_url
729794,2024-11-30 22:18:41.592596,https://t3n.de
729795,2024-11-30 23:07:13.549336,https://www.freiburg.de/pb/-/205336/leb5000612/mid1
729796,2024-12-01 02:40:43.932411,https://www.fraunhofer.de/en/press/research-news/2020/august/share-and-browse-technologies-research-and-best-practices-on-covid-19.html
729797,2024-12-01 02:40:47.337077,https://www.fraunhofer.de/en/events/futuras-in-res-conference/the-quantum-breakthrough.html
729798,2024-12-01 02:40:53.351211,https://www.fraunhofer.de/en/institutes/international/asia/korea.html

Germany, history number 4
Last 5 records

,synthetic_time,synthetic_url
742415,2024-11-30 22:22:35.920311,https://fraunhofer.de
742416,2024-11-30 23:11:07.877051,https://com.de/?register=stackovercoder
742417,2024-12-01 02:44:38.260126,https://www.fraunhofer.de/en/press/research-news/2012/december/putting-electronic-cigarettes-to-the-test.html
742418,2024-12-01 02:44:41.664792,https://www.fraunhofer.de/en/press/research-news/2015/august/cutting-costs-in-aircraft-turbine-production.html
742419,2024-12-01 02:44:47.678926,https://www.fraunhofer.de/en/press/research-news/2024/july-2024/hardware-security-multidimensional-protection.html

Germany, history number 5
Last 5 records

,synthetic_time,synthetic_url
727675,2024-11-30 22:39:53.528837,https://fraunhofer.de
727676,2024-11-30 23:28:25.485577,https://com.de/?register=goethe-zertifikat
727677,2024-12-01 03:01:55.868652,https://www.fraunhofer.de/en/press/research-news/2025/march-2025/israel-innovation-authority-and-fraunhofer-gesellschaft-forge-partnership-to-drive-technological-innovation.html
727678,2024-12-01 03:01:59.273318,https://www.fraunhofer.de/en/press/research-news/2012/december/putting-electronic-cigarettes-to-the-test.html
727679,2024-12-01 03:02:05.287452,https://www.fraunhofer.de/en/press/research-news/2020/august/share-and-browse-technologies-research-and-best-practices-on-covid-19.html

Germany, history number 6
Last 5 records

,synthetic_time,synthetic_url
740321,2024-11-30 22:50:34.939865,https://fraunhofer.de
740322,2024-11-30 23:39:06.896605,https://com.de/?register=stackovercoder
740323,2024-12-01 03:12:37.279680,https://www.fraunhofer.de/en/about-fraunhofer/science-policy/impulse-zur-bundestagswahl-2021.html
740324,2024-12-01 03:12:40.684346,https://www.fraunhofer.de/en/events/futuras-in-res-conference/the-quantum-breakthrough.html
740325,2024-12-01 03:12:46.698480,https://www.fraunhofer.de/en/press/research-news/2023/february-2023/energy-efficient-neighborhood-redevelopment-for-affordable-housing.html

Germany, history number 7
Last 5 records

,synthetic_time,synthetic_url
731898,2024-11-30 21:42:35.734392,https://fraunhofer.de
731899,2024-11-30 22:31:07.691132,https://com.de/?register=stackovercoder
731900,2024-12-01 02:04:38.074207,https://www.fraunhofer.de/en/press/research-news/2025/march-2025/israel-innovation-authority-and-fraunhofer-gesellschaft-forge-partnership-to-drive-technological-innovation.html
731901,2024-12-01 02:04:41.478873,https://www.fraunhofer.de/en/press/research-news/2015/february/scalable-electric-drive-for-buses.html
731902,2024-12-01 02:04:47.493007,https://www.fraunhofer.de/en/media-center/videos.html

Germany, history number 8
Last 5 records

,synthetic_time,synthetic_url
734012,2024-11-30 22:35:59.138917,https://t3n.de
734013,2024-11-30 23:24:31.095657,https://com.de/?register=stackovercoder
734014,2024-12-01 02:58:01.478732,https://www.fraunhofer.de/en/press/research-news/2015/february/scalable-electric-drive-for-buses.html
734015,2024-12-01 02:58:04.883398,https://www.fraunhofer.de/en/press/research-news/2024/february-2024/the-virus-hackers.html
734016,2024-12-01 02:58:10.897532,https://www.fraunhofer.de/en/research/lighthouse-projects-fraunhofer-initiatives/fraunhofer-lighthouse-projects/emotion.html

Germany, history number 9
Last 5 records

,synthetic_time,synthetic_url
738223,2024-11-30 22:39:09.955671,https://t3n.de
738224,2024-11-30 23:27:41.912411,https://www.freiburg.de/pb/-/205348/kulturplanung/oe6003252
738225,2024-12-01 03:01:12.295486,https://www.fraunhofer.de/en/press/research-news/2024/february-2024/the-virus-hackers.html
738226,2024-12-01 03:01:15.700152,https://www.fraunhofer.de/en/about-fraunhofer/science-policy/impulse-zur-bundestagswahl-2021.html
738227,2024-12-01 03:01:21.714286,https://www.fraunhofer.de/en/institutes/cooperation/high-performance-centers/sustainable-ocean-business.html

Greece, history number 0
Last 5 records

,synthetic_time,synthetic_url
705822,2024-11-30 21:26:51.403358,https://www.elta-courier.gr/
705823,2024-11-30 22:15:23.360098,https://www.wondershare.com/about/founders-speech.html?cmpscreencustom
705824,2024-12-01 01:48:53.743173,https://www.michanikos.gr/search/?tags=%ce%ba%ce%bb%ce%af%ce%bc%ce%b1%ce%ba%ce%b1&updated_after=any&sortby=relevancy
705825,2024-12-01 01:48:57.147839,https://www.eosthessalonikis.gr/anavaseis_list/52/analutiko-programma.html?&curr_year=2015&curr_month=08
705826,2024-12-01 01:49:03.161973,https://techblog.gr/tag/xiaomi-mi-7/

Greece, history number 1
Last 5 records

,synthetic_time,synthetic_url
714642,2024-11-30 23:10:13.877562,https://polydroso.gr
714643,2024-11-30 23:58:45.834302,https://www.wondershare.com/privacy.html?cmpscreencustom
714644,2024-12-01 03:32:16.217377,https://www.fa3.gr/nomothesia_2/nomoth_education/53-anaplirosi-didakt-imeron.htm
714645,2024-12-01 03:32:19.622043,https://techblog.gr/mobile/galaxy-a21s-a02s-a03s-enimeronontai-se-android-12-one-ui-4-1/
714646,2024-12-01 03:32:25.636177,https://www.elta-courier.gr/fpc

Greece, history number 2
Last 5 records

,synthetic_time,synthetic_url
721236,2024-11-30 21:34:06.150973,https://sigmalive.com
721237,2024-11-30 22:22:38.107713,https://www.wondershare.com/company/terms_conditions.html
721238,2024-12-01 01:56:08.490788,https://thecaller.gr/xronomixani/spiros-skouras-apo-to-chorio-tis-ilias-stin-korifi-tis-20th-century-fox-zoi-san-paramithi/
721239,2024-12-01 01:56:11.895454,https://www.eosthessalonikis.gr/anavaseis_list/52/analutiko-programma.html?&curr_year=2018&curr_month=06
721240,2024-12-01 01:56:17.909588,https://www.elta-courier.gr/search

Greece, history number 3
Last 5 records

,synthetic_time,synthetic_url
712435,2024-11-30 22:37:09.287940,https://michanikos.gr
712436,2024-11-30 23:25:41.244680,https://www.wondershare.com/alternative-tools-to-capcut.html
712437,2024-12-01 02:59:11.627755,https://www.fa3.gr/nomothesia_2/nomoth_education/30-kapodostriaka.htm
712438,2024-12-01 02:59:15.032421,https://www.eosthessalonikis.gr/anavash/472/21/4-menoikio-xionoxwri-spanakli.html
712439,2024-12-01 02:59:21.046555,https://www.eosthessalonikis.gr/article/131/.html

Greece, history number 4
Last 5 records

,synthetic_time,synthetic_url
708034,2024-11-30 22:41:06.063700,https://sigmalive.com
708035,2024-11-30 23:29:38.020440,https://www.wondershare.com/ai-solutions/education.html?cmpscreencustom
708036,2024-12-01 03:03:08.403515,https://thecaller.gr/diethni/i-epomeni-imera-meta-tin-kideia-toy-papa-pote-anamenetai-na-synedriasei-to-konklavio-oi-pithanoi-diadochoi/
708037,2024-12-01 03:03:11.808181,https://techblog.gr/mobile/samsung-galaxy-a80-ayta-ta-pente-koryfaia-charaktiristika/
708038,2024-12-01 03:03:17.822315,https://www.epagelmatias.gr/category/estiatorio

Greece, history number 5
Last 5 records

,synthetic_time,synthetic_url
710223,2024-11-30 23:11:29.264042,https://elta-courier.gr
710224,2024-12-01 00:00:01.220782,https://www.wondershare.com/guide/streaming-audio-recorder.html
710225,2024-12-01 03:33:31.603857,https://www.epagelmatias.gr/company/alexakis-xxl-viotechnia-endymaton-sti-thessaloniki
710226,2024-12-01 03:33:35.008523,https://techblog.gr/mobile/sony-confirms-xperia-z-series-is-over-8932/
710227,2024-12-01 03:33:41.022657,https://thessaloniki.gr/syntypousxolikhstegh/

Greece, history number 6
Last 5 records

,synthetic_time,synthetic_url
703621,2024-11-30 21:29:33.961058,https://epagelmatias.gr
703622,2024-11-30 22:18:05.917798,https://stswww.blogspot.com/2012/03/vision-of-digital-native.html
703623,2024-12-01 01:51:36.300873,https://thecaller.gr/politismos/marabou-project-toy-konstantinoy-sofikiti-eikones-poy-taxideyoyn-opos-ta-poiimata-toy-kavvadia/
703624,2024-12-01 01:51:39.705539,https://www.provocateur.gr/archive/1993/eurovision-2014-lsquo-h-alliws-an-den-to-kaneis-swsta-kalytera-mhn-to-kaneis-katholoy/
703625,2024-12-01 01:51:45.719673,https://www.elta-courier.gr/poliseis-form

Greece, history number 7
Last 5 records

,synthetic_time,synthetic_url
719043,2024-11-30 22:35:03.735948,https://polydroso.gr
719044,2024-11-30 23:23:35.692688,https://stswww.blogspot.com/2012/03/vision-of-digital-native.html
719045,2024-12-01 02:57:06.075763,https://www.provocateur.gr/archive/1811/to-twitter-ypodexetai-to-potami-toy-theodwrakh-me-ektropes-kai-fragmata/
719046,2024-12-01 02:57:09.480429,https://www.epagelmatias.gr/company/alexakis-xxl-viotechnia-endymaton-sti-thessaloniki
719047,2024-12-01 02:57:15.494563,https://techblog.gr/tag/samsung-galaxy-a54/

Greece, history number 8
Last 5 records

,synthetic_time,synthetic_url
716844,2024-11-30 22:22:25.038380,https://eosthessalonikis.gr
716845,2024-11-30 23:10:56.995120,https://www.wondershare.com/shop/individuals.html?cmpscreencustom
716846,2024-12-01 02:44:27.378195,https://thecaller.gr/diethni/vatikano-o-papas-fragkiskos-eylogise-toys-pistoys-apo-to-papa-mobile-stin-plateia-toy-agioy-petroy/
716847,2024-12-01 02:44:30.782861,https://www.provocateur.gr/archive/91/trith-15-10-ta-5-kalytera-tweets-ths-hmeras/
716848,2024-12-01 02:44:36.796995,https://thessaloniki.gr/business/?lang=en

Greece, history number 9
Last 5 records

,synthetic_time,synthetic_url
723441,2024-11-30 22:59:12.137832,https://elta-courier.gr
723442,2024-11-30 23:47:44.094572,https://www.wondershare.com/education.html?cmpscreencustom
723443,2024-12-01 03:21:14.477647,https://www.michanikos.gr/tags/%ce%b4%ce%b1%cf%83%ce%b9%ce%ba%ce%ac/?_nodeselectname=nexus_package_item_node&_nojs=1
723444,2024-12-01 03:21:17.882313,http://www.polydroso.gr/multimedia/fotografies/1-mia-mera-mia-eikona/detail/208-mia-mera-mia-eikona.html?tmpl=component&phocaslideshow=1
723445,2024-12-01 03:21:23.896447,https://www.epagelmatias.gr/_signup.php

Hungary, history number 0
Last 5 records

,synthetic_time,synthetic_url
684996,2024-11-30 21:38:05.464854,https://nytud.hu
684997,2024-11-30 22:26:37.421594,http://shp.hu/hpc/web.php?a=kaszatamas&o=konyv_akcio
684998,2024-12-01 02:00:07.804669,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
684999,2024-12-01 02:00:11.209335,https://nytud.hu/esemeny/kutatok-ejszkaja-a-hun-ren-nyelvtudomanyi-kutatokozpontban
685000,2024-12-01 02:00:17.223469,https://nytud.hu/kutatas

Hungary, history number 1
Last 5 records

,synthetic_time,synthetic_url
682930,2024-11-30 22:02:46.651681,https://promenad24.hu
682931,2024-11-30 22:51:18.608421,http://shp.hu/hpc/web.php?a=kaszatamas&o=konyv_akcio
682932,2024-12-01 02:24:48.991496,https://nytud.hu/esemeny/kutatok-ejszkaja-a-hun-ren-nyelvtudomanyi-kutatokozpontban
682933,2024-12-01 02:24:52.396162,https://nytud.hu/kiadvany/a-magyar-terminologiastrategia-kialakitasa-zold-konyv
682934,2024-12-01 02:24:58.410296,https://nytud.hu/hu/oldal/hello

Hungary, history number 2
Last 5 records

,synthetic_time,synthetic_url
691152,2024-11-30 22:50:38.698631,https://promenad24.hu
691153,2024-11-30 23:39:10.655371,http://shp.hu/hpc/web.php?a=kaszatamas&o=konyv_akcio
691154,2024-12-01 03:12:41.038446,https://nytud.hu/kiadvany/a-magyar-terminologiastrategia-kialakitasa-zold-konyv
691155,2024-12-01 03:12:44.443112,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
691156,2024-12-01 03:12:50.457246,https://nytud.hu/kutatas

Hungary, history number 3
Last 5 records

,synthetic_time,synthetic_url
693203,2024-11-30 23:06:03.266827,https://antsz.hu
693204,2024-11-30 23:54:35.223567,http://shp.hu/hpc/web.php?a=prospektustarto&o=1156157273
693205,2024-12-01 03:28:05.606642,https://nytud.hu/kiadvany/a-magyar-terminologiastrategia-kialakitasa-zold-konyv
693206,2024-12-01 03:28:09.011308,https://nytud.hu/en/event/extended-predicate-formation-and-the-non-agentive-verb-suru-do-in-japanese
693207,2024-12-01 03:28:15.025442,https://nytud.hu/kutatas

Hungary, history number 4
Last 5 records

,synthetic_time,synthetic_url
695244,2024-11-30 21:42:11.012590,https://posta.hu
695245,2024-11-30 21:42:15.690756,https://csokonyavisonta.hu/
695246,2024-11-30 22:30:47.647496,http://www.shp.hu/hpc/hirdetes_modul.php?a=victorysm
695247,2024-12-01 02:04:18.030571,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
695248,2024-12-01 02:04:27.449371,https://nytud.hu/rolunk

Hungary, history number 5
Last 5 records

,synthetic_time,synthetic_url
699366,2024-11-30 23:00:04.341068,https://antsz.hu
699367,2024-11-30 23:48:36.297808,http://shp.hu/hpc/web.php?a=fatimahaz&o=kuratorium_syhs
699368,2024-12-01 03:22:06.680883,https://nytud.hu/esemeny/kutatok-ejszkaja-a-hun-ren-nyelvtudomanyi-kutatokozpontban
699369,2024-12-01 03:22:10.085549,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
699370,2024-12-01 03:22:16.099683,https://nytud.hu/kutatas

Hungary, history number 6
Last 5 records

,synthetic_time,synthetic_url
697315,2024-11-30 22:51:42.983650,https://posta.hu
697316,2024-11-30 22:51:47.661816,https://bfnp.hu
697317,2024-11-30 23:40:19.618556,http://shp.hu/hpc/web.php?a=kaszatamas&o=konyv_akcio
697318,2024-12-01 03:13:50.001631,https://nytud.hu/esemeny/kutatok-ejszkaja-a-hun-ren-nyelvtudomanyi-kutatokozpontban
697319,2024-12-01 03:13:59.420431,https://nytud.hu/kutatas

Hungary, history number 7
Last 5 records

,synthetic_time,synthetic_url
689083,2024-11-30 21:14:26.199411,https://nytud.hu
689084,2024-11-30 22:02:58.156151,http://shp.hu/hpc/web.php?a=prospektustarto&o=1156157273
689085,2024-12-01 01:36:28.539226,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
689086,2024-12-01 01:36:31.943892,https://nytud.hu/kiadvany/a-magyar-terminologiastrategia-kialakitasa-zold-konyv
689087,2024-12-01 01:36:37.958026,https://nytud.hu/kiadvanyok

Hungary, history number 8
Last 5 records

,synthetic_time,synthetic_url
701427,2024-11-30 21:40:55.913238,https://posta.hu
701428,2024-11-30 21:41:00.591404,https://katasztrofavedelem.hu
701429,2024-11-30 22:29:32.548144,http://www.shp.hu/hpc/hirdetes_modul.php?a=victorysm
701430,2024-12-01 02:03:02.931219,https://nytud.hu/en/event/extended-predicate-formation-and-the-non-agentive-verb-suru-do-in-japanese
701431,2024-12-01 02:03:12.350019,https://nytud.hu/szolgaltatasok

Hungary, history number 9
Last 5 records

,synthetic_time,synthetic_url
687028,2024-11-30 21:43:43.600980,https://antsz.hu
687029,2024-11-30 22:32:15.557720,http://shp.hu/hpc/web.php?a=balazsagnes
687030,2024-12-01 02:05:45.940795,https://nytud.hu/esemeny/a-beszed-valtozatossaganak-kerdesei-korszeru-vizsgalati-modszerei-es-kihivasai
687031,2024-12-01 02:05:49.345461,https://nytud.hu/en/event/extended-predicate-formation-and-the-non-agentive-verb-suru-do-in-japanese
687032,2024-12-01 02:05:55.359595,https://nytud.hu/rolunk

India, history number 0
Last 5 records

,synthetic_time,synthetic_url
680853,2024-11-30 21:30:42.975494,https://newsnationtv.com
680854,2024-11-30 22:19:14.932234,http://astrosage.com/2021/gemini-horoscope-2021.asp
680855,2024-12-01 01:52:45.315309,https://crickettimes.com/2025/05/harshitha-samarawickrama-and-kavisha-dilharis-heroics-steer-sri-lanka-to-victory-over-south-africa-in-womens-odi-tri-series/
680856,2024-12-01 01:52:48.719975,https://www.skymetweather.com/content/agriculture-and-economy/sustainable-development-modi-government-explores-new-ways-to-limit-farm-water/
680857,2024-12-01 01:52:54.734109,https://www.webindia123.com/health/pain/neck.htm

India, history number 1
Last 5 records

,synthetic_time,synthetic_url
670089,2024-11-30 22:21:44.013233,https://crickettimes.com
670090,2024-11-30 23:10:15.969973,https://www.scaler.com/topics/course/sql-vs-nosql/video/188/
670091,2024-12-01 02:43:46.353048,https://www.irclass.org/technical-circulars/st-vincent-and-the-grenadines-advice-from-the-maritime-administration-on-covid-19-pandemic-4/
670092,2024-12-01 02:43:49.757714,https://www.irclass.org/technical-circulars/immarbe-circular-letter-no-td-imm-gob001-19-reg-occasional-survey-program-for-detained-vessels-operating-in-tokyo-mou/
670093,2024-12-01 02:43:55.771848,https://www.webindia123.com/punjab/arts/index.htm

India, history number 2
Last 5 records

,synthetic_time,synthetic_url
672249,2024-11-30 21:49:15.483755,https://skymetweather.com
672250,2024-11-30 22:37:47.440495,https://www.scaler.com/topics/course/sql-vs-nosql/video/188/
672251,2024-12-01 02:11:17.823570,https://www.skymetweather.com/content/agriculture-and-economy/sustainable-development-modi-government-explores-new-ways-to-limit-farm-water/
672252,2024-12-01 02:11:21.228236,https://www.irclass.org/academy/segment/ship-operation/lng-bunkering/?date=09/07/2025&fulldate=09/07/2025%20to%2009/07/2025
672253,2024-12-01 02:11:27.242370,https://www.webindia123.com/punjab/arts/index.htm

India, history number 3
Last 5 records

,synthetic_time,synthetic_url
661430,2024-11-30 22:00:58.189055,https://newsnationtv.com
661431,2024-11-30 22:49:30.145795,https://www.soft112.com/latest-additions.html?categ=audio-and-multimedia
661432,2024-12-01 02:23:00.528870,https://www.webindia123.com/city/goa/destinations/churches/reismagoschurch.htm
661433,2024-12-01 02:23:03.933536,https://www.webindia123.com/city/asp/popular_destinations.asp?city=delhi&url=/city/delhi/destinations/shopping/centralcottageindustriesemporium.htm
661434,2024-12-01 02:23:09.947670,https://www.webindia123.com/punjab/arts/index.htm

India, history number 4
Last 5 records

,synthetic_time,synthetic_url
663591,2024-11-30 22:15:11.547282,https://webindia123.com
663592,2024-11-30 23:03:43.504022,https://www.astrosage.com/horoscope/today-lucky-colour.asp
663593,2024-12-01 02:37:13.887097,https://www.webindia123.com/city/asp/popular_destinations.asp?city=kollam&url=/city/kerala/kollam/destinations/temples/rameshwara.htm
663594,2024-12-01 02:37:17.291763,https://crickettimes.com/2025/04/ipl-2025-rcb-fans-label-chinnaswamy-as-most-cursed-place-after-defeat-against-punjab-kings/
663595,2024-12-01 02:37:23.305897,https://www.webindia123.com/health/pain/neck.htm

India, history number 5
Last 5 records

,synthetic_time,synthetic_url
667925,2024-11-30 22:34:02.746595,https://crickettimes.com
667926,2024-11-30 23:22:34.703335,https://www.astrosage.com/2021/taurus-horoscope-2021.asp
667927,2024-12-01 02:56:05.086410,https://www.webindia123.com/user_interaction/asp/related_queries.asp?category=actuarial+science
667928,2024-12-01 02:56:08.491076,https://crickettimes.com/web-stories/test-matches-that-were-abandoned-without-a-single-ball-being-bowled/
667929,2024-12-01 02:56:14.505210,https://www.webindia123.com/health/pain/neck.htm

India, history number 6
Last 5 records

,synthetic_time,synthetic_url
676553,2024-11-30 22:20:26.196911,https://irclass.org
676554,2024-11-30 23:08:58.153651,https://www.scaler.com/topics/update-multiple-columns-in-sql/
676555,2024-12-01 02:42:28.536726,https://crickettimes.com/2025/05/annerie-dercksens-ton-and-chloe-tryons-hat-trick-power-south-africa-to-big-win-over-sri-lanka-in-womens-odi-tri-series/
676556,2024-12-01 02:42:31.941392,https://www.irclass.org/technical-circulars/barbados-administration-use-of-marpol-electronic-record-books/
676557,2024-12-01 02:42:37.955526,https://www.webindia123.com/health/pain/neck.htm

India, history number 7
Last 5 records

,synthetic_time,synthetic_url
678698,2024-11-30 22:32:17.838227,https://newsnationtv.com
678699,2024-11-30 23:20:49.794967,https://www.scaler.com/topics/update-multiple-columns-in-sql/
678700,2024-12-01 02:54:20.178042,https://crickettimes.com/2025/04/from-jessica-head-to-becky-cummins-meet-the-wives-of-sunrisers-hyderabad-srh-players-in-ipl-2025/
678701,2024-12-01 02:54:23.582708,https://www.irclass.org/technical-circulars/overhead-monorail-provision-crane-failure-reg/
678702,2024-12-01 02:54:29.596842,https://www.webindia123.com/punjab/arts/index.htm

India, history number 8
Last 5 records

,synthetic_time,synthetic_url
674404,2024-11-30 21:13:33.228223,https://webindia123.com
674405,2024-11-30 22:02:05.184963,https://www.scaler.com/topics/cpp/lambda-function-cpp/
674406,2024-12-01 01:35:35.568038,https://crickettimes.com/2024/10/statistical-comparison-of-fab-4-centuries-in-test-cricket-since-2021-ft-virat-kohli/
674407,2024-12-01 01:35:38.972704,https://www.irclass.org/academy/segment/maritime-management-system/mlc-2006/?date=15/07/2025
674408,2024-12-01 01:35:44.986838,https://www.webindia123.com/punjab/arts/index.htm

India, history number 9
Last 5 records

,synthetic_time,synthetic_url
665759,2024-11-30 21:40:14.242569,https://irclass.org
665760,2024-11-30 22:28:46.199309,https://www.soft112.com/latest-additions.html?categ=home-and-hobby
665761,2024-12-01 02:02:16.582384,https://crickettimes.com/2025/03/watch-virat-kohli-dances-to-jhoome-jo-pathaan-with-shah-rukh-khan-at-ipl-2025-opening-ceremony/
665762,2024-12-01 02:02:19.987050,https://www.webindia123.com/city/asp/popular_destinations.asp?city=delhi&url=/city/delhi/destinations/shopping/centralcottageindustriesemporium.htm
665763,2024-12-01 02:02:26.001184,https://www.webindia123.com/health/pain/neck.htm

Ireland, history number 0
Last 5 records

,synthetic_time,synthetic_url
657111,2024-11-30 22:59:43.382976,https://westmeathindependent.ie
657112,2024-11-30 23:48:15.339716,https://www.thecalculatorsite.com/profiles/becky-kleanthous.php
657113,2024-12-01 03:21:45.722791,https://www.westmeathindependent.ie/2025/05/09/progress-on-plans-for-expanded-ed-at-portiuncula/
657114,2024-12-01 03:21:49.127457,https://www.westmeathindependent.ie/2020/04/23/residential-project-mooted-at-former-bower-convent/
657115,2024-12-01 03:21:55.141591,https://www.2wheels.ie/sunglasses/female

Ireland, history number 1
Last 5 records

,synthetic_time,synthetic_url
648482,2024-11-30 22:25:13.866032,https://limbicycleshop.com
648483,2024-11-30 23:13:45.822772,https://www.thecalculatorsite.com/conversions/common/water-weight.php
648484,2024-12-01 02:47:16.205847,https://www.farnhamestate.ie/?utm_source=spas.ie&utm_medium=profile-page&utm_campaign=spas.ie
648485,2024-12-01 02:47:19.610513,https://www.limbicycleshop.com/product-page/cannondale-quick-cx-4-tourney-city-bike-2021
648486,2024-12-01 02:47:25.624647,https://www.farnhamestate.ie/relaxing-retreat.html

Ireland, history number 2
Last 5 records

,synthetic_time,synthetic_url
639853,2024-11-30 22:18:31.464098,https://farnhamestate.ie
639854,2024-11-30 23:07:03.420838,https://heritageireland.ie/visit/places-to-visit/askeaton-castle/
639855,2024-12-01 02:40:33.803913,https://www.farnhamestate.ie/?utm_source=spas.ie&utm_medium=profile-page&utm_campaign=spas.ie
639856,2024-12-01 02:40:37.208579,https://www.limbicycleshop.com/product-page/blb-la-piovra-atk-fixie-single-speed-bike-green
639857,2024-12-01 02:40:43.222713,https://www.farnhamestate.ie/enquire.html

Ireland, history number 3
Last 5 records

,synthetic_time,synthetic_url
659270,2024-11-30 21:19:05.406865,https://farnhamestate.ie
659271,2024-11-30 22:07:37.363605,https://heritageireland.ie/places-to-visit/dun-aonghasa/
659272,2024-12-01 01:41:07.746680,https://www.westmeathindependent.ie/2023/05/03/local-junk-kouture-designs-set-to-dazzle-at-dublin-final/
659273,2024-12-01 01:41:11.151346,https://www.limbicycleshop.com/product-page/cannondale-quick-cx-4-tourney-city-bike-2021
659274,2024-12-01 01:41:17.165480,https://www.westmeathindependent.ie/news/

Ireland, history number 4
Last 5 records

,synthetic_time,synthetic_url
646320,2024-11-30 21:44:42.105147,https://westmeathindependent.ie
646321,2024-11-30 22:33:14.061887,https://www.thecalculatorsite.com/finance/calculators/money-counter.php
646322,2024-12-01 02:06:44.444962,https://www.limbicycleshop.com/product-page/cannondale-quick-cx-4-tourney-city-bike-2021
646323,2024-12-01 02:06:47.849628,https://www.westmeathindependent.ie/2024/09/04/gavin-and-stacey-cast-spotted-stepping-into-their-characters-for-final-episode/
646324,2024-12-01 02:06:53.863762,https://www.farnhamestate.ie/spring.html

Ireland, history number 5
Last 5 records

,synthetic_time,synthetic_url
652795,2024-11-30 22:18:22.079604,https://westmeathindependent.ie
652796,2024-11-30 23:06:54.036344,https://www.thecalculatorsite.com/conversions/substances/water.php
652797,2024-12-01 02:40:24.419419,https://www.westmeathindependent.ie/2024/11/29/slowthai-rape-accuser-denies-she-was-jealous-court-hears/
652798,2024-12-01 02:40:27.824085,https://www.westmeathindependent.ie/2025/05/08/cork-student-wins-all-ireland-drama-festival-schools-playwright-competition/
652799,2024-12-01 02:40:33.838219,https://www.2wheels.ie/road-cycling/male

Ireland, history number 6
Last 5 records

,synthetic_time,synthetic_url
654941,2024-11-30 22:35:23.721540,https://limbicycleshop.com
654942,2024-11-30 23:23:55.678280,https://www.thecalculatorsite.com/conversions/common/height-converter.php
654943,2024-12-01 02:57:26.061355,https://www.limbicycleshop.com/product-page/cannondale-topstone-3-sora-gravel-bike
654944,2024-12-01 02:57:29.466021,https://www.farnhamestate.ie/?utm_source=spas.ie&utm_medium=profile-page&utm_campaign=spas.ie
654945,2024-12-01 02:57:35.480155,https://www.farnhamestate.ie/sitemap.html

Ireland, history number 7
Last 5 records

,synthetic_time,synthetic_url
650631,2024-11-30 23:01:01.009104,https://buildingsofireland.ie
650632,2024-11-30 23:49:32.965844,https://www.thecalculatorsite.com/conversions/common/newton-meters-inch-pounds.php
650633,2024-12-01 03:23:03.348919,https://www.westmeathindependent.ie/2024/10/01/manchester-city-stroll-past-slovan-bratislava-for-first-champions-league-win/
650634,2024-12-01 03:23:06.753585,https://www.westmeathindependent.ie/2025/05/08/the-joys-and-the-difficulties-of-being-a-mother/
650635,2024-12-01 03:23:12.767719,https://www.farnhamestate.ie/enquire.html

Ireland, history number 8
Last 5 records

,synthetic_time,synthetic_url
642002,2024-11-30 21:21:16.694315,https://buildingsofireland.ie
642003,2024-11-30 22:09:48.651055,https://www.thecalculatorsite.com/misc/cubic-meters-calculator.php
642004,2024-12-01 01:43:19.034130,https://www.westmeathindependent.ie/2025/05/08/the-joys-and-the-difficulties-of-being-a-mother/
642005,2024-12-01 01:43:22.438796,https://www.westmeathindependent.ie/2020/04/23/residential-project-mooted-at-former-bower-convent/
642006,2024-12-01 01:43:28.452930,https://www.limbicycleshop.com/accessories-clothes

Ireland, history number 9
Last 5 records

,synthetic_time,synthetic_url
644169,2024-11-30 23:07:32.490594,https://buildingsofireland.ie
644170,2024-11-30 23:56:04.447334,https://www.thecalculatorsite.com/conversions/common/height-converter.php
644171,2024-12-01 03:29:34.830409,https://www.westmeathindependent.ie/2024/09/04/gavin-and-stacey-cast-spotted-stepping-into-their-characters-for-final-episode/
644172,2024-12-01 03:29:38.235075,https://www.limbicycleshop.com/product-page/drag-grand-canyon-comp-womens-city-bike
644173,2024-12-01 03:29:44.249209,https://www.farnhamestate.ie/conference-rooms.html

Israel, history number 0
Last 5 records

,synthetic_time,synthetic_url
622499,2024-11-30 21:02:33.740751,https://cld.bz
622500,2024-11-30 21:02:38.418917,https://abc-israel.it
622501,2024-11-30 21:51:10.375657,https://www.bahai.org/action/family-life-children
622502,2024-12-01 01:24:40.758732,https://www.store-dot.com/press/extreme-fast-charging-battery-technology-is-as-important-as-infrastructure-roll-out-to-achieve-mass-adoption-of-electric-vehicles-says-storedot
622503,2024-12-01 01:24:50.177532,https://www.store-dot.com/blog/hello-new-brand

Israel, history number 1
Last 5 records

,synthetic_time,synthetic_url
618147,2024-11-30 21:29:26.120300,https://abc-israel.it
618148,2024-11-30 22:17:58.077040,https://www.bahai.org/action/family-life-children
618149,2024-12-01 01:51:28.460115,https://www.store-dot.com/blog/cell-chemistry-r-d-productivity-improvement-with-agile-methodology
618150,2024-12-01 01:51:31.864781,https://www.store-dot.com/press/storedots-ev-battery-customization-takes-off-5-major-automakers-on-board
618151,2024-12-01 01:51:37.878915,https://www.store-dot.com/blog/hello-new-brand

Israel, history number 2
Last 5 records

,synthetic_time,synthetic_url
637696,2024-11-30 21:33:43.192405,https://shvilist.com
637697,2024-11-30 22:22:15.149145,https://www.bahai.org/library/authoritative-texts/compilations/music/
637698,2024-12-01 01:55:45.532220,https://www.store-dot.com/press/storedot-ends-2021-by-achieving-850-consecutive-xfc-cycles-and-12-patents
637699,2024-12-01 01:55:48.936886,https://www.store-dot.com/press/storedots-ev-battery-customization-takes-off-5-major-automakers-on-board
637700,2024-12-01 01:55:54.951020,https://www.store-dot.com/terms-conditions

Israel, history number 3
Last 5 records

,synthetic_time,synthetic_url
626822,2024-11-30 23:03:58.712611,https://shvilist.com
626823,2024-11-30 23:52:30.669351,https://www.bahai.org/action/family-life-children
626824,2024-12-01 03:26:01.052426,https://www.store-dot.com/press/storedot-on-schedule-for-its-100inx-product-roadmap-capable-of-adding-100-miles-of-range-in-just-4-minutes?ref=evinfocus.com
626825,2024-12-01 03:26:04.457092,https://www.store-dot.com/press/storedot-unveils-the-future-of-extreme-fast-charging-with-all-new-i-beam-xfc-its-cell-to-pack-concept
626826,2024-12-01 03:26:10.471226,https://www.store-dot.com/blog/hello-new-brand

Israel, history number 4
Last 5 records

,synthetic_time,synthetic_url
635521,2024-11-30 21:45:42.989919,https://kibbutzlotan.com
635522,2024-11-30 22:34:14.946659,https://www.varonis.com/solutions/policy-automation
635523,2024-12-01 02:07:45.329734,https://www.store-dot.com/press/storedot-wins-kumyang-as-partner-for-battery-production
635524,2024-12-01 02:07:48.734400,https://www.store-dot.com/press/storedots-ev-battery-customization-takes-off-5-major-automakers-on-board
635525,2024-12-01 02:07:54.748534,https://www.store-dot.com/events/move-2023-london

Israel, history number 5
Last 5 records

,synthetic_time,synthetic_url
620313,2024-11-30 23:12:15.293988,https://lbscience.org
620314,2024-12-01 00:00:47.250728,https://www.bahai.org/bahaullah/life-bahaullah
620315,2024-12-01 03:34:17.633803,https://www.store-dot.com/press/storedot-unveils-the-future-of-extreme-fast-charging-with-all-new-i-beam-xfc-its-cell-to-pack-concept
620316,2024-12-01 03:34:21.038469,https://www.store-dot.com/patents/storedots-innovative-patent-for-a-composite-anode-material-is-a-game-changer-for-fast-charging-li-ion-batteries
620317,2024-12-01 03:34:27.052603,https://www.store-dot.com/blog/hello-new-brand

Israel, history number 6
Last 5 records

,synthetic_time,synthetic_url
629001,2024-11-30 21:01:31.024172,https://store-dot.com
629002,2024-11-30 21:50:02.980912,https://www.varonis.com/platform/data-discovery-and-classification
629003,2024-12-01 01:23:33.363987,https://www.store-dot.com/blog/behind-the-scenes-of-the-first-ever-ev-cell-extreme-fast-charging-live-demonstration
629004,2024-12-01 01:23:36.768653,https://www.store-dot.com/blog/storedots-extreme-fast-charging-i-beam-xfc-tm-cell-to-pack-concept-with-innovative-cooling-breaks-new-ground
629005,2024-12-01 01:23:42.782787,https://www.store-dot.com/newsletters/issue-154

Israel, history number 7
Last 5 records

,synthetic_time,synthetic_url
631171,2024-11-30 22:30:43.952792,https://store-dot.com
631172,2024-11-30 23:19:15.909532,https://www.bahai.org/action/family-life-children
631173,2024-12-01 02:52:46.292607,https://www.store-dot.com/press/storedot-unveils-the-future-of-extreme-fast-charging-with-all-new-i-beam-xfc-its-cell-to-pack-concept
631174,2024-12-01 02:52:49.697273,https://www.store-dot.com/blog/storedots-extreme-fast-charging-i-beam-xfc-tm-cell-to-pack-concept-with-innovative-cooling-breaks-new-ground
631175,2024-12-01 02:52:55.711407,https://www.store-dot.com/events/move-2023-london

Israel, history number 8
Last 5 records

,synthetic_time,synthetic_url
633334,2024-11-30 21:56:43.602344,https://shvilist.com
633335,2024-11-30 22:45:15.559084,https://www.varonis.com/blog/the-superpower-of-grc
633336,2024-12-01 02:18:45.942159,https://www.store-dot.com/press/storedots-battery-technology-offers-ev-owners-a-winterproof-charging-experience
633337,2024-12-01 02:18:49.346825,https://www.store-dot.com/blog/can-cell-to-pack-technology-rekindle-interest-in-the-lfp-battery
633338,2024-12-01 02:18:55.360959,https://www.store-dot.com/newsletters/issue-219

Israel, history number 9
Last 5 records

,synthetic_time,synthetic_url
624667,2024-11-30 22:32:42.062173,https://lbscience.org
624668,2024-11-30 23:21:14.018913,https://www.bahai.org/library/authoritative-texts/compilations/music/
624669,2024-12-01 02:54:44.401988,https://www.store-dot.com/press/storedot-ends-2021-by-achieving-850-consecutive-xfc-cycles-and-12-patents
624670,2024-12-01 02:54:47.806654,https://www.store-dot.com/press/storedots-battery-technology-offers-ev-owners-a-winterproof-charging-experience
624671,2024-12-01 02:54:53.820788,https://www.store-dot.com/newsletters/issue-154

Italy, history number 0
Last 5 records

,synthetic_time,synthetic_url
605703,2024-11-30 23:03:31.657933,https://sky.it
605704,2024-11-30 23:52:03.614673,https://comunedisanremo.it/archivio2_aree-tematiche_0_100.html
605705,2024-12-01 03:25:33.997748,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
605706,2024-12-01 03:25:37.402414,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
605707,2024-12-01 03:25:43.416548,https://www.livigno.eu/en/albertville-1992

Italy, history number 1
Last 5 records

,synthetic_time,synthetic_url
609808,2024-11-30 21:44:28.453325,https://www.weschool.com/
609809,2024-11-30 21:44:33.131491,https://sky.it
609810,2024-11-30 22:33:05.088231,https://comunedisanremo.it/archivio2_aree-tematiche_0_100.html
609811,2024-12-01 02:06:35.471306,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
609812,2024-12-01 02:06:44.890106,https://www.livigno.eu/en/albertville-1992

Italy, history number 2
Last 5 records

,synthetic_time,synthetic_url
613913,2024-11-30 21:41:42.304779,https://sky.it
613914,2024-11-30 22:30:14.261519,https://comunedisanremo.it/archivio2_aree-tematiche_0_113.html
613915,2024-12-01 02:03:44.644594,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
613916,2024-12-01 02:03:48.049260,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
613917,2024-12-01 02:03:54.063394,https://www.livigno.eu/lista-hotel/hotel/teola

Italy, history number 3
Last 5 records

,synthetic_time,synthetic_url
607764,2024-11-30 22:09:19.715110,https://weschool.com
607765,2024-11-30 22:09:24.393276,https://sky.it
607766,2024-11-30 22:57:56.350016,https://comunedisanremo.it/archivio2_aree-tematiche_0_113.html
607767,2024-12-01 02:31:26.733091,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
607768,2024-12-01 02:31:36.151891,https://www.livigno.eu/en/albertville-1992

Italy, history number 4
Last 5 records

,synthetic_time,synthetic_url
597431,2024-11-30 21:34:55.706006,https://sky.it
597432,2024-11-30 22:23:27.662746,https://comunedisanremo.it/archivio5_notizie_0_765.html
597433,2024-12-01 01:56:58.045821,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
597434,2024-12-01 01:57:01.450487,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
597435,2024-12-01 01:57:07.464621,https://www.livigno.eu/lista-hotel/hotel/teola

Italy, history number 5
Last 5 records

,synthetic_time,synthetic_url
601586,2024-11-30 21:53:26.623012,https://sky.it
601587,2024-11-30 22:41:58.579752,https://comunedisanremo.it/archivio5_notizie_0_1004.html
601588,2024-12-01 02:15:28.962827,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
601589,2024-12-01 02:15:32.367493,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
601590,2024-12-01 02:15:38.381627,https://www.livigno.eu/lista-hotel/hotel/teola

Italy, history number 6
Last 5 records

,synthetic_time,synthetic_url
611867,2024-11-30 21:28:59.729375,https://www.weschool.com/
611868,2024-11-30 21:29:04.407541,https://sky.it
611869,2024-11-30 22:17:36.364281,https://comunedisanremo.it/archivio2_aree-tematiche_0_113.html
611870,2024-12-01 01:51:06.747356,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
611871,2024-12-01 01:51:16.166156,https://www.livigno.eu/en/albertville-1992

Italy, history number 7
Last 5 records

,synthetic_time,synthetic_url
615983,2024-11-30 21:20:24.962748,https://www.weschool.com/
615984,2024-11-30 21:20:29.640914,https://sky.it
615985,2024-11-30 22:09:01.597654,https://comunedisanremo.it/archivio5_notizie_0_835.html
615986,2024-12-01 01:42:31.980729,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
615987,2024-12-01 01:42:41.399529,https://www.livigno.eu/en/albertville-1992

Italy, history number 8
Last 5 records

,synthetic_time,synthetic_url
603665,2024-11-30 21:41:35.231774,https://sky.it
603666,2024-11-30 22:30:07.188514,https://comunedisanremo.it/archivio5_notizie_0_765.html
603667,2024-12-01 02:03:37.571589,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
603668,2024-12-01 02:03:40.976255,https://www.livigno.eu/en/experience/mini_club?season=winter&category=active
603669,2024-12-01 02:03:46.990389,https://www.livigno.eu/lista-hotel/hotel/teola

Italy, history number 9
Last 5 records

,synthetic_time,synthetic_url
599502,2024-11-30 22:17:40.181243,https://unipi.it
599503,2024-11-30 22:17:44.859409,https://sky.it
599504,2024-11-30 23:06:16.816149,https://comunedisanremo.it/archivio5_notizie_0_1004.html
599505,2024-12-01 02:39:47.199224,https://www.livigno.eu/lista-appartamenti/appartamento/galli-giovanna-chalet-la-masonecia
599506,2024-12-01 02:39:56.618024,https://www.livigno.eu/en/e-bike

Japan, history number 0
Last 5 records

,synthetic_time,synthetic_url
583151,2024-11-30 22:47:13.311653,https://fureailand.jp/
583152,2024-11-30 23:35:45.268393,https://www.chatwork.com/ykawamura19830609
583153,2024-12-01 03:09:15.651468,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
583154,2024-12-01 03:09:19.056134,https://www.jfa.jp/national_team/u23_2020/20200327/youth_programme.html
583155,2024-12-01 03:09:25.070268,https://www.gltjp.com/ja/article/item/20221/

Japan, history number 1
Last 5 records

,synthetic_time,synthetic_url
587231,2024-11-30 22:42:31.476615,https://izugeopark.org
587232,2024-11-30 23:31:03.433355,https://www.chatwork.com/mh710
587233,2024-12-01 03:04:33.816430,https://www.jfa.jp/national_team/futsalw_2025/afc_futsal_womens_asian_cup_2025/
587234,2024-12-01 03:04:37.221096,https://www.jfa.jp/match_47fa/102_tohoku/2025_university/div2_north/thfa/star.html
587235,2024-12-01 03:04:43.235230,https://www.gltjp.com/en/article/item/20914/

Japan, history number 2
Last 5 records

,synthetic_time,synthetic_url
593343,2024-11-30 21:29:29.448688,https://top-page.jp
593344,2024-11-30 22:18:01.405428,https://www.chatwork.com/world_odar
593345,2024-12-01 01:51:31.788503,https://www.jfa.jp/match_47fa/102_tohoku/2025_ladies_league/top/thfa/star.html
593346,2024-12-01 01:51:35.193169,https://www.jfa.jp/match_47fa/102_tohoku/2025_university/div2_north/thfa/star.html
593347,2024-12-01 01:51:41.207303,https://www.gltjp.com/en/article/item/20274/

Japan, history number 3
Last 5 records

,synthetic_time,synthetic_url
579081,2024-11-30 22:58:55.256050,https://izugeopark.org
579082,2024-11-30 23:47:27.212790,https://www.chatwork.com/g/3ego4yitc7ib4p
579083,2024-12-01 03:20:57.595865,https://www.jfa.jp/national_team/futsalw_2025/afc_futsal_womens_asian_cup_2025/
579084,2024-12-01 03:21:01.000531,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
579085,2024-12-01 03:21:07.014665,https://www.gltjp.com/en/article/item/20914/

Japan, history number 4
Last 5 records

,synthetic_time,synthetic_url
595369,2024-11-30 22:20:40.098753,https://fureailand.jp
595370,2024-11-30 23:09:12.055493,https://www.chatwork.com/3lmrl0x5c2m8c
595371,2024-12-01 02:42:42.438568,https://www.jfa.jp/match_47fa/102_tohoku/2025_ladies_league/top/thfa/star.html
595372,2024-12-01 02:42:45.843234,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
595373,2024-12-01 02:42:51.857368,https://www.gltjp.com/en/article/item/20127/

Japan, history number 5
Last 5 records

,synthetic_time,synthetic_url
591299,2024-11-30 22:44:45.695583,https://izugeopark.org
591300,2024-11-30 23:33:17.652323,https://www.chatwork.com/abeaawc
591301,2024-12-01 03:06:48.035398,https://www.jfa.jp/match_47fa/102_tohoku/2025_ladies_league/top/thfa/star.html
591302,2024-12-01 03:06:51.440064,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
591303,2024-12-01 03:06:57.454198,https://www.gltjp.com/en/article/item/20932/

Japan, history number 6
Last 5 records

,synthetic_time,synthetic_url
577031,2024-11-30 22:35:38.719005,https://gltjp.com
577032,2024-11-30 23:24:10.675745,https://www.chatwork.com/fleeks_mikura
577033,2024-12-01 02:57:41.058820,https://www.jfa.jp/national_team/u23_2020/20200327/youth_programme.html
577034,2024-12-01 02:57:44.463486,https://www.jfa.jp/national_team/futsalw_2025/afc_futsal_womens_asian_cup_2025/
577035,2024-12-01 02:57:50.477620,https://www.gltjp.com/ja/article/item/20221/

Japan, history number 7
Last 5 records

,synthetic_time,synthetic_url
589253,2024-11-30 22:37:25.533127,https://aizutetsudo.jp
589254,2024-11-30 23:25:57.489867,https://www.chatwork.com/3fuyhf96ca2o0
589255,2024-12-01 02:59:27.872942,https://www.jfa.jp/national_team/u23_2020/20200327/youth_programme.html
589256,2024-12-01 02:59:31.277608,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
589257,2024-12-01 02:59:37.291742,https://www.gltjp.com/en/article/item/20274/

Japan, history number 8
Last 5 records

,synthetic_time,synthetic_url
581118,2024-11-30 23:10:43.119445,https://top-page.jp
581119,2024-11-30 23:59:15.076185,https://www.chatwork.com/g/e9lfyhl10qg2v7
581120,2024-12-01 03:32:45.459260,http://jfa.jp/eng/social_action_programme/international_exchange/news/00027750/
581121,2024-12-01 03:32:48.863926,https://www.jfa.jp/match_47fa/102_tohoku/2025_university/div2_north/thfa/star.html
581122,2024-12-01 03:32:54.878060,https://www.gltjp.com/ja/article/item/20221/

Japan, history number 9
Last 5 records

,synthetic_time,synthetic_url
585187,2024-11-30 21:07:51.236412,https://yamap.com
585188,2024-11-30 21:07:55.914578,https://gltjp.com
585189,2024-11-30 21:56:27.871318,https://www.chatwork.com/abeaawc
585190,2024-12-01 01:29:58.254393,http://www.jfa.jp/match/japan_u12_football_championship_2015/standings/nara/
585191,2024-12-01 01:30:07.673193,https://www.gltjp.com/en/article/item/20631/

Latvia, history number 0
Last 5 records

,synthetic_time,synthetic_url
561792,2024-11-30 23:10:22.840108,https://bnn.lv
561793,2024-11-30 23:58:54.796848,https://www.limbazunovads.lv/lv/jaunumi?category%5b382%5d=382
561794,2024-12-01 03:32:25.179923,https://enudiena.lv/vakances?profession=&organization=3444&region=&search=&p=&sort=default
561795,2024-12-01 03:32:28.584589,https://enudiena.lv/vakances?fbclid=iwar1bxhqmby57ijlsmbkkpd5nrsfrb1aruoyy7ka2f8zblane-nuhtlpz61w
561796,2024-12-01 03:32:34.598723,https://enudiena.lv/ed/piedavajumi

Latvia, history number 1
Last 5 records

,synthetic_time,synthetic_url
559593,2024-11-30 21:19:59.478321,https://stradini.lv
559594,2024-11-30 21:20:04.156487,https://bnn.lv/
559595,2024-11-30 22:08:36.113227,https://alsunga.lv/notiks-19-kurzemes-stastnieku-festivals-ziv-zup/
559596,2024-12-01 01:42:06.496302,https://enudiena.lv/vakances?profession=&organization=&region=159&search=&p=&sort=default
559597,2024-12-01 01:42:15.915102,https://enudiena.lv/ed/registreties

Latvia, history number 2
Last 5 records

,synthetic_time,synthetic_url
568396,2024-11-30 21:06:31.977522,https://enudiena.lv
568397,2024-11-30 21:55:03.934262,https://www.kraslava.lv/lv/notikumu-kalendars?categories=1053
568398,2024-12-01 01:28:34.317337,https://enudiena.lv/vakances?profession=&organization=3444&region=&search=&p=&sort=default
568399,2024-12-01 01:28:37.722003,https://enudiena.lv/vakances?profession=&organization=&region=160&search=&p=&sort=default
568400,2024-12-01 01:28:43.736137,https://enudiena.lv/vakances

Latvia, history number 3
Last 5 records

,synthetic_time,synthetic_url
555189,2024-11-30 21:46:31.494308,https://dagda.lv
555190,2024-11-30 22:35:03.451048,https://alsunga.lv/pasvaldiba/sikdatnu-politika/
555191,2024-12-01 02:08:33.834123,https://enudiena.lv/vakances?profession=&organization=&region=160&search=&p=&sort=default
555192,2024-12-01 02:08:37.238789,https://enudiena.lv/par-enu-dienu/veiksmes-stasti/enu-diena-sizets-tv3-zinas
555193,2024-12-01 02:08:43.252923,https://enudiena.lv/ed/registreties

Latvia, history number 4
Last 5 records

,synthetic_time,synthetic_url
570585,2024-11-30 21:15:04.833687,https://ailab.lv
570586,2024-11-30 22:03:36.790427,https://alsunga.lv/satiekas-skrundas-puses-uznemeji/
570587,2024-12-01 01:37:07.173502,https://enudiena.lv/vakances?fbclid=iwar1bxhqmby57ijlsmbkkpd5nrsfrb1aruoyy7ka2f8zblane-nuhtlpz61w
570588,2024-12-01 01:37:10.578168,https://enudiena.lv/vakances?profession=&organization=3444&region=&search=&p=&sort=default
570589,2024-12-01 01:37:16.592302,https://enudiena.lv/apskatit/enu-devejs/86

Latvia, history number 5
Last 5 records

,synthetic_time,synthetic_url
574989,2024-11-30 21:09:00.428831,https://salacgriva.lv
574990,2024-11-30 21:57:32.385571,https://ergli.lv/public/lat/aktualitates/1058/
574991,2024-12-01 01:31:02.768646,https://enudiena.lv/vakances?profession=&organization=&region=160&search=&p=&sort=default
574992,2024-12-01 01:31:06.173312,https://enudiena.lv/par-enu-dienu/veiksmes-stasti/enu-diena-sizets-tv3-zinas
574993,2024-12-01 01:31:12.187446,https://enudiena.lv/apskatit/enu-devejs/86

Latvia, history number 6
Last 5 records

,synthetic_time,synthetic_url
557389,2024-11-30 21:55:03.849027,https://dagda.lv
557390,2024-11-30 22:43:35.805767,https://alsunga.lv/notiks-19-kurzemes-stastnieku-festivals-ziv-zup/
557391,2024-12-01 02:17:06.188842,https://enudiena.lv/vakances?region=&profession=&field=&organization=1040&search_text=
557392,2024-12-01 02:17:09.593508,https://enudiena.lv/vakances?fbclid=iwar1bxhqmby57ijlsmbkkpd5nrsfrb1aruoyy7ka2f8zblane-nuhtlpz61w
557393,2024-12-01 02:17:15.607642,https://enudiena.lv/apskatit/enu-devejs/81

Latvia, history number 7
Last 5 records

,synthetic_time,synthetic_url
566189,2024-11-30 22:59:23.775904,https://bnn.lv/
566190,2024-11-30 23:47:55.732644,http://www.gaujienasvidusskola.lv/lv/arhiivs-236401/arhivs-2015-2016/p__
566191,2024-12-01 03:21:26.115719,https://enudiena.lv/vakances?fbclid=iwar1bxhqmby57ijlsmbkkpd5nrsfrb1aruoyy7ka2f8zblane-nuhtlpz61w
566192,2024-12-01 03:21:29.520385,https://enudiena.lv/vakances?profession=&organization=3444&region=&search=&p=&sort=default
566193,2024-12-01 03:21:35.534519,https://enudiena.lv/ed/registreties

Latvia, history number 8
Last 5 records

,synthetic_time,synthetic_url
572792,2024-11-30 23:03:55.560126,https://enudiena.lv
572793,2024-11-30 23:52:27.516866,https://www.wondershare.com/guide/streaming-audio-recorder.html
572794,2024-12-01 03:25:57.899941,https://enudiena.lv/vakances?profession=&organization=&region=159&search=&p=&sort=default
572795,2024-12-01 03:26:01.304607,https://enudiena.lv/vakances?region=&profession=&field=&organization=1040&search_text=
572796,2024-12-01 03:26:07.318741,https://enudiena.lv/ed/registreties

Latvia, history number 9
Last 5 records

,synthetic_time,synthetic_url
563986,2024-11-30 22:08:40.232905,https://dagda.lv
563987,2024-11-30 22:57:12.189645,https://www.nica.lv/lv/foto/balt-galdauta-svtki/
563988,2024-12-01 02:30:42.572720,https://enudiena.lv/vakances?region=&profession=&field=&organization=1040&search_text=
563989,2024-12-01 02:30:45.977386,https://enudiena.lv/par-enu-dienu/veiksmes-stasti/enu-diena-sizets-tv3-zinas
563990,2024-12-01 02:30:51.991520,https://enudiena.lv/ed/piedavajumi

Lithuania, history number 0
Last 5 records

,synthetic_time,synthetic_url
533394,2024-11-30 21:33:34.327843,https://bns.lt/
533395,2024-11-30 22:22:06.284583,https://zaislumuziejus.lt/product/medinis-vilkelis-su-paleidimo-rankena/
533396,2024-12-01 01:55:36.667658,https://druskininkai.lt/apgyvendinimas/visos-apgyvendinimo-istaigos/centras-dainava-2/
533397,2024-12-01 01:55:40.072324,https://druskininkai.lt/en/accommodation/all-accommodation-places/lks-guest-house/
533398,2024-12-01 01:55:46.086458,https://druskininkai.lt/ru/tvic/infocentr/

Lithuania, history number 1
Last 5 records

,synthetic_time,synthetic_url
546467,2024-11-30 22:21:14.742230,https://www.voruta.lt/
546468,2024-11-30 23:09:46.698970,https://www.limis.lt/valuables/e/805354/130000006914291
546469,2024-12-01 02:43:17.082045,https://druskininkai.lt/en/accommodation/all-accommodation-places/de-lita/
546470,2024-12-01 02:43:20.486711,https://druskininkai.lt/en/accommodation/all-accommodation-places/lks-guest-house/
546471,2024-12-01 02:43:26.500845,https://druskininkai.lt/en/what-to-do/cableway/

Lithuania, history number 2
Last 5 records

,synthetic_time,synthetic_url
548648,2024-11-30 21:34:07.322968,https://infomoletai.lt
548649,2024-11-30 22:22:39.279708,https://www.renkuosilietuva.lt/lt/migrantu-istorijos/ramune-sveikyte/15
548650,2024-12-01 01:56:09.662783,https://druskininkai.lt/en/accommodation/all-accommodation-places/lks-guest-house/
548651,2024-12-01 01:56:13.067449,https://druskininkai.lt/pl/zakwaterowanie/wszystkie-kategorie/broliu-vila/
548652,2024-12-01 01:56:19.081583,https://druskininkai.lt/ru/tvic/infocentr/

Lithuania, history number 3
Last 5 records

,synthetic_time,synthetic_url
535580,2024-11-30 22:11:19.911099,https://www.akvapark.lt/
535581,2024-11-30 22:59:51.867839,https://www.birzai.lt/veiklos-sritys/svietimas/naujienos/154/p12
535582,2024-12-01 02:33:22.250914,https://druskininkai.lt/pl/zakwaterowanie/wszystkie-kategorie/broliu-vila/
535583,2024-12-01 02:33:25.655580,https://druskininkai.lt/naujienos/unikalus-naktinis-begimas-druskininkuose/
535584,2024-12-01 02:33:31.669714,https://druskininkai.lt/en/what-to-do/cableway/

Lithuania, history number 4
Last 5 records

,synthetic_time,synthetic_url
539934,2024-11-30 22:07:24.957013,https://laikas.lt
539935,2024-11-30 22:55:56.913753,https://www.cherryservers.com/blog/how-to-install-ubuntu-server
539936,2024-12-01 02:29:27.296828,https://druskininkai.lt/en/accommodation/all-accommodation-places/lks-guest-house/
539937,2024-12-01 02:29:30.701494,https://druskininkai.lt/apgyvendinimas/visos-apgyvendinimo-istaigos/centras-dainava-2/
539938,2024-12-01 02:29:36.715628,https://druskininkai.lt/ru/tvic/infocentr/

Lithuania, history number 5
Last 5 records

,synthetic_time,synthetic_url
544285,2024-11-30 22:58:21.082702,https://laikas.lt
544286,2024-11-30 23:46:53.039442,https://www.seimosgidas.lt/60-asis-barbie-gimtadienis/
544287,2024-12-01 03:20:23.422517,https://druskininkai.lt/en/accommodation/all-accommodation-places/de-lita/
544288,2024-12-01 03:20:26.827183,https://druskininkai.lt/naujienos/plovo-virimo-cempionatas-druskininkuose/
544289,2024-12-01 03:20:32.841317,https://druskininkai.lt/ru/tvic/infocentr/

Lithuania, history number 6
Last 5 records

,synthetic_time,synthetic_url
537763,2024-11-30 21:10:55.391130,https://druskininkai.lt
537764,2024-11-30 21:59:27.347870,http://zaislumuziejus.lt/kas-vyksta/sventinis-grafikas-2021-2022/
537765,2024-12-01 01:32:57.730945,https://druskininkai.lt/apgyvendinimas/visos-apgyvendinimo-istaigos/centras-dainava-2/
537766,2024-12-01 01:33:01.135611,https://druskininkai.lt/en/accommodation/all-accommodation-places/de-lita/
537767,2024-12-01 01:33:07.149745,https://druskininkai.lt/en/what-to-do/cableway/

Lithuania, history number 7
Last 5 records

,synthetic_time,synthetic_url
550834,2024-11-30 21:40:22.713049,https://telsiaitic.lt
550835,2024-11-30 22:28:54.669789,https://www.renkuosilietuva.lt/en/success-stories/polina-tikunova/10
550836,2024-12-01 02:02:25.052864,https://druskininkai.lt/pl/zakwaterowanie/wszystkie-kategorie/broliu-vila/
550837,2024-12-01 02:02:28.457530,https://druskininkai.lt/pl/atrakcje/pazintiniu-programu-ir-marsrutu-organizatoriai-surus-vejai/
550838,2024-12-01 02:02:34.471664,https://druskininkai.lt/en/what-to-do/cableway/

Lithuania, history number 8
Last 5 records

,synthetic_time,synthetic_url
553003,2024-11-30 21:34:40.279934,https://telsiaitic.lt
553004,2024-11-30 22:23:12.236674,https://www.cherryservers.com/blog/how-to-manage-secrets-in-kubernetes
553005,2024-12-01 01:56:42.619749,https://druskininkai.lt/naujienos/unikalus-naktinis-begimas-druskininkuose/
553006,2024-12-01 01:56:46.024415,https://druskininkai.lt/pl/atrakcje/pazintiniu-programu-ir-marsrutu-organizatoriai-surus-vejai/
553007,2024-12-01 01:56:52.038549,https://druskininkai.lt/en/what-to-do/afrodite/

Lithuania, history number 9
Last 5 records

,synthetic_time,synthetic_url
542103,2024-11-30 21:23:43.707150,https://akvapark.lt
542104,2024-11-30 22:12:15.663890,https://skaiciuokle.lt/skaiciuokles/procentu-skaiciuokle
542105,2024-12-01 01:45:46.046965,https://druskininkai.lt/naujienos/plovo-virimo-cempionatas-druskininkuose/
542106,2024-12-01 01:45:49.451631,https://druskininkai.lt/apgyvendinimas/visos-apgyvendinimo-istaigos/centras-dainava-2/
542107,2024-12-01 01:45:55.465765,https://druskininkai.lt/en/what-to-do/afrodite/

Malaysia, history number 0
Last 5 records

,synthetic_time,synthetic_url
516164,2024-11-30 21:26:13.833832,https://usjcycles.com
516165,2024-11-30 22:14:45.790572,https://rocketreach.co/crown-castle-email-format_b5d1da73f42e4ca5
516166,2024-12-01 01:48:16.173647,https://www.usjcycles.com/bike-accessories-online/bike-trainers/tacx-ant-dongle-micro-usb/
516167,2024-12-01 01:48:19.578313,https://www.usjcycles.com/bike-accessories-online/bike-helmets/abus-viantor-helmet/
516168,2024-12-01 01:48:25.592447,https://harianpost.my/lokasi-mesin-atm-raya/

Malaysia, history number 1
Last 5 records

,synthetic_time,synthetic_url
518304,2024-11-30 22:17:37.252539,https://www.quora.com/
518305,2024-11-30 23:06:09.209279,https://rocketreach.co/cl/naics-code-32741-companies_002
518306,2024-12-01 02:39:39.592354,https://www.usjcycles.com/bike-accessories-online/other-accessories/quad-lock-universal-bike-kit/
518307,2024-12-01 02:39:42.997020,https://www.usjcycles.com/bike-accessories-online/cycling-shoes/shimano-sh-rc703-women-limited-edition/
518308,2024-12-01 02:39:49.011154,https://www.imcyclist.com/kids-cycling-clinic/

Malaysia, history number 2
Last 5 records

,synthetic_time,synthetic_url
522609,2024-11-30 21:13:26.356090,https://www.quora.com/
522610,2024-11-30 22:01:58.312830,https://rocketreach.co/cl/naics-code-44312-companies_002
522611,2024-12-01 01:35:28.695905,https://www.usjcycles.com/bike-accessories-online/bike-trainers/tacx-ant-dongle-micro-usb/
522612,2024-12-01 01:35:32.100571,https://www.usjcycles.com/accessories/cycling-shoes/premium-mtb-shoes-shimano-sh-m200/
522613,2024-12-01 01:35:38.114705,https://harianpost.my/pendidikan/page/9/

Malaysia, history number 3
Last 5 records

,synthetic_time,synthetic_url
513997,2024-11-30 22:06:35.488089,https://usjcycles.com
513998,2024-11-30 22:55:07.444829,https://rocketreach.co/cl/naics-code-32741-companies_002
513999,2024-12-01 02:28:37.827904,https://www.usjcycles.com/accessories/cycling-shoes/premium-mtb-shoes-shimano-sh-m200/
514000,2024-12-01 02:28:41.232570,https://harianpost.my/tips-mudah-bersihkan-carpet-guna-baking-soda-dan-pewangi/
514001,2024-12-01 02:28:47.246704,https://www.usjcycles.com/brand/bar-fly/

Malaysia, history number 4
Last 5 records

,synthetic_time,synthetic_url
529069,2024-11-30 21:17:49.249986,https://www.quora.com/
529070,2024-11-30 22:06:21.206726,https://rocketreach.co/cl/naics-code-336411-companies_002
529071,2024-12-01 01:39:51.589801,https://www.usjcycles.com/bike-accessories-online/cycling-shoes/shimano-sh-rc703-women-limited-edition/
529072,2024-12-01 01:39:54.994467,https://harianpost.my/tips-mudah-bersihkan-carpet-guna-baking-soda-dan-pewangi/
529073,2024-12-01 01:40:01.008601,https://harianpost.my/qr-pay-maybank/

Malaysia, history number 5
Last 5 records

,synthetic_time,synthetic_url
511835,2024-11-30 21:51:16.758203,https://www.quora.com/
511836,2024-11-30 22:39:48.714943,https://rocketreach.co/cl/sic-code-491-companies_001
511837,2024-12-01 02:13:19.098018,https://harianpost.my/hukum-memakan-daging-stik-separa-mentah-ini-penjelasan-dr-zulkifli/
511838,2024-12-01 02:13:22.502684,https://harianpost.my/tips-mudah-bersihkan-carpet-guna-baking-soda-dan-pewangi/
511839,2024-12-01 02:13:28.516818,https://www.usjcycles.com/product-tag/clearance/

Malaysia, history number 6
Last 5 records

,synthetic_time,synthetic_url
531219,2024-11-30 21:28:07.754038,https://usjcycles.com
531220,2024-11-30 22:16:39.710778,https://rocketreach.co/hexion-inc-hr-department_b54a0f50f725d04c
531221,2024-12-01 01:50:10.093853,https://www.usjcycles.com/parts-components/gear-parts/shimano-di2-tt-shifter-r671/
531222,2024-12-01 01:50:13.498519,https://harianpost.my/hukum-memakan-daging-stik-separa-mentah-ini-penjelasan-dr-zulkifli/
531223,2024-12-01 01:50:19.512653,https://www.imcyclist.com/kids-cycling-clinic/

Malaysia, history number 7
Last 5 records

,synthetic_time,synthetic_url
520451,2024-11-30 22:55:47.480551,https://www.quora.com/
520452,2024-11-30 23:44:19.437291,https://rocketreach.co/cl/naics-code-32741-companies_002
520453,2024-12-01 03:17:49.820366,https://harianpost.my/hukum-memakan-daging-stik-separa-mentah-ini-penjelasan-dr-zulkifli/
520454,2024-12-01 03:17:53.225032,https://www.usjcycles.com/bike-accessories-online/bike-tools/feedback-team-edition-tool-kit/
520455,2024-12-01 03:17:59.239166,https://www.imcyclist.com/products/

Malaysia, history number 8
Last 5 records

,synthetic_time,synthetic_url
524769,2024-11-30 22:05:33.730557,https://www.imcyclist.com/
524770,2024-11-30 22:54:05.687297,https://rocketreach.co/cl/naics-code-238-companies_002
524771,2024-12-01 02:27:36.070372,https://www.usjcycles.com/bike-accessories-online/bike-trainers/tacx-ant-dongle-micro-usb/
524772,2024-12-01 02:27:39.475038,https://harianpost.my/tips-mudah-bersihkan-carpet-guna-baking-soda-dan-pewangi/
524773,2024-12-01 02:27:45.489172,https://harianpost.my/qr-pay-maybank/

Malaysia, history number 9
Last 5 records

,synthetic_time,synthetic_url
526917,2024-11-30 22:49:54.680555,https://www.imcyclist.com/
526918,2024-11-30 23:38:26.637295,https://rocketreach.co/cl/naics-code-32741-companies_002
526919,2024-12-01 03:11:57.020370,https://www.usjcycles.com/parts-components/gear-parts/kogel-ceramic-bottom-bracket-t47/
526920,2024-12-01 03:12:00.425036,https://www.usjcycles.com/bike-accessories-online/cycling-wears/castelli-espresso-50-jersey-limited-edition/
526921,2024-12-01 03:12:06.439170,https://www.usjcycles.com/brand/bar-fly/

Mexico, history number 0
Last 5 records

,synthetic_time,synthetic_url
507740,2024-11-30 23:07:56.459298,https://upm.es
507741,2024-11-30 23:56:28.416038,https://www.rincondelvago.com/administracion_empresas/
507742,2024-12-01 03:29:58.799113,https://pueblobicicletero.org/gana-luis-gomez-de-pb-2-lugar-en-concurso-de-diseno-bicicletero/
507743,2024-12-01 03:30:02.203779,https://pueblobicicletero.org/tienen-10-por-ciento-de-viviendas-en-zona-metropolitana-de-monterrey-al-menos-una-bicicleta-que-se-utiliza-como-medio-de-transporte/
507744,2024-12-01 03:30:08.217913,https://pueblobicicletero.org/diamundialsinauto/

Mexico, history number 1
Last 5 records

,synthetic_time,synthetic_url
509669,2024-11-30 21:44:14.251455,https://upm.es
509670,2024-11-30 22:32:46.208195,https://www.rincondelvago.com/administracion_empresas/
509671,2024-12-01 02:06:16.591270,https://pueblobicicletero.org/ciclista-agredido-por-conductor-de-ruta-130-escribe-carta-grupo-lazcano/
509672,2024-12-01 02:06:19.995936,http://pueblobicicletero.org/festejamos-13-anos-del-pueblo-bicicletero-bicisi/
509673,2024-12-01 02:06:26.010070,https://pueblobicicletero.org/biciclon-7-2/

Mexico, history number 2
Last 5 records

,synthetic_time,synthetic_url
492283,2024-11-30 21:16:11.619031,https://upm.es
492284,2024-11-30 22:04:43.575771,https://www.rincondelvago.com/administracion_empresas/
492285,2024-12-01 01:38:13.958846,https://pueblobicicletero.org/4ta-edicion-de-la-rodada-nacional-de-morras-para-morras-2024/
492286,2024-12-01 01:38:17.363512,http://pueblobicicletero.org/festejamos-13-anos-del-pueblo-bicicletero-bicisi/
492287,2024-12-01 01:38:23.377646,https://pueblobicicletero.org/diamundialsinauto/

Mexico, history number 3
Last 5 records

,synthetic_time,synthetic_url
494230,2024-11-30 22:07:58.687952,https://upm.es
494231,2024-11-30 22:56:30.644692,https://www.rincondelvago.com/administracion_empresas/
494232,2024-12-01 02:30:01.027767,http://pueblobicicletero.org/festejamos-13-anos-del-pueblo-bicicletero-bicisi/
494233,2024-12-01 02:30:04.432433,https://pueblobicicletero.org/solicitud-al-gobierno-de-luis-donaldo-colosio-riojas-para-atender-temas-prioritarios-de-movilidad-desarrollo-urbano-y-medio-ambiente/
494234,2024-12-01 02:30:10.446567,https://pueblobicicletero.org/708/

Mexico, history number 4
Last 5 records

,synthetic_time,synthetic_url
496156,2024-11-30 21:32:24.063614,https://upm.es
496157,2024-11-30 22:20:56.020354,https://www.rincondelvago.com/administracion_empresas/
496158,2024-12-01 01:54:26.403429,https://pueblobicicletero.org/gana-luis-gomez-de-pb-2-lugar-en-concurso-de-diseno-bicicletero/
496159,2024-12-01 01:54:29.808095,http://pueblobicicletero.org/festejamos-13-anos-del-pueblo-bicicletero-bicisi/
496160,2024-12-01 01:54:35.822229,https://pueblobicicletero.org/calidaddelaire-7al13/

Mexico, history number 5
Last 5 records

,synthetic_time,synthetic_url
503863,2024-11-30 22:40:18.190970,https://upm.es
503864,2024-11-30 23:28:50.147710,https://www.rincondelvago.com/administracion_empresas/
503865,2024-12-01 03:02:20.530785,http://pueblobicicletero.org/festejamos-13-anos-del-pueblo-bicicletero-bicisi/
503866,2024-12-01 03:02:23.935451,https://pueblobicicletero.org/4ta-edicion-de-la-rodada-nacional-de-morras-para-morras-2024/
503867,2024-12-01 03:02:29.949585,https://pueblobicicletero.org/diamundialsinauto/

Mexico, history number 6
Last 5 records

,synthetic_time,synthetic_url
505806,2024-11-30 21:52:22.757069,https://upm.es
505807,2024-11-30 22:40:54.713809,https://www.rincondelvago.com/administracion_empresas/
505808,2024-12-01 02:14:25.096884,https://pueblobicicletero.org/4ta-edicion-de-la-rodada-nacional-de-morras-para-morras-2024/
505809,2024-12-01 02:14:28.501550,https://pueblobicicletero.org/pedaleada-por-el-dia-de-la-biodiversidad-23-mayo/
505810,2024-12-01 02:14:34.515684,https://pueblobicicletero.org/diamundialsinauto/

Mexico, history number 7
Last 5 records

,synthetic_time,synthetic_url
498088,2024-11-30 23:09:43.003790,https://upm.es
498089,2024-11-30 23:58:14.960530,https://www.rincondelvago.com/administracion_empresas/
498090,2024-12-01 03:31:45.343605,https://pueblobicicletero.org/pedaleada-por-el-dia-de-la-biodiversidad-23-mayo/
498091,2024-12-01 03:31:48.748271,https://pueblobicicletero.org/utilizan-auto-para-ir-al-trabajo-58-57-de-mexicanxs-menos-de-1-lo-hace-en-bici/
498092,2024-12-01 03:31:54.762405,https://pueblobicicletero.org/biciclon-7-2/

Mexico, history number 8
Last 5 records

,synthetic_time,synthetic_url
500008,2024-11-30 22:56:39.490217,https://upm.es
500009,2024-11-30 23:45:11.446957,https://www.rincondelvago.com/administracion_empresas/
500010,2024-12-01 03:18:41.830032,https://pueblobicicletero.org/llaman-oscs-a-nuevo-acuerdo-metropolitano-comunicado/
500011,2024-12-01 03:18:45.234698,https://pueblobicicletero.org/gana-luis-gomez-de-pb-2-lugar-en-concurso-de-diseno-bicicletero/
500012,2024-12-01 03:18:51.248832,https://pueblobicicletero.org/calidaddelaire-7al13/

Mexico, history number 9
Last 5 records

,synthetic_time,synthetic_url
501931,2024-11-30 21:48:02.270295,https://upm.es
501932,2024-11-30 22:36:34.227035,https://www.rincondelvago.com/administracion_empresas/
501933,2024-12-01 02:10:04.610110,https://pueblobicicletero.org/ciclista-agredido-por-conductor-de-ruta-130-escribe-carta-grupo-lazcano/
501934,2024-12-01 02:10:08.014776,https://pueblobicicletero.org/tienen-10-por-ciento-de-viviendas-en-zona-metropolitana-de-monterrey-al-menos-una-bicicleta-que-se-utiliza-como-medio-de-transporte/
501935,2024-12-01 02:10:14.028910,https://pueblobicicletero.org/calidaddelaire-7al13/

Morocco, history number 0
Last 5 records

,synthetic_time,synthetic_url
484402,2024-11-30 21:23:18.513116,https://tarjamaan.com
484403,2024-11-30 21:23:23.191282,https://media7.ma
484404,2024-11-30 22:11:55.148022,https://www.aufeminin.com/chirurgie/seins-tp19654.html
484405,2024-12-01 01:45:25.531097,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
484406,2024-12-01 01:45:34.949897,https://media7.ma/tag/saoudite/

Morocco, history number 1
Last 5 records

,synthetic_time,synthetic_url
486387,2024-11-30 21:34:08.801676,https://tarjamaan.com
486388,2024-11-30 21:34:13.479842,https://challenge.ma
486389,2024-11-30 22:22:45.436582,https://www.sitew.com/intelligence-artificielle/ia-et-webdesign
486390,2024-12-01 01:56:15.819657,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
486391,2024-12-01 01:56:25.238457,https://media7.ma/tag/saoudite/

Morocco, history number 2
Last 5 records

,synthetic_time,synthetic_url
476513,2024-11-30 21:10:14.112707,https://tarjamaan.com
476514,2024-11-30 21:10:18.790873,https://challenge.ma
476515,2024-11-30 21:58:50.747613,https://www.sitew.com/tutoriel/demarrer-editeur
476516,2024-12-01 01:32:21.130688,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
476517,2024-12-01 01:32:30.549488,https://media7.ma/tag/marocanite/

Morocco, history number 3
Last 5 records

,synthetic_time,synthetic_url
474518,2024-11-30 21:10:48.119277,https://tarjamaan.com
474519,2024-11-30 21:10:52.797443,https://telecontact.ma
474520,2024-11-30 21:59:24.754183,https://www.sitew.com/tutoriel/demarrer-editeur
474521,2024-12-01 01:32:55.137258,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
474522,2024-12-01 01:33:04.556058,https://media7.ma/tag/beaute/

Morocco, history number 4
Last 5 records

,synthetic_time,synthetic_url
478487,2024-11-30 22:59:38.427218,https://marocannuaire.org
478488,2024-11-30 22:59:43.105384,https://challenge.ma
478489,2024-11-30 23:48:15.062124,https://www.sitew.com/reseaux-sociaux/threads-instagram
478490,2024-12-01 03:21:45.445199,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
478491,2024-12-01 03:21:54.863999,https://media7.ma/tag/culturels/

Morocco, history number 5
Last 5 records

,synthetic_time,synthetic_url
482422,2024-11-30 21:14:55.810244,https://dreamjob.ma
482423,2024-11-30 21:15:00.488410,https://lesiteinfo.com
482424,2024-11-30 22:03:32.445150,https://www.sitew.com/reseaux-sociaux/threads-instagram
482425,2024-12-01 01:37:02.828225,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
482426,2024-12-01 01:37:12.247025,https://media7.ma/tag/lespace/

Morocco, history number 6
Last 5 records

,synthetic_time,synthetic_url
488364,2024-11-30 22:51:01.157176,https://marocannuaire.org
488365,2024-11-30 22:51:05.835342,https://challenge.ma
488366,2024-11-30 23:39:37.792082,https://www.sitew.com/comment-optimiser-son-referencement/balises-html
488367,2024-12-01 03:13:08.175157,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
488368,2024-12-01 03:13:17.593957,https://media7.ma/tag/contemporaine/

Morocco, history number 7
Last 5 records

,synthetic_time,synthetic_url
490354,2024-11-30 21:09:09.404448,https://dreamjob.ma
490355,2024-11-30 21:09:14.082614,https://challenge.ma
490356,2024-11-30 21:57:46.039354,https://www.sitew.com/comment-optimiser-son-referencement/balises-html
490357,2024-12-01 01:31:16.422429,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
490358,2024-12-01 01:31:25.841229,https://media7.ma/tag/polyphonies/

Morocco, history number 8
Last 5 records

,synthetic_time,synthetic_url
472532,2024-11-30 22:30:22.739238,https://dreamjob.ma
472533,2024-11-30 22:30:27.417404,https://lesiteinfo.com
472534,2024-11-30 23:18:59.374144,https://www.aufeminin.com/forum/amour-couple/3ans-de-relation-fd5715462-p2
472535,2024-12-01 02:52:29.757219,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
472536,2024-12-01 02:52:39.176019,https://media7.ma/tag/beaute/

Morocco, history number 9
Last 5 records

,synthetic_time,synthetic_url
480456,2024-11-30 21:00:54.010451,https://marocannuaire.org
480457,2024-11-30 21:00:58.688617,https://media7.ma
480458,2024-11-30 21:49:30.645357,https://www.sitew.com/intelligence-artificielle/ia-et-webdesign
480459,2024-12-01 01:23:01.028432,https://media7.ma/de-la-comptabilite-au-stand-up-amine-radi-lhumoriste-a-800-millions-de-vues/
480460,2024-12-01 01:23:10.447232,https://media7.ma/tag/contemporaine/

Netherlands, history number 0
Last 5 records

,synthetic_time,synthetic_url
455497,2024-11-30 21:15:26.261303,https://uwv.nl
455498,2024-11-30 22:03:58.218043,https://www.delft.nl/digitaal-gewaarmerkte-documenten
455499,2024-12-01 01:37:28.601118,https://vanderkrogt.net/statues/artist.php?id=dreysse.wolfgang&object=a&page=1
455500,2024-12-01 01:37:32.005784,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
455501,2024-12-01 01:37:38.019918,https://erasmussport.nl/en/contact/

Netherlands, history number 1
Last 5 records

,synthetic_time,synthetic_url
451194,2024-11-30 21:14:27.677537,https://9292.nl
451195,2024-11-30 21:14:32.355703,https://www.ppsc.nl/
451196,2024-11-30 22:03:04.312443,https://www.denhaag.nl/en/safety/camera-surveillance/
451197,2024-12-01 01:36:34.695518,https://vanderkrogt.net/statues/artist.php?id=dreysse.wolfgang&object=a&page=1
451198,2024-12-01 01:36:44.114318,http://erasmussport.nl/en/verenigingen/

Netherlands, history number 2
Last 5 records

,synthetic_time,synthetic_url
453350,2024-11-30 22:39:09.554808,https://svroac.nl
453351,2024-11-30 23:27:41.511548,https://www.denhaag.nl/en/safety/camera-surveillance/
453352,2024-12-01 03:01:11.894623,https://vanderkrogt.net/statues/artist.php?id=dreysse.wolfgang&object=a&page=1
453353,2024-12-01 03:01:15.299289,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
453354,2024-12-01 03:01:21.313423,https://erasmussport.nl/erasmus-sport-pas/

Netherlands, history number 3
Last 5 records

,synthetic_time,synthetic_url
468381,2024-11-30 22:26:50.122601,https://9292.nl
468382,2024-11-30 22:26:54.800767,https://www.joswgm.nl/
468383,2024-11-30 23:15:26.757507,https://www.delft.nl/delftse-luchtbedden-gaan-de-wereld-over
468384,2024-12-01 02:48:57.140582,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
468385,2024-12-01 02:49:06.559382,https://erasmussport.nl/en/

Netherlands, history number 4
Last 5 records

,synthetic_time,synthetic_url
464079,2024-11-30 21:48:53.497826,https://svroac.nl
464080,2024-11-30 22:37:25.454566,https://www.denhaag.nl/nl/verkeer-en-vervoer/rotterdamsebaan/
464081,2024-12-01 02:10:55.837641,https://vanderkrogt.net/statues/artist.php?id=dreysse.wolfgang&object=a&page=1
464082,2024-12-01 02:10:59.242307,https://www.vanderkrogt.net/statues/regio.php?webpage=co&land=us&regio=pa&page=1
464083,2024-12-01 02:11:05.256441,https://erasmussport.nl/erasmus-sport-cafe/

Netherlands, history number 5
Last 5 records

,synthetic_time,synthetic_url
466234,2024-11-30 23:07:47.076349,https://9292.nl
466235,2024-11-30 23:07:51.754515,https://ivdnt.org
466236,2024-11-30 23:56:23.711255,https://www.delft.nl/circulaire-prijswinnaars
466237,2024-12-01 03:29:54.094330,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
466238,2024-12-01 03:30:03.513130,https://erasmussport.nl/boks-budo/

Netherlands, history number 6
Last 5 records

,synthetic_time,synthetic_url
461925,2024-11-30 21:32:49.383336,https://pvcvoetbal.nl
461926,2024-11-30 22:21:21.340076,https://www.delft.nl/fiets-stallen-station-delft
461927,2024-12-01 01:54:51.723151,https://www.vanderkrogt.net/statues/regio.php?webpage=co&land=us&regio=pa&page=1
461928,2024-12-01 01:54:55.127817,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
461929,2024-12-01 01:55:01.141951,https://erasmussport.nl/boks-budo/

Netherlands, history number 7
Last 5 records

,synthetic_time,synthetic_url
470540,2024-11-30 21:37:05.255432,https://valkenswaard.nl
470541,2024-11-30 22:25:37.212172,https://www.delft.nl/en/immigration-procedure
470542,2024-12-01 01:59:07.595247,https://www.vanderkrogt.net/statues/regio.php?webpage=co&land=us&regio=pa&page=1
470543,2024-12-01 01:59:10.999913,https://vanderkrogt.net/statues/artist.php?id=dreysse.wolfgang&object=a&page=1
470544,2024-12-01 01:59:17.014047,http://erasmussport.nl/en/erasmus-sport-cafe/

Netherlands, history number 8
Last 5 records

,synthetic_time,synthetic_url
459781,2024-11-30 22:13:39.032405,https://pvcvoetbal.nl
459782,2024-11-30 23:02:10.989145,https://www.delft.nl/en/immigration-procedure
459783,2024-12-01 02:35:41.372220,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
459784,2024-12-01 02:35:44.776886,https://www.vanderkrogt.net/statues/regio.php?webpage=co&land=us&regio=pa&page=1
459785,2024-12-01 02:35:50.791020,http://erasmussport.nl/en/verenigingen/

Netherlands, history number 9
Last 5 records

,synthetic_time,synthetic_url
457622,2024-11-30 22:53:13.468995,https://9292.nl/
457623,2024-11-30 22:53:18.147161,https://svhoutwijk.nl
457624,2024-11-30 23:41:50.103901,https://www.delft.nl/en/immigration-procedure
457625,2024-12-01 03:15:20.486976,https://vanderkrogt.net/statues/artist_kaart.php?webpage=st&id=noble.matthew
457626,2024-12-01 03:15:29.905776,http://erasmussport.nl/en/erasmus-sport-pas/

New_Zealand, history number 0
Last 5 records

,synthetic_time,synthetic_url
436039,2024-11-30 21:58:10.480762,https://glacierkayaks.com
436040,2024-11-30 22:46:42.437502,https://one.nz/help/mobile/change-myflex-plan/
436041,2024-12-01 02:20:12.820577,https://www.glacierkayaks.com/tag/water/
436042,2024-12-01 02:20:16.225243,https://www.glacierkayaks.com/tag/canoe/
436043,2024-12-01 02:20:22.239377,https://www.glacierkayaks.com/average-kayak-speed/

New_Zealand, history number 1
Last 5 records

,synthetic_time,synthetic_url
431706,2024-11-30 23:00:40.043003,https://glacierkayaks.com
431707,2024-11-30 23:49:11.999743,https://one.nz/legal/terms-conditions/bonus-minutes/
431708,2024-12-01 03:22:42.382818,https://www.glacierkayaks.com/author/rory/
431709,2024-12-01 03:22:45.787484,https://www.glacierkayaks.com/tag/kayak-brands/
431710,2024-12-01 03:22:51.801618,https://www.glacierkayaks.com/author/jack/

New_Zealand, history number 2
Last 5 records

,synthetic_time,synthetic_url
440382,2024-11-30 21:01:42.065834,https://glacierkayaks.com
440383,2024-11-30 21:50:14.022574,https://one.nz/careers/technology-jobs/
440384,2024-12-01 01:23:44.405649,https://www.glacierkayaks.com/do-you-need-license-for-kayak-in-your-state/
440385,2024-12-01 01:23:47.810315,https://www.glacierkayaks.com/average-kayak-speed/
440386,2024-12-01 01:23:53.824449,https://www.glacierkayaks.com/tag/water/

New_Zealand, history number 3
Last 5 records

,synthetic_time,synthetic_url
446885,2024-11-30 21:55:56.046085,https://glacierkayaks.com
446886,2024-11-30 22:44:28.002825,https://one.nz/careers/technology-jobs/
446887,2024-12-01 02:17:58.385900,https://www.glacierkayaks.com/tag/kayak/
446888,2024-12-01 02:18:01.790566,https://www.glacierkayaks.com/category/kayaking-tours/
446889,2024-12-01 02:18:07.804700,https://www.glacierkayaks.com/tag/york/

New_Zealand, history number 4
Last 5 records

,synthetic_time,synthetic_url
442553,2024-11-30 21:30:59.737521,https://fresherslive.com
442554,2024-11-30 21:31:04.415687,https://glacierkayaks.com
442555,2024-11-30 22:19:36.372427,https://one.nz/help/mobile/change-myflex-plan/
442556,2024-12-01 01:53:06.755502,https://www.glacierkayaks.com/do-you-need-license-for-kayak-in-your-state/
442557,2024-12-01 01:53:16.174302,https://www.glacierkayaks.com/tag/kayak/

New_Zealand, history number 5
Last 5 records

,synthetic_time,synthetic_url
429542,2024-11-30 23:12:33.405927,https://glacierkayaks.com
429543,2024-12-01 00:01:05.362667,https://one.nz/careers/technology-jobs/
429544,2024-12-01 03:34:35.745742,https://www.glacierkayaks.com/tag/kayak-brands/
429545,2024-12-01 03:34:39.150408,https://www.glacierkayaks.com/author/rory/
429546,2024-12-01 03:34:45.164542,https://www.glacierkayaks.com/average-kayak-speed/

New_Zealand, history number 6
Last 5 records

,synthetic_time,synthetic_url
449047,2024-11-30 22:52:04.229956,https://fresherslive.com
449048,2024-11-30 22:52:08.908122,https://glacierkayaks.com
449049,2024-11-30 23:40:40.864862,https://one.nz/online-shop/accessory/samsung/a35/silicone-case/
449050,2024-12-01 03:14:11.247937,https://www.glacierkayaks.com/best-wetsuits-for-kayaking/
449051,2024-12-01 03:14:14.652603,https://www.glacierkayaks.com/tag/wakeboard-boats/

New_Zealand, history number 7
Last 5 records

,synthetic_time,synthetic_url
444724,2024-11-30 22:31:10.054509,https://glacierkayaks.com
444725,2024-11-30 23:19:42.011249,https://one.nz/support/broadband-plans/retired-plans/
444726,2024-12-01 02:53:12.394324,https://www.glacierkayaks.com/tag/york/
444727,2024-12-01 02:53:15.798990,https://www.glacierkayaks.com/tag/canoe/
444728,2024-12-01 02:53:21.813124,https://www.glacierkayaks.com/tag/york/

New_Zealand, history number 8
Last 5 records

,synthetic_time,synthetic_url
438209,2024-11-30 21:34:09.348766,https://aucklandnz.com
438210,2024-11-30 21:34:14.026932,https://glacierkayaks.com
438211,2024-11-30 22:22:45.983672,https://one.nz/online-shop/accessory/samsung/a35/silicone-case/
438212,2024-12-01 01:56:16.366747,https://www.glacierkayaks.com/tag/wakeboard-boats/
438213,2024-12-01 01:56:19.771413,https://www.glacierkayaks.com/tag/kayak-brands/

New_Zealand, history number 9
Last 5 records

,synthetic_time,synthetic_url
433864,2024-11-30 22:53:26.431036,https://aucklandnz.com
433865,2024-11-30 22:53:31.109202,https://glacierkayaks.com
433866,2024-11-30 23:42:03.065942,https://one.nz/careers/technology-jobs/
433867,2024-12-01 03:15:33.449017,https://www.glacierkayaks.com/tag/kayak-brands/
433868,2024-12-01 03:15:42.867817,https://www.glacierkayaks.com/tag/kayak/

Norway, history number 0
Last 5 records

,synthetic_time,synthetic_url
416522,2024-11-30 22:20:37.102606,https://nito.no
416523,2024-11-30 23:09:09.059346,https://www.forsvaret.no/en/research/staff/martinsen-kare-dahl
416524,2024-12-01 02:42:39.442421,https://www.nito.no/en/benefits-insurances/why-join-trade-union/why-should-i-join-a-trade-union/
416525,2024-12-01 02:42:42.847087,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/hotel/
416526,2024-12-01 02:42:48.861221,https://www.nito.no/en/benefits-insurances/

Norway, history number 1
Last 5 records

,synthetic_time,synthetic_url
412187,2024-11-30 21:21:38.096703,https://fjord1.no
412188,2024-11-30 22:10:10.053443,https://www.kongehuset.no/nyhet.html?tid=231076&sek=26939
412189,2024-12-01 01:43:40.436518,https://www.nito.no/medlemsfordel/case/bedriftsgruppe/slik-kan-ei-bedriftsgruppe-paverka-lons--og-arbeidsvilkara-dine/
412190,2024-12-01 01:43:43.841184,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/program/
412191,2024-12-01 01:43:49.855318,https://www.nito.no/en/benefits-insurances/

Norway, history number 2
Last 5 records

,synthetic_time,synthetic_url
414348,2024-11-30 22:19:03.539871,https://khrono.no
414349,2024-11-30 23:07:35.496611,https://www.kongehuset.no/artikkel.html?tid=27582&sek=27037
414350,2024-12-01 02:41:05.879686,https://www.nito.no/en/salary-and-working-conditions/salary/starting-salary/
414351,2024-12-01 02:41:09.284352,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/exhibitor/
414352,2024-12-01 02:41:15.298486,https://www.nito.no/en/

Norway, history number 3
Last 5 records

,synthetic_time,synthetic_url
420872,2024-11-30 22:55:48.456314,https://fjord1.no
420873,2024-11-30 23:44:20.413054,https://www.kongehuset.no/nyhet.html?tid=225957&sek=26939
420874,2024-12-01 03:17:50.796129,https://www.nito.no/en/salary-and-working-conditions/salary/starting-salary/
420875,2024-12-01 03:17:54.200795,https://www.nito.no/en/salary-and-working-conditions/salary/pay-cuts/
420876,2024-12-01 03:18:00.214929,https://www.nito.no/en/student/

Norway, history number 4
Last 5 records

,synthetic_time,synthetic_url
410026,2024-11-30 22:30:44.499811,https://khrono.no
410027,2024-11-30 23:19:16.456551,https://www.kongehuset.no/nyhet.html?tid=172925&sek=26939
410028,2024-12-01 02:52:46.839626,https://www.nito.no/en/salary-and-working-conditions/salary/starting-salary/
410029,2024-12-01 02:52:50.244292,https://www.nito.no/en/salary-and-working-conditions/working-conditions/
410030,2024-12-01 02:52:56.258426,https://www.nito.no/en/

Norway, history number 5
Last 5 records

,synthetic_time,synthetic_url
407848,2024-11-30 21:52:07.246974,https://dagsavisen.no
407849,2024-11-30 22:40:39.203714,https://www.kongehuset.no/nyhet.html?tid=121913&sek=26939
407850,2024-12-01 02:14:09.586789,https://www.nito.no/medlemsfordel/case/bedriftsgruppe/slik-kan-ei-bedriftsgruppe-paverka-lons--og-arbeidsvilkara-dine/
407851,2024-12-01 02:14:12.991455,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/exhibitor/
407852,2024-12-01 02:14:19.005589,https://www.nito.no/en/benefits-insurances/

Norway, history number 6
Last 5 records

,synthetic_time,synthetic_url
418693,2024-11-30 21:48:34.597588,https://khrono.no
418694,2024-11-30 22:37:06.554328,https://www.kongehuset.no/nyhet.html?tid=173267&sek=26939
418695,2024-12-01 02:10:36.937403,https://www.nito.no/en/benefits-insurances/select-benefits-calculator/
418696,2024-12-01 02:10:40.342069,https://www.nito.no/en/salary-and-working-conditions/working-conditions/
418697,2024-12-01 02:10:46.356203,https://www.nito.no/en/

Norway, history number 7
Last 5 records

,synthetic_time,synthetic_url
427371,2024-11-30 21:53:23.920537,https://abcnyheter.no
427372,2024-11-30 22:41:55.877277,https://www.kongehuset.no/nyhet.html?tid=227455&sek=26939
427373,2024-12-01 02:15:26.260352,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/newsletter/
427374,2024-12-01 02:15:29.665018,https://www.nito.no/en/salary-and-working-conditions/salary/starting-salary/
427375,2024-12-01 02:15:35.679152,https://www.nito.no/en/

Norway, history number 8
Last 5 records

,synthetic_time,synthetic_url
423044,2024-11-30 21:43:37.707197,https://fjord1.no
423045,2024-11-30 22:32:09.663937,https://www.forsvaret.no/en/research/staff/cooper-camilla-guldahl
423046,2024-12-01 02:05:40.047012,https://www.nito.no/en/ncpo24--the-13th-nordic-congress-of-prosthetics-and-orthotics/newsletter/
423047,2024-12-01 02:05:43.451678,https://www.nito.no/en/benefits-insurances/select-benefits-calculator/
423048,2024-12-01 02:05:49.465812,https://www.nito.no/en/student/

Norway, history number 9
Last 5 records

,synthetic_time,synthetic_url
425196,2024-11-30 22:47:35.263039,https://dagsavisen.no
425197,2024-11-30 23:36:07.219779,https://www.kongehuset.no/nyhet.html?tid=165814&sek=26939
425198,2024-12-01 03:09:37.602854,https://www.nito.no/medlemsfordel/case/bedriftsgruppe/slik-kan-ei-bedriftsgruppe-paverka-lons--og-arbeidsvilkara-dine/
425199,2024-12-01 03:09:41.007520,https://www.nito.no/en/benefits-insurances/select-benefits-calculator/
425200,2024-12-01 03:09:47.021654,https://www.nito.no/en/

Pakistan, history number 0
Last 5 records

,synthetic_time,synthetic_url
387919,2024-11-30 22:43:02.144337,https://plos.org/
387920,2024-11-30 23:31:34.101077,https://www.gingersoftware.com/content/phrases/loose-cannon
387921,2024-12-01 03:05:04.484152,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
387922,2024-12-01 03:05:07.888818,https://cricketaddictor.com/livescore/afghanistan-vs-south-africa-2nd-odi-20-sep-2024/full-commentary/
387923,2024-12-01 03:05:13.902952,https://plos.org/journal/plos-biology/

Pakistan, history number 1
Last 5 records

,synthetic_time,synthetic_url
385703,2024-11-30 21:08:14.367613,https://plos.org
385704,2024-11-30 21:56:46.324353,https://dfa.ie/about-us/our-commitments/privacy-policy/
385705,2024-12-01 01:30:16.707428,https://cricketaddictor.com/livescore/afghanistan-vs-south-africa-2nd-odi-20-sep-2024/full-commentary/
385706,2024-12-01 01:30:20.112094,https://bahriatown.com/6th-chairman-bahria-town-open-golf-championship-tees-off/
385707,2024-12-01 01:30:26.126228,https://orangitown.com/?nd

Pakistan, history number 2
Last 5 records

,synthetic_time,synthetic_url
392348,2024-11-30 21:03:17.412385,https://bahriatown.com
392349,2024-11-30 21:51:49.369125,https://www.nationsonline.org/oneworld/rich_poor_countries.htm
392350,2024-12-01 01:25:19.752200,https://cricketaddictor.com/fantasy-cricket/mer-vs-gor-dream11-prediction-today-match-27-uttar-pradesh-t20-league-2024/
392351,2024-12-01 01:25:23.156866,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
392352,2024-12-01 01:25:29.171000,https://plos.org/journal/plos-biology/

Pakistan, history number 3
Last 5 records

,synthetic_time,synthetic_url
398997,2024-11-30 21:40:53.791798,https://bahriatown.com
398998,2024-11-30 22:29:25.748538,https://www.nationsonline.org/oneworld/map/google_map_albany.htm
398999,2024-12-01 02:02:56.131613,https://bahriatown.com/6th-chairman-bahria-town-open-golf-championship-tees-off/
399000,2024-12-01 02:02:59.536279,https://cricketaddictor.com/fantasy-cricket/mer-vs-gor-dream11-prediction-today-match-27-uttar-pradesh-t20-league-2024/
399001,2024-12-01 02:03:05.550413,https://bahriatown.com/tag/nab/

Pakistan, history number 4
Last 5 records

,synthetic_time,synthetic_url
394575,2024-11-30 22:24:35.117421,https://orangitown.com/
394576,2024-11-30 23:13:07.074161,https://rocketreach.co/cl/naics-code-522110-companies_002
394577,2024-12-01 02:46:37.457236,https://cricketaddictor.com/livescore/india-women-vs-sri-lanka-women-final-tri-nation-series-2025/
394578,2024-12-01 02:46:40.861902,https://cricketaddictor.com/livescore/afghanistan-vs-south-africa-2nd-odi-20-sep-2024/highlights/
394579,2024-12-01 02:46:46.876036,https://bahriatown.com/tag/corruption/

Pakistan, history number 5
Last 5 records

,synthetic_time,synthetic_url
405669,2024-11-30 22:02:27.810226,https://cricketaddictor.com
405670,2024-11-30 22:50:59.766966,https://www.nationsonline.org/oneworld/airlines/airlines_oceania.htm
405671,2024-12-01 02:24:30.150041,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
405672,2024-12-01 02:24:33.554707,https://plos.org/get-more-news/?interest=biological?utm_id=395&utm_source=blog&utm_medium=referral&utm_campaign=395jrn0423b
405673,2024-12-01 02:24:39.568841,https://cricketaddictor.com/player/rohit-sharma/

Pakistan, history number 6
Last 5 records

,synthetic_time,synthetic_url
390130,2024-11-30 22:52:38.499753,https://cricketaddictor.com
390131,2024-11-30 23:41:10.456493,https://www.dfa.ie/irish-embassy/turkey/cookies-policy/
390132,2024-12-01 03:14:40.839568,https://cricketaddictor.com/livescore/india-women-vs-sri-lanka-women-final-tri-nation-series-2025/
390133,2024-12-01 03:14:44.244234,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
390134,2024-12-01 03:14:50.258368,https://bahriatown.com/tag/nca/

Pakistan, history number 7
Last 5 records

,synthetic_time,synthetic_url
401220,2024-11-30 21:12:21.165168,https://plos.org/
401221,2024-11-30 22:00:53.121908,https://www.onuniverse.com/?ref=mobiledeveloperscafe.com
401222,2024-12-01 01:34:23.504983,https://cricketaddictor.com/livescore/afghanistan-vs-south-africa-2nd-odi-20-sep-2024/full-commentary/
401223,2024-12-01 01:34:26.909649,https://plos.org/resource/10-tips-for-getting-started-as-a-peer-reviewer/
401224,2024-12-01 01:34:32.923783,https://orangitown.com/wp-admin__3cac947/?ma

Pakistan, history number 8
Last 5 records

,synthetic_time,synthetic_url
396786,2024-11-30 22:02:31.450896,https://orangitown.com/
396787,2024-11-30 22:51:03.407636,https://rocketreach.co/cl/sic-code-0175-companies_001
396788,2024-12-01 02:24:33.790711,https://www.ssrn.com/index.cfm/en/earthscirn/earthscirn-conferences-meetings/
396789,2024-12-01 02:24:37.195377,https://cricketaddictor.com/cricket-news/top-10-greatest-cricket-matches-of-all-time-in-india/
396790,2024-12-01 02:24:43.209511,http://novacss-mazhar.com/cspinfo.php?cspid=66

Pakistan, history number 9
Last 5 records

,synthetic_time,synthetic_url
403447,2024-11-30 22:57:27.465381,https://www.abl.com/
403448,2024-11-30 22:57:32.143547,https://cricketaddictor.com
403449,2024-11-30 23:46:04.100287,https://www.nationsonline.org/oneworld/korea_south_profile.htm
403450,2024-12-01 03:19:34.483362,https://www.ssrn.com/index.cfm/en/janda/professional-announcements/?annsnet=3698353
403451,2024-12-01 03:19:43.902162,https://orangitown.com/old__3cac947/?nd

Poland, history number 0
Last 5 records

,synthetic_time,synthetic_url
368236,2024-11-30 23:12:25.428786,https://wp.pl
368237,2024-12-01 00:00:57.385526,https://www.dfa.ie/irish-embassy/kenya/contact-us/
368238,2024-12-01 03:34:27.768601,http://www.solarnia.pl/index.php/wydarzenia/3-zaproszenie-na-zabawe-karnawalowa
368239,2024-12-01 03:34:31.173267,https://www.gokis-legnickiepole.pl/galeria/444-polkolonie-letnie-2024-dzien-3/detail/38166-polkolonie-letnie-2024-dzien-3
368240,2024-12-01 03:34:37.187401,https://akwenczerwonak.pl/2024/08/06/

Poland, history number 1
Last 5 records

,synthetic_time,synthetic_url
363875,2024-11-30 21:04:37.193087,https://www.wp.pl/
363876,2024-11-30 21:53:09.149827,https://dfa.ie/embassies/irish-embassies-abroad/europe/malta/
363877,2024-12-01 01:26:39.532902,https://zgorzelec.eu/aktualnosci/otwarte-spotkanie-z-laureatka-nagrody-mostu-2024/
363878,2024-12-01 01:26:42.937568,https://zgorzelec.eu/aktualnosci/wyniki-konsultacji-spolecznych-budowa-skateparku-w-zgorzelcu/
363879,2024-12-01 01:26:48.951702,https://www.atmgrupa.pl/kalendarium/

Poland, history number 2
Last 5 records

,synthetic_time,synthetic_url
374784,2024-11-30 21:19:17.015854,https://www.wp.pl/
374785,2024-11-30 22:07:48.972594,https://www.dfa.ie/home/index.aspx?id=81396
374786,2024-12-01 01:41:19.355669,https://kielce.eu/pl/aktualnosci/mnostwo-atrakcji-w-ogrodzie-z-okazji-dnia-dziecka.html
374787,2024-12-01 01:41:22.760335,https://zegocina.pl/iv-sesja-rady-gminy-zegocina-relacja-18-lipca-2024
374788,2024-12-01 01:41:28.774469,https://paczkow.pl/48/109/polozenie.html

Poland, history number 3
Last 5 records

,synthetic_time,synthetic_url
379129,2024-11-30 21:26:44.585121,https://www.wp.pl/
379130,2024-11-30 22:15:16.541861,https://www.wiara.pl/wyszukaj/tag/14860.gosc-krakowski?o=2
379131,2024-12-01 01:48:46.924936,https://kielce.eu/pl/aktualnosci/wspolpraca-osrodkow-akademickich.html
379132,2024-12-01 01:48:50.329602,https://kielce.eu/pl/dla-mieszkanca/samorzad/dofinansowane-inwestycje/polski-lad/zielona-rewitalizacja-zabytkowego-srodmiescia-kielc--skweru-im-i-sendlerowej-rynku-ul-bodzentynskiej-wraz-z-pl-sw-wojciecha-i-terenu-przed-dawna-synagoga.html
379133,2024-12-01 01:48:56.343736,https://zgorzelec.eu/aktualnosci/page/236/

Poland, history number 4
Last 5 records

,synthetic_time,synthetic_url
366059,2024-11-30 21:13:29.481987,https://www.wp.pl/
366060,2024-11-30 22:02:01.438727,https://www.wiara.pl/wyszukaj/tag/14860.gosc-krakowski/5?o=2
366061,2024-12-01 01:35:31.821802,https://kielce.eu/pl/aktualnosci/miasto-kielce-przekaze-drony-dla-winnicy.html
366062,2024-12-01 01:35:35.226468,https://www.gokis-legnickiepole.pl/component/phocagallery/444-polkolonie-letnie-2024-dzien-3/detail/38167-polkolonie-letnie-2024-dzien-3?tmpl=component&itemid=1
366063,2024-12-01 01:35:41.240602,https://dehnelsport.pl/rowery-amulet/

Poland, history number 5
Last 5 records

,synthetic_time,synthetic_url
376957,2024-11-30 22:53:13.353282,https://www.wp.pl/
376958,2024-11-30 23:41:45.310022,https://www.wiara.pl/wyszukaj/tag/16df7.weekend-dla-narzeczonych?o=1
376959,2024-12-01 03:15:15.693097,https://zgorzelec.eu/aktualnosci/harmonogram-dzialania-punktow-nieodplatnej-pomocy-prawnej-w-2021-roku/
376960,2024-12-01 03:15:19.097763,https://zgorzelec.eu/aktualnosci/imgw-komunikat-dotyczacy-nadchodzacych-burz/
376961,2024-12-01 03:15:25.111897,https://akwenczerwonak.pl/2022/04/01/

Poland, history number 6
Last 5 records

,synthetic_time,synthetic_url
381300,2024-11-30 22:09:46.413180,https://www.wp.pl/
381301,2024-11-30 22:58:18.369920,https://www.dfa.ie/home/index.aspx?id=81396
381302,2024-12-01 02:31:48.752995,https://paczkow.pl/653/zapraszamy-na-xiii-paczkowskie-spotkania-filmowe.html
381303,2024-12-01 02:31:52.157661,https://zegocina.pl/budynek-po-dawnym-posterunku-policji-w-zegocinie-z
381304,2024-12-01 02:31:58.171795,https://zgorzelec.eu/aktualnosci/page/236/

Poland, history number 7
Last 5 records

,synthetic_time,synthetic_url
383479,2024-11-30 23:11:26.091880,https://www.wp.pl/
383480,2024-11-30 23:59:58.048620,https://www.dfa.ie/irish-embassy/turkey/cookies-policy/
383481,2024-12-01 03:33:28.431695,https://zegocina.pl/dodatkowy-nabor-do-projektu-dotyczacego-montazu-in
383482,2024-12-01 03:33:31.836361,https://kielce.eu/pl/aktualnosci/zachodnia-jezdna-al-solidarnosci-jest-juz-dostepna-dla-kierowcow.html
383483,2024-12-01 03:33:37.850495,https://zgorzelec.eu/aktualnosci/page/236/

Poland, history number 8
Last 5 records

,synthetic_time,synthetic_url
370424,2024-11-30 22:23:24.410286,https://www.wp.pl/
370425,2024-11-30 23:11:56.367026,https://www.wiara.pl/wyszukaj/wyrazy/7?q=powiat
370426,2024-12-01 02:45:26.750101,https://gokis-legnickiepole.pl/o-gokis/biblioteki/1080-swiateczna-odslona-bibliotek
370427,2024-12-01 02:45:30.154767,https://zgorzelec.eu/aktualnosci/zpec-awaria-magistrali-cieplowniczej/
370428,2024-12-01 02:45:36.168901,https://dehnelsport.pl/serwis-nart-warszawa/

Poland, history number 9
Last 5 records

,synthetic_time,synthetic_url
372601,2024-11-30 22:41:18.640565,https://www.wp.pl/
372602,2024-11-30 23:29:50.597305,https://zhp.pl/zyczenia-wielkanocne-2025/
372603,2024-12-01 03:03:20.980380,https://gokis-legnickiepole.pl/galeria/377-konkurs-czytelniczy-podazajac-za-marzeniami-etap-w-lbp/detail/30754-konkurs-czytelniczy-podazajac-za-marzeniami-etap-w-lbp?tmpl=component
372604,2024-12-01 03:03:24.385046,https://zegocina.pl/budynek-po-dawnym-posterunku-policji-w-zegocinie-z
372605,2024-12-01 03:03:30.399180,https://www.atmgrupa.pl/produkcje/wataha/

Portugal, history number 0
Last 5 records

,synthetic_time,synthetic_url
348993,2024-11-30 22:41:47.816575,https://vortexmag.net
348994,2024-11-30 23:30:19.773315,http://www.freguesiadepaiao.pt/informacoes/assembleia-editais
348995,2024-12-01 03:03:50.156390,https://kitesurf-algarve.com/kitesurf-in-lagos-portugal-the-ultimate-guide-to-an-unforgettable-adventure/
348996,2024-12-01 03:03:53.561056,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
348997,2024-12-01 03:03:59.575190,https://kitesurf-algarve.com/kitesurfing-portugal/

Portugal, history number 1
Last 5 records

,synthetic_time,synthetic_url
355339,2024-11-30 21:41:43.529597,https://iefp.pt
355340,2024-11-30 21:41:48.207763,https://autosport.pt
355341,2024-11-30 22:30:20.164503,https://espinho.pt/pt/eventos/mar-marionetas-2025/
355342,2024-12-01 02:03:50.547578,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
355343,2024-12-01 02:03:59.966378,https://kitesurf-algarve.com/page/18/

Portugal, history number 2
Last 5 records

,synthetic_time,synthetic_url
346877,2024-11-30 23:12:13.588795,https://iefp.pt
346878,2024-11-30 23:12:18.266961,https://vortexmag.net
346879,2024-12-01 00:00:50.223701,https://espinho.pt/pt/documentacao/deliberacoes-ame/pagina-10/
346880,2024-12-01 03:34:20.606776,https://kitesurf-algarve.com/top-5-mistakes-new-kitesurfers-make-at-schools-in-lagos/
346881,2024-12-01 03:34:30.025576,https://kitesurf-algarve.com/page/18/

Portugal, history number 3
Last 5 records

,synthetic_time,synthetic_url
351111,2024-11-30 22:50:15.781984,https://iefp.pt
351112,2024-11-30 22:50:20.460150,https://infoescola.com
351113,2024-11-30 23:38:52.416890,https://www.jf-canico.pt/freguesia/instituicoes/23
351114,2024-12-01 03:12:22.799965,https://kitesurf-algarve.com/find-your-perfect-match-choosing-the-right-kitesurfing-school-in-lagos/
351115,2024-12-01 03:12:32.218765,https://kitesurf-algarve.com/page/18/

Portugal, history number 4
Last 5 records

,synthetic_time,synthetic_url
357464,2024-11-30 21:22:17.807525,https://kitesurf-algarve.com
357465,2024-11-30 22:10:49.764265,https://www.verklaro.tv/no&ca/2016/11/artigos-de-natal/
357466,2024-12-01 01:44:20.147340,https://kitesurf-algarve.com/kitesurf-in-lagos-portugal-the-ultimate-guide-to-an-unforgettable-adventure/
357467,2024-12-01 01:44:23.552006,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
357468,2024-12-01 01:44:29.566140,https://kitesurf-algarve.com/page/13/

Portugal, history number 5
Last 5 records

,synthetic_time,synthetic_url
342646,2024-11-30 21:13:50.113673,https://aeiou.pt
342647,2024-11-30 22:02:22.070413,https://www.verklaro.tv/no&ca/2016/11/artigos-de-natal/
342648,2024-12-01 01:35:52.453488,https://kitesurf-algarve.com/kitesurf-in-lagos-portugal-the-ultimate-guide-to-an-unforgettable-adventure/
342649,2024-12-01 01:35:55.858154,https://kitesurf-algarve.com/find-your-perfect-match-choosing-the-right-kitesurfing-school-in-lagos/
342650,2024-12-01 01:36:01.872288,https://kitesurf-algarve.com/page/13/

Portugal, history number 6
Last 5 records

,synthetic_time,synthetic_url
359581,2024-11-30 21:59:08.568584,https://www.gruposousa.pt/
359582,2024-11-30 22:47:40.525324,https://espinho.pt/pt/viver/municipes/urbanismo/
359583,2024-12-01 02:21:10.908399,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
359584,2024-12-01 02:21:14.313065,https://kitesurf-algarve.com/find-your-perfect-match-choosing-the-right-kitesurfing-school-in-lagos/
359585,2024-12-01 02:21:20.327199,https://kitesurf-algarve.com/contacts/

Portugal, history number 7
Last 5 records

,synthetic_time,synthetic_url
344760,2024-11-30 21:18:45.652636,https://kitesurf-algarve.com
344761,2024-11-30 22:07:17.609376,https://www.cm-gaia.pt/pt/municipio/simbolos-da-camara-municipal/
344762,2024-12-01 01:40:47.992451,https://kitesurf-algarve.com/find-your-perfect-match-choosing-the-right-kitesurfing-school-in-lagos/
344763,2024-12-01 01:40:51.397117,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
344764,2024-12-01 01:40:57.411251,https://kitesurf-algarve.com/contacts/

Portugal, history number 8
Last 5 records

,synthetic_time,synthetic_url
353216,2024-11-30 22:20:25.679984,https://iefp.pt
353217,2024-11-30 22:20:30.358150,https://gazetaesportiva.com
353218,2024-11-30 23:09:02.314890,https://stswww.blogspot.com/2014/10/telco-dealmaking.html
353219,2024-12-01 02:42:32.697965,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
353220,2024-12-01 02:42:42.116765,https://kitesurf-algarve.com/kitesurfing-portugal/

Portugal, history number 9
Last 5 records

,synthetic_time,synthetic_url
361697,2024-11-30 21:20:54.088952,https://www.infoescola.com/
361698,2024-11-30 22:09:26.045692,http://freguesiadepaiao.pt/conteudos/balcao-virtual
361699,2024-12-01 01:42:56.428767,https://kitesurf-algarve.com/riding-kiteboard-what-you-need-to-know-about-kitesurfing-school-costs-in-lagos-portugal/
361700,2024-12-01 01:42:59.833433,https://kitesurf-algarve.com/top-5-mistakes-new-kitesurfers-make-at-schools-in-lagos/
361701,2024-12-01 01:43:05.847567,https://kitesurf-algarve.com/contacts/

Romania, history number 0
Last 5 records

,synthetic_time,synthetic_url
336172,2024-11-30 21:01:12.696593,https://noriel.ro
336173,2024-11-30 21:01:17.374759,https://speologie.org
336174,2024-11-30 21:49:49.331499,https://cineplexx.ro/movies/ho00010103?date=2023-05-12&location=2
336175,2024-12-01 01:23:19.714574,http://radiocfm.ro/the-5-elements-needed-for-music-industry-success/
336176,2024-12-01 01:23:29.133374,https://www.cheilegradistei.ro/en/fundata-pub

Romania, history number 1
Last 5 records

,synthetic_time,synthetic_url
331822,2024-11-30 22:36:25.312033,https://cheilegradistei.ro
331823,2024-11-30 23:24:57.268773,https://www.otpbank.ro/en/sme/loans/short-term-cash-loan/
331824,2024-12-01 02:58:27.651848,http://radiocfm.ro/the-5-elements-needed-for-music-industry-success/
331825,2024-12-01 02:58:31.056514,http://radiocfm.ro/pop-icons-then-and-now-a-look-at-the-evolution-of-musics-legends/
331826,2024-12-01 02:58:37.070648,https://www.cheilegradistei.ro/sali-de-evenimente

Romania, history number 2
Last 5 records

,synthetic_time,synthetic_url
334011,2024-11-30 21:34:38.976102,https://www.cdt-babes.ro/
334012,2024-11-30 21:34:43.654268,https://protv.md
334013,2024-11-30 22:23:15.611008,https://primariaprejmer.ro/despre/obiceiuri/ziua-eroilor-la-prejmer-2015/
334014,2024-12-01 01:56:45.994083,https://radiocfm.ro/the-rise-of-k-pop-how-korean-music-continues-to-dominate-the-global-scene/
334015,2024-12-01 01:56:55.412883,https://www.cheilegradistei.ro/noutati

Romania, history number 3
Last 5 records

,synthetic_time,synthetic_url
329638,2024-11-30 23:04:53.691083,https://bcr.ro
329639,2024-11-30 23:04:58.369249,https://foxi.ro
329640,2024-11-30 23:53:30.325989,https://primariaprejmer.ro/asistenta-sociala/o-sansa-pentru-bunicii-nostri/
329641,2024-12-01 03:27:00.709064,http://radiocfm.ro/the-5-elements-needed-for-music-industry-success/
329642,2024-12-01 03:27:10.127864,http://radiocfm.ro/gen-emisiune/chill-out/

Romania, history number 4
Last 5 records

,synthetic_time,synthetic_url
325275,2024-11-30 21:33:11.310207,https://cheilegradistei.ro
325276,2024-11-30 22:21:43.266947,https://www.arr.ro/transport_doc_145_c-e-m-t_pg_0.htm--desktop
325277,2024-12-01 01:55:13.650022,https://radiocfm.ro/the-rise-of-k-pop-how-korean-music-continues-to-dominate-the-global-scene/
325278,2024-12-01 01:55:17.054688,http://radiocfm.ro/pop-icons-then-and-now-a-look-at-the-evolution-of-musics-legends/
325279,2024-12-01 01:55:23.068822,https://radiocfm.ro/program/duminica/

Romania, history number 5
Last 5 records

,synthetic_time,synthetic_url
320933,2024-11-30 21:09:36.875137,https://noriel.ro
320934,2024-11-30 21:09:41.553303,https://cheilegradistei.ro
320935,2024-11-30 21:58:13.510043,https://www.vodafone.ro/business/eshop/oferte-clienti-existenti
320936,2024-12-01 01:31:43.893118,http://radiocfm.ro/the-5-elements-needed-for-music-industry-success/
320937,2024-12-01 01:31:53.311918,http://radiocfm.ro/program/joi/

Romania, history number 6
Last 5 records

,synthetic_time,synthetic_url
327455,2024-11-30 22:55:34.674569,https://primariacatina.ro
327456,2024-11-30 23:44:06.631309,https://www.clopotel.ro/utile/dictionar/viespe_guepe_wasp_wespe_fr.html
327457,2024-12-01 03:17:37.014384,http://radiocfm.ro/pop-icons-then-and-now-a-look-at-the-evolution-of-musics-legends/
327458,2024-12-01 03:17:40.419050,http://radiocfm.ro/the-5-elements-needed-for-music-industry-success/
327459,2024-12-01 03:17:46.433184,https://radiocfm.ro/author/radiocfm2023/

Romania, history number 7
Last 5 records

,synthetic_time,synthetic_url
338342,2024-11-30 21:33:02.976027,https://centrokinetic.ro
338343,2024-11-30 21:33:07.654193,https://cheilegradistei.ro
338344,2024-11-30 22:21:39.610933,https://www.arr.ro/ctg_2_noutati_pg_4.htm--desktop
338345,2024-12-01 01:55:09.994008,https://radiocfm.ro/the-rise-of-k-pop-how-korean-music-continues-to-dominate-the-global-scene/
338346,2024-12-01 01:55:19.412808,https://radiocfm.ro/emisiuni-cfm/

Romania, history number 8
Last 5 records

,synthetic_time,synthetic_url
340524,2024-11-30 23:11:48.061981,https://sri.ro
340525,2024-12-01 00:00:20.018721,https://www.arr.ro/ctg_15_agentii-teritoriale-arr_pg_0.htm
340526,2024-12-01 03:33:50.401796,https://radiocfm.ro/the-rise-of-k-pop-how-korean-music-continues-to-dominate-the-global-scene/
340527,2024-12-01 03:33:53.806462,http://radiocfm.ro/pop-icons-then-and-now-a-look-at-the-evolution-of-musics-legends/
340528,2024-12-01 03:33:59.820596,http://radiocfm.ro/emisiuni/chill-cu-stil/

Romania, history number 9
Last 5 records

,synthetic_time,synthetic_url
323098,2024-11-30 21:23:54.604529,https://www.cdt-babes.ro/
323099,2024-11-30 21:23:59.282695,https://timponline.ro
323100,2024-11-30 22:12:31.239435,https://primariaprejmer.ro/cetateni/urbanism/autorizatii-de-construire/
323101,2024-12-01 01:46:01.622510,https://radiocfm.ro/the-rise-of-k-pop-how-korean-music-continues-to-dominate-the-global-scene/
323102,2024-12-01 01:46:11.041310,http://radiocfm.ro/emisiuni/happy-hours/

Saudi_Arabia, history number 0
Last 5 records

,synthetic_time,synthetic_url
312217,2024-11-30 22:43:58.674401,https://poxnel.com
312218,2024-11-30 23:32:30.631141,https://linkpop.com/bet365comioi
312219,2024-12-01 03:06:01.014216,https://www.ief.org/news/11th-joint-iea-ief-opec-workshop-on-the-interactions-between-physical-and-financial-energy-markets
312220,2024-12-01 03:06:04.418882,https://www.ief.org/news/carbon-capture-must-grow-at-warp-speed-to-meet-climate-goals-ief-report
312221,2024-12-01 03:06:10.433016,https://www.ief.org/ief-events/covid-19

Saudi_Arabia, history number 1
Last 5 records

,synthetic_time,synthetic_url
316558,2024-11-30 22:28:02.933087,https://poxnel.com
316559,2024-11-30 23:16:34.889827,https://linkpop.com/en/
316560,2024-12-01 02:50:05.272902,https://www.ief.org/news/carbon-capture-must-grow-at-warp-speed-to-meet-climate-goals-ief-report
316561,2024-12-01 02:50:08.677568,https://www.ief.org/news/international-energy-forum-elects-jassim-alshirawi-as-next-secretary-general
316562,2024-12-01 02:50:14.691702,https://madainproject.com/kommos

Saudi_Arabia, history number 2
Last 5 records

,synthetic_time,synthetic_url
318741,2024-11-30 21:59:01.022626,https://madainproject.com
318742,2024-11-30 22:47:32.979366,https://linkpop.com/wanihdpassahfd
318743,2024-12-01 02:21:03.362441,https://www.ief.org/events/14th-iea-ief-opec-symposium-on-energy-outlooks
318744,2024-12-01 02:21:06.767107,https://www.ief.org/news/carbon-capture-must-grow-at-warp-speed-to-meet-climate-goals-ief-report
318745,2024-12-01 02:21:12.781241,https://madainproject.com/house_of_sallust

Saudi_Arabia, history number 3
Last 5 records

,synthetic_time,synthetic_url
310040,2024-11-30 22:02:10.624761,https://alrakoba.net
310041,2024-11-30 22:50:42.581501,https://linkpop.com/angale-screations
310042,2024-12-01 02:24:12.964576,https://www.ief.org/news/11th-joint-iea-ief-opec-workshop-on-the-interactions-between-physical-and-financial-energy-markets
310043,2024-12-01 02:24:16.369242,https://www.ief.org/news/ief-to-host-roundtable-on-speeding-deployment-of-carbon-capture
310044,2024-12-01 02:24:22.383376,https://madainproject.com/kommos

Saudi_Arabia, history number 4
Last 5 records

,synthetic_time,synthetic_url
301367,2024-11-30 21:48:43.466478,https://omandaily.om
301368,2024-11-30 22:37:15.423218,https://linkpop.com/angale-screations
301369,2024-12-01 02:10:45.806293,https://www.ief.org/news/nickel-a-mineral-with-a-challenging-role-in-clean-tech
301370,2024-12-01 02:10:49.210959,https://www.ief.org/news/whats-the-target-for-carbon-sequestration-and-how-do-we-get-there
301371,2024-12-01 02:10:55.225093,https://madainproject.com/precinct_of_amun_re

Saudi_Arabia, history number 5
Last 5 records

,synthetic_time,synthetic_url
314385,2024-11-30 22:52:23.177037,https://omandaily.om
314386,2024-11-30 23:40:55.133777,https://linkpop.com/bet365ainfoi
314387,2024-12-01 03:14:25.516852,https://www.ief.org/news/ief-to-host-roundtable-on-speeding-deployment-of-carbon-capture
314388,2024-12-01 03:14:28.921518,https://www.ief.org/news/international-energy-forum-elects-jassim-alshirawi-as-next-secretary-general
314389,2024-12-01 03:14:34.935652,https://www.ief.org/about/executive-board

Saudi_Arabia, history number 6
Last 5 records

,synthetic_time,synthetic_url
303530,2024-11-30 21:32:14.990035,https://marah.sa
303531,2024-11-30 22:20:46.946775,https://linkpop.com/go88tkioi
303532,2024-12-01 01:54:17.329850,https://www.ief.org/events/14th-iea-ief-opec-symposium-on-energy-outlooks
303533,2024-12-01 01:54:20.734516,https://www.ief.org/news/11th-joint-iea-ief-opec-workshop-on-the-interactions-between-physical-and-financial-energy-markets
303534,2024-12-01 01:54:26.748650,https://madainproject.com/villa_of_the_papyri

Saudi_Arabia, history number 7
Last 5 records

,synthetic_time,synthetic_url
307878,2024-11-30 22:20:45.508961,https://maaal.com
307879,2024-11-30 23:09:17.465701,https://linkpop.com/debettclubi
307880,2024-12-01 02:42:47.848776,https://www.ief.org/news/symposium-on-pathways-to-reduce-carbon-emissions-in-the-petroleum-downstream-industries
307881,2024-12-01 02:42:51.253442,https://www.ief.org/news/nickel-a-mineral-with-a-challenging-role-in-clean-tech
307882,2024-12-01 02:42:57.267576,https://madainproject.com/kommos

Saudi_Arabia, history number 8
Last 5 records

,synthetic_time,synthetic_url
305699,2024-11-30 22:50:12.092847,https://madainproject.com
305700,2024-11-30 23:38:44.049587,https://linkpop.com/wanihdpassahfd
305701,2024-12-01 03:12:14.432662,https://www.ief.org/events/14th-iea-ief-opec-symposium-on-energy-outlooks
305702,2024-12-01 03:12:17.837328,https://www.ief.org/news/ief-oil-refining-sector-insights-report-stretched-sector-fuels-market-volatility
305703,2024-12-01 03:12:23.851462,https://madainproject.com/kommos

Saudi_Arabia, history number 9
Last 5 records

,synthetic_time,synthetic_url
299203,2024-11-30 22:47:42.278834,https://omandaily.om
299204,2024-11-30 23:36:14.235574,https://linkpop.com/en
299205,2024-12-01 03:09:44.618649,https://www.ief.org/news/whats-the-target-for-carbon-sequestration-and-how-do-we-get-there
299206,2024-12-01 03:09:48.023315,https://www.ief.org/news/carbon-capture-must-grow-at-warp-speed-to-meet-climate-goals-ief-report
299207,2024-12-01 03:09:54.037449,https://madainproject.com/villa_of_the_papyri

Serbia, history number 0
Last 5 records

,synthetic_time,synthetic_url
292626,2024-11-30 23:00:38.913398,https://gimnastika.rs
292627,2024-11-30 23:49:10.870138,https://www.lektire.rs/lelejska-gora-mihailo-lalic/
292628,2024-12-01 03:22:41.253213,https://podcast.rs/armin-sakovic-ne-govorim-sa-sasom-maticem-opet-laka/
292629,2024-12-01 03:22:44.657879,https://podcast.rs/nas-je-zadatak-da-kroz-akcije-pokazemo-da-moze-i-mora-bolje/
292630,2024-12-01 03:22:50.672013,https://podcast.rs/nek-dodje-murinjo/

Serbia, history number 1
Last 5 records

,synthetic_time,synthetic_url
277246,2024-11-30 22:14:41.946267,https://uzvik.rs
277247,2024-11-30 23:03:13.903007,https://www.lektire.rs/lilika-dragoslav-mihailovic/
277248,2024-12-01 02:36:44.286082,https://podcast.rs/nas-je-zadatak-da-kroz-akcije-pokazemo-da-moze-i-mora-bolje/
277249,2024-12-01 02:36:47.690748,https://podcast.rs/struka-uzvraca-udarac-partizan-histerical-s06-e22-25-04-2025/
277250,2024-12-01 02:36:53.704882,https://podcast.rs/nek-dodje-murinjo/

Serbia, history number 2
Last 5 records

,synthetic_time,synthetic_url
297027,2024-11-30 21:06:39.990659,https://noizz.rs
297028,2024-11-30 21:55:11.947399,https://bgprevoz.rs/linije/aktuelne-izmene/680/606
297029,2024-12-01 01:28:42.330474,https://podcast.rs/struka-uzvraca-udarac-partizan-histerical-s06-e22-25-04-2025/
297030,2024-12-01 01:28:45.735140,https://podcast.rs/da-li-je-sve-ovo-samo-odvlacenje-paznje-ft-marcelo-njuz-podkast-154/
297031,2024-12-01 01:28:51.749274,https://podcast.rs/osma-tacka/

Serbia, history number 3
Last 5 records

,synthetic_time,synthetic_url
288246,2024-11-30 22:08:54.466393,https://podcast.rs
288247,2024-11-30 22:57:26.423133,https://www.lektire.rs/hleb-i-so-ljubomir-simovic/
288248,2024-12-01 02:30:56.806208,https://podcast.rs/podcast-06-dusan-cavic-i-dusan-saponja-marka-zvaka/
288249,2024-12-01 02:31:00.210874,https://podcast.rs/vladimir-tagic-reziser-serije-sablja-i-sto-minuta-buke-063/
288250,2024-12-01 02:31:06.225008,https://podcast.rs/25-treci-krstaski-rat/

Serbia, history number 4
Last 5 records

,synthetic_time,synthetic_url
279447,2024-11-30 21:08:25.428451,https://uzvik.rs
279448,2024-11-30 21:56:57.385191,https://bgprevoz.rs/linije/red-voznje/smer-b/60327
279449,2024-12-01 01:30:27.768266,https://podcast.rs/nas-je-zadatak-da-kroz-akcije-pokazemo-da-moze-i-mora-bolje/
279450,2024-12-01 01:30:31.172932,https://podcast.rs/price-uz-kavu-rakiju-e10-pitanja-za-voditelje-godinu-dana-kanala/
279451,2024-12-01 01:30:37.187066,https://podcast.rs/osma-tacka/

Serbia, history number 5
Last 5 records

,synthetic_time,synthetic_url
294823,2024-11-30 22:23:25.000376,https://gimnastika.rs
294824,2024-11-30 23:11:56.957116,https://gohome.rs/stanovi+novi+beograd+do+60+m2/page14/
294825,2024-12-01 02:45:27.340191,https://podcast.rs/vladimir-tagic-reziser-serije-sablja-i-sto-minuta-buke-063/
294826,2024-12-01 02:45:30.744857,https://podcast.rs/nas-je-zadatak-da-kroz-akcije-pokazemo-da-moze-i-mora-bolje/
294827,2024-12-01 02:45:36.758991,https://podcast.rs/25-treci-krstaski-rat/

Serbia, history number 6
Last 5 records

,synthetic_time,synthetic_url
286037,2024-11-30 22:04:57.784111,https://antenam.net
286038,2024-11-30 22:53:29.740851,https://www.lektire.rs/kleon-i-njegov-ucenik-vojislav-ilic/
286039,2024-12-01 02:27:00.123926,https://podcast.rs/struka-uzvraca-udarac-partizan-histerical-s06-e22-25-04-2025/
286040,2024-12-01 02:27:03.528592,https://podcast.rs/armin-sakovic-ne-govorim-sa-sasom-maticem-opet-laka/
286041,2024-12-01 02:27:09.542726,https://podcast.rs/osma-tacka/

Serbia, history number 7
Last 5 records

,synthetic_time,synthetic_url
281646,2024-11-30 22:07:30.961540,https://beobuild.rs
281647,2024-11-30 22:07:35.639706,https://ana.rs
281648,2024-11-30 22:56:07.596446,https://novatel.rs/en/sales-of-unlicensed-links-from-stock/
281649,2024-12-01 02:29:37.979521,https://podcast.rs/podcast-06-dusan-cavic-i-dusan-saponja-marka-zvaka/
281650,2024-12-01 02:29:47.398321,https://podcast.rs/osma-tacka/

Serbia, history number 8
Last 5 records

,synthetic_time,synthetic_url
290443,2024-11-30 21:39:50.112492,https://ozon.rs
290444,2024-11-30 22:28:22.069232,https://bgprevoz.rs/linije/red-voznje/smer-b/60327
290445,2024-12-01 02:01:52.452307,https://podcast.rs/podcast-06-dusan-cavic-i-dusan-saponja-marka-zvaka/
290446,2024-12-01 02:01:55.856973,https://podcast.rs/nas-je-zadatak-da-kroz-akcije-pokazemo-da-moze-i-mora-bolje/
290447,2024-12-01 02:02:01.871107,https://podcast.rs/osma-tacka/

Serbia, history number 9
Last 5 records

,synthetic_time,synthetic_url
283856,2024-11-30 21:21:39.628260,https://bjbikers.com
283857,2024-11-30 22:10:11.585000,https://bgprevoz.rs/linije/red-voznje/smer-b/60064
283858,2024-12-01 01:43:41.968075,https://podcast.rs/price-uz-kavu-rakiju-e10-pitanja-za-voditelje-godinu-dana-kanala/
283859,2024-12-01 01:43:45.372741,https://podcast.rs/podcast-06-dusan-cavic-i-dusan-saponja-marka-zvaka/
283860,2024-12-01 01:43:51.386875,https://podcast.rs/25-treci-krstaski-rat/

Singapore, history number 0
Last 5 records

,synthetic_time,synthetic_url
270645,2024-11-30 22:28:09.351710,https://www.integratedriding.com/
270646,2024-11-30 23:16:41.308450,https://www.axway.com/en/products/b2b-integration/track-and-trace
270647,2024-12-01 02:50:11.691525,https://www.ssrn.com/index.cfm/en/janda/professional-announcements/?annsnet=3698353
270648,2024-12-01 02:50:15.096191,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
270649,2024-12-01 02:50:21.110325,https://www.shimanocyclingworld.com/tips-for-night-cycling/

Singapore, history number 1
Last 5 records

,synthetic_time,synthetic_url
268454,2024-11-30 22:05:31.420404,https://www.integratedriding.com/
268455,2024-11-30 22:54:03.377144,https://www.axway.com/en/customers/dun-bradstreet-0
268456,2024-12-01 02:27:33.760219,https://www.ssrn.com/index.cfm/en/planetscirn/planetscirn-subscribe-orgs/
268457,2024-12-01 02:27:37.164885,https://www.ssrn.com/index.cfm/en/u-miami-business-bsr/miami-marketing/
268458,2024-12-01 02:27:43.179019,https://www.safra.sg/home

Singapore, history number 2
Last 5 records

,synthetic_time,synthetic_url
255342,2024-11-30 22:27:48.037529,https://openrice.com
255343,2024-11-30 22:27:52.715695,https://www.integratedriding.com/
255344,2024-11-30 23:16:24.672435,https://www.axway.com/en/customers/dun-bradstreet-0
255345,2024-12-01 02:49:55.055510,https://www.integratedriding.com/group/integrated-riding-group/discussion/dc329e8e-6ed2-4601-a689-de25c9ff0710
255346,2024-12-01 02:50:04.474310,https://www.safra.sg/privacy-policy

Singapore, history number 3
Last 5 records

,synthetic_time,synthetic_url
275033,2024-11-30 22:00:08.038608,https://ssrn.com
275034,2024-11-30 22:48:39.995348,https://www.axway.com/en/customers/havi-supply-chain
275035,2024-12-01 02:22:10.378423,https://www.integratedriding.com/group/integrated-riding-group/discussion/dc329e8e-6ed2-4601-a689-de25c9ff0710
275036,2024-12-01 02:22:13.783089,https://www.ssrn.com/index.cfm/en/janda/professional-announcements/?annsnet=3698353
275037,2024-12-01 02:22:19.797223,https://www.safra.sg/announcements

Singapore, history number 4
Last 5 records

,synthetic_time,synthetic_url
259742,2024-11-30 22:27:05.917548,https://www.shimanocyclingworld.com/
259743,2024-11-30 23:15:37.874288,https://www.axway.com/en/customers/customer-stories
259744,2024-12-01 02:49:08.257363,https://www.ssrn.com/index.cfm/en/planetscirn/planetscirn-subscribe-orgs/
259745,2024-12-01 02:49:11.662029,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
259746,2024-12-01 02:49:17.676163,https://www.shimanocyclingworld.com/tag/regulations/

Singapore, history number 5
Last 5 records

,synthetic_time,synthetic_url
264096,2024-11-30 22:37:03.377447,https://integratedriding.com
264097,2024-11-30 23:25:35.334187,https://www.axway.com/en/customers/banco-do-brasil
264098,2024-12-01 02:59:05.717262,https://www.integratedriding.com/group/integrated-riding-group/discussion/dc329e8e-6ed2-4601-a689-de25c9ff0710
264099,2024-12-01 02:59:09.121928,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
264100,2024-12-01 02:59:15.136062,https://www.shimanocyclingworld.com/events/2024-08-12/

Singapore, history number 6
Last 5 records

,synthetic_time,synthetic_url
257550,2024-11-30 21:09:01.964460,https://integratedriding.com
257551,2024-11-30 21:57:33.921200,https://www.axway.com/en/products/amplify-engage
257552,2024-12-01 01:31:04.304275,https://www.ssrn.com/index.cfm/en/planetscirn/planetscirn-subscribe-orgs/
257553,2024-12-01 01:31:07.708941,https://www.ssrn.com/index.cfm/en/earthscirn/earthscirn-conferences-meetings/
257554,2024-12-01 01:31:13.723075,https://www.shimanocyclingworld.com/events/2024-08-04/

Singapore, history number 7
Last 5 records

,synthetic_time,synthetic_url
272841,2024-11-30 22:34:32.397955,https://www.integratedriding.com/
272842,2024-11-30 23:23:04.354695,https://www.axway.com/en/customers/customer-stories
272843,2024-12-01 02:56:34.737770,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
272844,2024-12-01 02:56:38.142436,https://www.ssrn.com/index.cfm/en/u-miami-business-bsr/miami-marketing/
272845,2024-12-01 02:56:44.156570,https://www.safra.sg/privacy-policy

Singapore, history number 8
Last 5 records

,synthetic_time,synthetic_url
261907,2024-11-30 22:55:36.220302,https://safra.sg
261908,2024-11-30 23:44:08.177042,https://www.axway.com/en/customers/dun-bradstreet-0
261909,2024-12-01 03:17:38.560117,https://www.integratedriding.com/group/integrated-riding-group/discussion/dc329e8e-6ed2-4601-a689-de25c9ff0710
261910,2024-12-01 03:17:41.964783,https://www.ssrn.com/index.cfm/en/earthscirn/earthscirn-conferences-meetings/
261911,2024-12-01 03:17:47.978917,https://www.shimanocyclingworld.com/events/2024-08-12/

Singapore, history number 9
Last 5 records

,synthetic_time,synthetic_url
266279,2024-11-30 21:33:53.177673,https://shimanocyclingworld.com
266280,2024-11-30 22:22:25.134413,https://www.axway.com/en/customers/banco-do-brasil
266281,2024-12-01 01:55:55.517488,https://www.ssrn.com/index.cfm/en/janda/professional-announcements/?annsnet=3698353
266282,2024-12-01 01:55:58.922154,https://www.ssrn.com/index.cfm/en/u-paris-dauphine-bsr/paris-orgs-pub/
266283,2024-12-01 01:56:04.936288,https://www.shimanocyclingworld.com/activities/

Slovakia, history number 0
Last 5 records

,synthetic_time,synthetic_url
253139,2024-11-30 22:03:42.523899,https://multi-sport.sk
253140,2024-11-30 22:52:14.480639,https://www.obecnovosad.sk/uradna-tabula?p=1&detail=30803&count=10
253141,2024-12-01 02:25:44.863714,https://www.mestosastinstraze.sk/seniori/udalosti-v-meste/oznamy/vyzva-mesta-sastin-straze-na-predkladanie-ziadosti-o-dotaciu-na-rok-2023-1773sk.html
253142,2024-12-01 02:25:48.268380,https://www.nitrianskerudno.sk/dokumenty/rozpocet-a-financie/2022/schvaleny-rozpocet-na-rok-2023/
253143,2024-12-01 02:25:54.282514,https://www.krtovce.sk/news/spravne-poplatky/

Slovakia, history number 1
Last 5 records

,synthetic_time,synthetic_url
246531,2024-11-30 22:22:48.436659,https://infoma.sk
246532,2024-11-30 23:11:20.393399,https://www.brestovec.eu/samosprava/hlavny-kontrolor/
246533,2024-12-01 02:44:50.776474,https://www.mestosastinstraze.sk/udalosti-v-meste/oznamy/farska-charita-sastin-straze-2364sk.html
246534,2024-12-01 02:44:54.181140,https://www.nitrianskerudno.sk/dokumenty/vzn/2018/vzn-o-poskytovani-domacej-opatrovatelskej-sluzby-doplnok-c-2/
246535,2024-12-01 02:45:00.195274,https://www.krtovce.sk/obec/phsr/

Slovakia, history number 2
Last 5 records

,synthetic_time,synthetic_url
233345,2024-11-30 21:21:19.454051,https://meteoinfo.sk
233346,2024-11-30 22:09:51.410791,https://www.torysky.sk/vyhlasenie-ohrozenia-poziaru-a22-829
233347,2024-12-01 01:43:21.793866,https://www.gjar-po.sk/podweby/foto/phpwig/?directory=../17_18/basketbal
233348,2024-12-01 01:43:25.198532,https://www.nitrianskerudno.sk/dokumenty/faktury/2024/faktury-za-mesiac-december-2023/
233349,2024-12-01 01:43:31.212666,https://www.krtovce.sk/news/spravne-poplatky/

Slovakia, history number 3
Last 5 records

,synthetic_time,synthetic_url
242126,2024-11-30 22:21:22.823305,https://www.infoma.sk/
242127,2024-11-30 23:09:54.780045,https://www.levoca.sk/agendy/dan-z-nehnutelnosti-2/
242128,2024-12-01 02:43:25.163120,https://www.mestosastinstraze.sk/udalosti-v-meste/zo-zivota-mesta/odhalenie-pamatnej-tabule-okresnemu-velitelovi-ohj-senica-jozefovi-karasovi-726sk.html
242129,2024-12-01 02:43:28.567786,https://multi-sport.sk/aktivity/?location=48.285453885566625%2c17.270193956707942
242130,2024-12-01 02:43:34.581920,https://www.krtovce.sk/home/newscbm_727261/20/

Slovakia, history number 4
Last 5 records

,synthetic_time,synthetic_url
235539,2024-11-30 22:40:43.045701,https://gjar-po.sk
235540,2024-11-30 23:29:15.002441,https://www.hniezdne.sk/dobrovolny-hasicsky-zbor
235541,2024-12-01 03:02:45.385516,https://meteoinfo.sk/predpoved-slovensko/juhozapad.okres-trnava.dobra-voda
235542,2024-12-01 03:02:48.790182,https://www.michalovce.sk/sk/register/charitny-dom-juraja-jendzelovskeho-specialne-zariadenie
235543,2024-12-01 03:02:54.804316,https://www.krtovce.sk/obec/phsr/

Slovakia, history number 5
Last 5 records

,synthetic_time,synthetic_url
244326,2024-11-30 22:52:55.534534,https://krtovce.sk
244327,2024-11-30 23:41:27.491274,https://www.velkylipnik.sk/zivot-v-obci/galeria/zivot-v-obci/
244328,2024-12-01 03:14:57.874349,https://www.nitrianskerudno.sk/dokumenty/tlaciva-a-formulare/2024/oznamenie-verejneho-podujatia/
244329,2024-12-01 03:15:01.279015,https://multi-sport.sk/aktivity/skupina/sezonne-a-ostatne-aktivity/aktivita/ferrata/
244330,2024-12-01 03:15:07.293149,https://www.krtovce.sk/uradna-tabula/2025/

Slovakia, history number 6
Last 5 records

,synthetic_time,synthetic_url
248736,2024-11-30 21:30:01.950028,https://infoma.sk
248737,2024-11-30 22:18:33.906768,https://www.secianky.sk/uradna-tabula?p=1&detail=32474&count=10
248738,2024-12-01 01:52:04.289843,http://www.gjar-po.sk/index.php?option=com_content&view=article&id=2357:olympiada-o-verejnej-sprave-semifinale&catid=51:uspechy-gjar&itemid=341
248739,2024-12-01 01:52:07.694509,https://multi-sport.sk/aktivity/?location=48.285453885566625%2c17.270193956707942
248740,2024-12-01 01:52:13.708643,https://www.obecsarisskatrstena.sk/news/den-rodiny/

Slovakia, history number 7
Last 5 records

,synthetic_time,synthetic_url
250947,2024-11-30 22:00:09.219736,https://www.obeckolonica.sk/
250948,2024-11-30 22:48:41.176476,https://www.breznicka-sp.sk/zverejnovanie?faktury&zobrazit=1016
250949,2024-12-01 02:22:11.559551,http://www.gjar-po.sk/podweby/foto/phpwig/?directory=../16_17/raymanov_tyzden/roc_prace_anj
250950,2024-12-01 02:22:14.964217,http://samorin.sk/svetovy-den-vody-prebehlo-vyhodnotenie-vytvarnej-sutaze/
250951,2024-12-01 02:22:20.978351,https://www.michalovce.sk/sk/aktualita/den-tanca

Slovakia, history number 8
Last 5 records

,synthetic_time,synthetic_url
237735,2024-11-30 22:52:03.047065,https://mestosastinstraze.sk
237736,2024-11-30 23:40:35.003805,https://ganovce.sk/zapisnice-a-uznesenia-4-3/
237737,2024-12-01 03:14:05.386880,https://www.meteoinfo.sk/predpoved-slovensko/sever.okres-tucianske-teplice.bodrova
237738,2024-12-01 03:14:08.791546,https://samorin.sk/upovedomenie-o-zacati-spravneho-konania-na-vyrub-drevin-c-4371-2019-mierovo/
237739,2024-12-01 03:14:14.805680,https://samorin.sk/prihlas-sa-na-serm/

Slovakia, history number 9
Last 5 records

,synthetic_time,synthetic_url
239932,2024-11-30 22:07:19.455825,https://infoma.sk
239933,2024-11-30 22:55:51.412565,https://slovenskalupca.sk/?s=bc4de3cea0268289776fbbf6478f0e0e
239934,2024-12-01 02:29:21.795640,https://www.mestosastinstraze.sk/udalosti-v-meste/pozvanky/stavanie-maja-2778_262sk.html
239935,2024-12-01 02:29:25.200306,https://www.meteoinfo.sk/predpoved-slovensko/juhozapad.okres-hlohovec.koplotovce
239936,2024-12-01 02:29:31.214440,https://samorin.sk/prihlas-sa-na-serm/

Slovenia, history number 0
Last 5 records

,synthetic_time,synthetic_url
229004,2024-11-30 22:47:09.935332,https://pirs.si/
229005,2024-11-30 23:35:41.892072,https://td-sempeter.si/novice/cvetje-za-lepso-okolico-rimske-nekropole/
229006,2024-12-01 03:09:12.275147,https://zon.si/nikolajevci-pripravljajo-prav-poseben-adventni-koledar/
229007,2024-12-01 03:09:15.679813,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
229008,2024-12-01 03:09:21.693947,https://zon.si

Slovenia, history number 1
Last 5 records

,synthetic_time,synthetic_url
220464,2024-11-30 21:38:31.031819,https://vreme-slovenija.si
220465,2024-11-30 22:27:02.988559,https://www.mladinski-dom-mb.si/preventivno-svetovalna-skupina-mobilni-tim/
220466,2024-12-01 02:00:33.371634,https://zon.si/nadzorniki-zelijo-razresiti-direktorja-bolnisnice/
220467,2024-12-01 02:00:36.776300,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
220468,2024-12-01 02:00:42.790434,https://zon.si/nadzorniki-zelijo-razresiti-direktorja-bolnisnice/

Slovenia, history number 2
Last 5 records

,synthetic_time,synthetic_url
224741,2024-11-30 21:15:57.366868,https://pirs.si/
224742,2024-11-30 22:04:29.323608,https://www.next.si/en/style/st812038/987268
224743,2024-12-01 01:37:59.706683,https://zon.si/na-trznici-se-oddaja-se-en-poslovni-prostor/embed/
224744,2024-12-01 01:38:03.111349,https://zon.si/nadzorniki-zelijo-razresiti-direktorja-bolnisnice/
224745,2024-12-01 01:38:09.125483,https://zon.si/foto-ste-ze-videli-sobe-v-trboveljskem-hostlu/

Slovenia, history number 3
Last 5 records

,synthetic_time,synthetic_url
214072,2024-11-30 22:20:45.869273,https://pirs.si/
214073,2024-11-30 23:09:17.826013,https://pgk.si/repertoar/velik_lonec__majhna_mis/826
214074,2024-12-01 02:42:48.209088,https://zon.si/foto-trboveljska-dijaka-sta-ustvarila-didakticno-igro-ki-povezuje-ui-kemijo-in-karte/
214075,2024-12-01 02:42:51.613754,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
214076,2024-12-01 02:42:57.627888,https://zon.si/sekretar-ministrstva-s-pomembnimi-informacijami-za-trbovlje/

Slovenia, history number 4
Last 5 records

,synthetic_time,synthetic_url
216209,2024-11-30 22:23:54.748495,https://pirs.si/
216210,2024-11-30 23:12:26.705235,https://www.jozef.si/14-april-2023-2-dan-vila-do-conde-marinhas/
216211,2024-12-01 02:45:57.088310,https://zon.si/foto-trboveljska-dijaka-sta-ustvarila-didakticno-igro-ki-povezuje-ui-kemijo-in-karte/
216212,2024-12-01 02:46:00.492976,https://zon.si/nikolajevci-pripravljajo-prav-poseben-adventni-koledar/
216213,2024-12-01 02:46:06.507110,https://zon.si/studentje-so-se-vrnili-na-bivso-srednjo-solo/

Slovenia, history number 5
Last 5 records

,synthetic_time,synthetic_url
226876,2024-11-30 22:12:07.823470,https://akos-rs.si
226877,2024-11-30 23:00:39.780210,https://www.lovinghut.si/tudi-sup-lahko-ponudi-pravo-sprostitev/
226878,2024-12-01 02:34:10.163285,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
226879,2024-12-01 02:34:13.567951,https://zon.si/nikolajevci-pripravljajo-prav-poseben-adventni-koledar/
226880,2024-12-01 02:34:19.582085,https://zon.si/zapiranje-rudnika-prestavili/

Slovenia, history number 6
Last 5 records

,synthetic_time,synthetic_url
231148,2024-11-30 21:21:21.816881,https://mediaspeed.net
231149,2024-11-30 22:09:53.773621,https://td-sempeter.si/en/natural-sights/pekel-cave/history/
231150,2024-12-01 01:43:24.156696,https://zon.si/sekretar-ministrstva-s-pomembnimi-informacijami-za-trbovlje/
231151,2024-12-01 01:43:27.561362,https://zon.si/na-trznici-se-oddaja-se-en-poslovni-prostor/embed/
231152,2024-12-01 01:43:33.575496,https://zon.si/trboveljcani-nizajo-medaljo-za-medaljo/

Slovenia, history number 7
Last 5 records

,synthetic_time,synthetic_url
211917,2024-11-30 22:24:30.642303,https://pirs.si/
211918,2024-11-30 23:13:02.599043,http://www.odprtakuhna.si/en/vendors/pisek-bar-lopata
211919,2024-12-01 02:46:32.982118,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
211920,2024-12-01 02:46:36.386784,https://zon.si/sekretar-ministrstva-s-pomembnimi-informacijami-za-trbovlje/
211921,2024-12-01 02:46:42.400918,https://zon.si/maksimal-festival-za-maksimalno-dober-namen/

Slovenia, history number 8
Last 5 records

,synthetic_time,synthetic_url
218337,2024-11-30 21:29:45.140313,https://pirs.si/
218338,2024-11-30 22:18:17.097053,http://www.odprtakuhna.si/ponudniki/mood/dragi-prijatelji
218339,2024-12-01 01:51:47.480128,https://zon.si/kje-je-konec-plocnika-in-zacetek-parkirisca-ni-cisto-jasno/
218340,2024-12-01 01:51:50.884794,https://zon.si/foto-trboveljska-dijaka-sta-ustvarila-didakticno-igro-ki-povezuje-ui-kemijo-in-karte/
218341,2024-12-01 01:51:56.898928,https://zon.si/v-trbovljah-dolgcas-ne-bo/

Slovenia, history number 9
Last 5 records

,synthetic_time,synthetic_url
222594,2024-11-30 22:19:23.878263,https://pirs.si/
222595,2024-11-30 23:07:55.835003,https://www.odprtakuhna.si/ponudniki/brina-mixology-ljubljana
222596,2024-12-01 02:41:26.218078,https://zon.si/na-zasavske-srednje-sole-prijavljenih-manj-ucencev-kot-prejsnje-leto/
222597,2024-12-01 02:41:29.622744,https://zon.si/kje-je-konec-plocnika-in-zacetek-parkirisca-ni-cisto-jasno/
222598,2024-12-01 02:41:35.636878,https://zon.si/zapiranje-rudnika-prestavili/

Spain, history number 0
Last 5 records

,synthetic_time,synthetic_url
194862,2024-11-30 21:01:12.450065,https://e-noticies.cat
194863,2024-11-30 21:49:44.406805,https://www.gijon.es/og_categories/show/144-informacion-juvenil
194864,2024-12-01 01:23:14.789880,https://e-noticies.cat/en/consumer-affairs/lidl-has-the-furniture-youre-looking-for-for-less-than-40-euros
194865,2024-12-01 01:23:18.194546,https://e-noticies.cat/en/politics/war-erc-comuns-changes-script-govern-against-ropes
194866,2024-12-01 01:23:24.208680,https://e-noticies.cat/en/economy/aviso-banco-sabadell-estafas-habituales-precaucion

Spain, history number 1
Last 5 records

,synthetic_time,synthetic_url
203388,2024-11-30 22:02:00.532781,https://e-noticies.cat
203389,2024-11-30 22:50:32.489521,https://www.gijon.es/es/directorio/centro-municipal-integrado-el-coto
203390,2024-12-01 02:24:02.872596,https://e-noticies.cat/en/politics/read-exclusive-excerpt-daily-traitor-book-laura-fabregas
203391,2024-12-01 02:24:06.277262,https://e-noticies.cat/en/soccer/liverpool-brings-it-even-closer-to-barca-deco-celebrates-top-signing-news
203392,2024-12-01 02:24:12.291396,https://e-noticies.cat/en/politics/war-erc-comuns-changes-script-govern-against-ropes

Spain, history number 2
Last 5 records

,synthetic_time,synthetic_url
199136,2024-11-30 22:57:27.066910,https://e-noticies.cat
199137,2024-11-30 23:45:59.023650,https://www.gijon.es/og_categories/show/2066-deporte
199138,2024-12-01 03:19:29.406725,https://e-noticies.cat/en/politics/they-set-an-end-date-erc-congress-weekend-end
199139,2024-12-01 03:19:32.811391,https://e-noticies.cat/en/economy/radical-shift-caixabank-plan-cosmos-ai-until-2027
199140,2024-12-01 03:19:38.825525,https://e-noticies.cat/en/economy/social-security-notice-americans-will-lose-pension

Spain, history number 3
Last 5 records

,synthetic_time,synthetic_url
190603,2024-11-30 22:27:52.306831,https://cpd.es
190604,2024-11-30 23:16:24.263571,https://www.gijon.es/es/directorio/centro-municipal-integrado-el-coto
190605,2024-12-01 02:49:54.646646,https://e-noticies.cat/en/economy/social-security-notice-americans-will-lose-pension
190606,2024-12-01 02:49:58.051312,https://e-noticies.cat/en/economy/bbva-brings-joy-to-thousands-of-young-mortgage-clients
190607,2024-12-01 02:50:04.065446,https://e-noticies.cat/en/economy/stick-treasury-spaniards-receive-salary-return-income-tax-return

Spain, history number 4
Last 5 records

,synthetic_time,synthetic_url
197000,2024-11-30 23:11:07.932512,https://e-noticies.cat
197001,2024-11-30 23:59:39.889252,https://www.gijon.es/es/eventos/misha-dacic-piano
197002,2024-12-01 03:33:10.272327,https://e-noticies.cat/en/politics/junts-psoe-reach-agreement-on-distribution-of-unjoined-minors
197003,2024-12-01 03:33:13.676993,https://e-noticies.cat/en/politics/they-set-an-end-date-erc-congress-weekend-end
197004,2024-12-01 03:33:19.691127,https://e-noticies.cat/en/economy/social-security-notice-americans-will-lose-pension

Spain, history number 5
Last 5 records

,synthetic_time,synthetic_url
209778,2024-11-30 21:55:34.311909,https://naiz.eus
209779,2024-11-30 22:44:06.268649,https://www.applesfera.com/general/los-nombres-de-las-salas-en-la-campusmac
209780,2024-12-01 02:17:36.651724,https://e-noticies.cat/en/politics/read-exclusive-excerpt-daily-traitor-book-laura-fabregas
209781,2024-12-01 02:17:40.056390,https://e-noticies.cat/en/economy/radical-shift-caixabank-plan-cosmos-ai-until-2027
209782,2024-12-01 02:17:46.070524,https://e-noticies.cat/en/economy/social-security-notice-americans-will-lose-pension

Spain, history number 6
Last 5 records

,synthetic_time,synthetic_url
201258,2024-11-30 22:23:27.121897,https://www.cpd.es/
201259,2024-11-30 23:11:59.078637,https://www.applesfera.com/general/mas-detalles-de-la-campusmac07
201260,2024-12-01 02:45:29.461712,https://e-noticies.cat/en/people/latest-images-shakira-milan-sasha-will-cause-pain-gerard-pique
201261,2024-12-01 02:45:32.866378,https://e-noticies.cat/en/politics/junts-psoe-reach-agreement-on-distribution-of-unjoined-minors
201262,2024-12-01 02:45:38.880512,https://e-noticies.cat/en/people/princess-leonor-caught-in-a-bikini-in-uruguay-and-everyone-notices-this-photo

Spain, history number 7
Last 5 records

,synthetic_time,synthetic_url
207642,2024-11-30 21:47:50.924419,https://civitatis.com
207643,2024-11-30 21:47:55.602585,https://naiz.eus
207644,2024-11-30 22:36:27.559325,https://www.gijon.es/es/programas/comparte-joven
207645,2024-12-01 02:09:57.942400,https://e-noticies.cat/en/economy/banco-santander-plan-ayuda-finanzas-para-mortales
207646,2024-12-01 02:10:07.361200,https://e-noticies.cat/en/people/famous-host-amazed-last-emma-vilarasau

Spain, history number 8
Last 5 records

,synthetic_time,synthetic_url
205514,2024-11-30 21:13:33.543613,https://www.cpd.es/
205515,2024-11-30 22:02:05.500353,https://www.applesfera.com/autor/guillermo-lomener/2
205516,2024-12-01 01:35:35.883428,https://e-noticies.cat/en/politics/war-erc-comuns-changes-script-govern-against-ropes
205517,2024-12-01 01:35:39.288094,https://e-noticies.cat/en/politics/they-set-an-end-date-erc-congress-weekend-end
205518,2024-12-01 01:35:45.302228,https://e-noticies.cat/en/politics/war-erc-comuns-changes-script-govern-against-ropes

Spain, history number 9
Last 5 records

,synthetic_time,synthetic_url
192739,2024-11-30 23:09:27.088540,https://e-noticies.cat
192740,2024-11-30 23:57:59.045280,https://www.gijon.es/es/eventos/media-maraton-gijon-villa-jovellanos
192741,2024-12-01 03:31:29.428355,https://e-noticies.cat/en/soccer/liverpool-brings-it-even-closer-to-barca-deco-celebrates-top-signing-news
192742,2024-12-01 03:31:32.833021,https://e-noticies.cat/en/politics/war-erc-comuns-changes-script-govern-against-ropes
192743,2024-12-01 03:31:38.847155,https://e-noticies.cat/en/soccer/liverpool-brings-it-even-closer-to-barca-deco-celebrates-top-signing-news

Sri_Lanka, history number 0
Last 5 records

,synthetic_time,synthetic_url
184637,2024-11-30 21:37:57.326783,https://cinnamonhotels.com
184638,2024-11-30 21:38:02.004949,https://rapidtables.com
184639,2024-11-30 22:26:33.961689,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
184640,2024-12-01 02:00:04.344764,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
184641,2024-12-01 02:00:13.763564,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 1
Last 5 records

,synthetic_time,synthetic_url
178846,2024-11-30 22:31:29.213720,https://libretexts.org
178847,2024-11-30 22:31:33.891886,https://newswire.lk
178848,2024-11-30 23:20:05.848626,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
178849,2024-12-01 02:53:36.231701,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
178850,2024-12-01 02:53:45.650501,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 2
Last 5 records

,synthetic_time,synthetic_url
186552,2024-11-30 21:41:56.561657,https://libretexts.org/
186553,2024-11-30 21:42:01.239823,https://newswire.lk
186554,2024-11-30 22:30:33.196563,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
186555,2024-12-01 02:04:03.579638,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
186556,2024-12-01 02:04:12.998438,https://www.rapidtables.com/math/algebra/ln.html

Sri_Lanka, history number 3
Last 5 records

,synthetic_time,synthetic_url
180775,2024-11-30 21:17:36.046522,https://libretexts.org
180776,2024-11-30 21:17:40.724688,https://rapidtables.com
180777,2024-11-30 22:06:12.681428,https://www.brahmakumaris.org/meditation/where-to-meditate
180778,2024-12-01 01:39:43.064503,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
180779,2024-12-01 01:39:52.483303,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 4
Last 5 records

,synthetic_time,synthetic_url
188476,2024-11-30 22:47:56.346584,https://themorning.lk
188477,2024-11-30 22:48:01.024750,https://newswire.lk
188478,2024-11-30 23:36:32.981490,https://www.brahmakumaris.org/meditation/where-to-meditate
188479,2024-12-01 03:10:03.364565,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
188480,2024-12-01 03:10:12.783365,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 5
Last 5 records

,synthetic_time,synthetic_url
173069,2024-11-30 22:21:26.820688,https://cinnamonhotels.com
173070,2024-11-30 22:21:31.498854,https://rapidtables.com
173071,2024-11-30 23:10:03.455594,https://www.brahmakumaris.org/meditation/where-to-meditate
173072,2024-12-01 02:43:33.838669,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
173073,2024-12-01 02:43:43.257469,https://www.rapidtables.com/math/algebra/ln.html

Sri_Lanka, history number 6
Last 5 records

,synthetic_time,synthetic_url
182697,2024-11-30 21:05:18.423660,https://themorning.lk
182698,2024-11-30 21:05:23.101826,https://newswire.lk
182699,2024-11-30 21:53:55.058566,https://www.brahmakumaris.org/meditation/experience-meditation?start=48
182700,2024-12-01 01:27:25.441641,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
182701,2024-12-01 01:27:34.860441,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 7
Last 5 records

,synthetic_time,synthetic_url
171143,2024-11-30 21:50:36.683443,https://libretexts.org/
171144,2024-11-30 21:50:41.361609,https://rapidtables.com
171145,2024-11-30 22:39:13.318349,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
171146,2024-12-01 02:12:43.701424,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
171147,2024-12-01 02:12:53.120224,https://www.rapidtables.com/tools/battery.html

Sri_Lanka, history number 8
Last 5 records

,synthetic_time,synthetic_url
176932,2024-11-30 23:12:18.157013,https://libretexts.org/
176933,2024-11-30 23:12:22.835179,https://rapidtables.com
176934,2024-12-01 00:00:54.791919,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
176935,2024-12-01 03:34:25.174994,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
176936,2024-12-01 03:34:34.593794,https://www.rapidtables.com/math/algebra/ln.html

Sri_Lanka, history number 9
Last 5 records

,synthetic_time,synthetic_url
175005,2024-11-30 22:33:54.891248,https://libretexts.org
175006,2024-11-30 22:33:59.569414,https://rapidtables.com
175007,2024-11-30 23:22:31.526154,https://www.brahmakumaris.org/wisdom/a-narrative-of-love
175008,2024-12-01 02:56:01.909229,https://www.rapidtables.com/convert/temperature/375-fahrenheit-to-celsius.html
175009,2024-12-01 02:56:11.328029,https://www.rapidtables.com/tools/battery.html

Sweden, history number 0
Last 5 records

,synthetic_time,synthetic_url
150024,2024-11-30 21:18:30.534994,https://sveg.se
150025,2024-11-30 22:07:02.491734,https://www.migrationsverket.se/en/employers/after-the-decision.html
150026,2024-12-01 01:40:32.874809,https://jordbruksverket.se/om-jordbruksverket/forfattningar/sa-soker-du-i-forfattningssamlingen
150027,2024-12-01 01:40:36.279475,https://sveg.se/hem-ljuva-hem-en-tillbakablick-pa-gamla-gastis-langs-svegs-paradgata/
150028,2024-12-01 01:40:42.293609,https://bruksvallsliden.se/fiske/

Sweden, history number 1
Last 5 records

,synthetic_time,synthetic_url
162822,2024-11-30 23:07:19.793719,https://insynsverige.se
162823,2024-11-30 23:55:51.750459,https://www.migrationsverket.se/andra-aktorer/kommuner/statlig-ersattning.html
162824,2024-12-01 03:29:22.133534,https://jordbruksverket.se/stod/jordbruk-tradgard-och-rennaring/sam-ansokan-och-allmant-om-jordbrukarstoden/grundvillkor/grundvillkoren-indelade-i-verksamhetsomraden/allmanna-gardskrav/vattenuttag-for-jordbruksverksamhet-smr-1.printable
162825,2024-12-01 03:29:25.538200,https://jordbruksverket.se/kontroller-och-tillsyn/kontroll-inom-jordbrukarstod-och-grundvillkor
162826,2024-12-01 03:29:31.552334,https://sveg.se/nyheter-1/

Sweden, history number 2
Last 5 records

,synthetic_time,synthetic_url
164947,2024-11-30 21:04:02.190787,https://bruksvallsliden.se
164948,2024-11-30 21:52:34.147527,https://www.migrationsverket.se/om-migrationsverket/pressrum.html
164949,2024-12-01 01:26:04.530602,https://jordbruksverket.se/djur/foder-och-produkter-fran-djur/produkter-fran-djur/hantera-handelsdokument-och-halla-register
164950,2024-12-01 01:26:07.935268,https://jordbruksverket.se/djur/ovriga-djur/forsoksdjur-och-djurforsok/sveriges-3r-center/nyheter/arkiv/2023-06-09-djurteknikerns-roll-i-forskning
164951,2024-12-01 01:26:13.949402,https://bruksvallsliden.se/knallen/

Sweden, history number 3
Last 5 records

,synthetic_time,synthetic_url
154284,2024-11-30 22:28:17.714552,https://insynsverige.se
154285,2024-11-30 23:16:49.671292,https://www.migrationsverket.se/om-migrationsverket/pressrum.html
154286,2024-12-01 02:50:20.054367,"https://jordbruksverket.se/forfattningar?filter=%5b%5b%22f%c3%b6rfattningsstatus%22,%5b%22%c7%82%c7%82416b7475656c6c%22%5d%5d,%5b%22grundf%c3%b6reskriftnr%22,%5b%22%c7%82%c7%82323032323a3133%22%5d%5d%5d&page=1&newsearch=false"
154287,2024-12-01 02:50:23.459033,https://sveg.se/insandare/lika-sjukvard-for-alla-utom-for-oss-i-harjedalen/
154288,2024-12-01 02:50:29.473167,https://sveg.se/kategori/nyheter/sport/

Sweden, history number 4
Last 5 records

,synthetic_time,synthetic_url
156426,2024-11-30 23:06:45.028763,https://podtail.se
156427,2024-11-30 23:55:16.985503,https://www.migrationsverket.se/en/employers/after-the-decision.html
156428,2024-12-01 03:28:47.368578,https://jordbruksverket.se/om-jordbruksverket/laromedel-och-pedagogiskt-material
156429,2024-12-01 03:28:50.773244,https://jordbruksverket.se/djur/foder-och-produkter-fran-djur/produkter-fran-djur/hantera-handelsdokument-och-halla-register
156430,2024-12-01 03:28:56.787378,https://sveg.se/kategori/nyheter/sport/

Sweden, history number 5
Last 5 records

,synthetic_time,synthetic_url
169218,2024-11-30 22:34:43.790457,https://bruksvallsliden.se/
169219,2024-11-30 23:23:15.747197,https://www.migrationsverket.se/en/employers/after-the-decision.html
169220,2024-12-01 02:56:46.130272,https://jordbruksverket.se/utveckla-foretagande-pa-landsbygden/fornybar-energi/odla-energigrodor
169221,2024-12-01 02:56:49.534938,https://sveg.se/insandare/lika-sjukvard-for-alla-utom-for-oss-i-harjedalen/
169222,2024-12-01 02:56:55.549072,https://bruksvallsliden.se/en/faq-items/

Sweden, history number 6
Last 5 records

,synthetic_time,synthetic_url
158554,2024-11-30 22:19:41.904840,https://vgregion.se
158555,2024-11-30 23:08:13.861580,https://www.migrationsverket.se/en/employers/after-the-decision.html
158556,2024-12-01 02:41:44.244655,https://sveg.se/kokningsrekommendation-for-det-kommunala-dricksvattnet-i-sveg/
158557,2024-12-01 02:41:47.649321,https://sveg.se/optimismens-ar-svegsbygden-pa-sextiotalet-stora-handelser-att-minnas/
158558,2024-12-01 02:41:53.663455,https://bruksvallsliden.se/paket/langdveckor/

Sweden, history number 7
Last 5 records

,synthetic_time,synthetic_url
160681,2024-11-30 23:06:45.699227,https://bruksvallsliden.se/
160682,2024-11-30 23:55:17.655967,https://www.migrationsverket.se/andra-aktorer/kommuner/statlig-ersattning.html
160683,2024-12-01 03:28:48.039042,https://jordbruksverket.se/djur/ovriga-djur/forsoksdjur-och-djurforsok/sveriges-3r-center/nyheter/arkiv/2023-06-09-djurteknikerns-roll-i-forskning
160684,2024-12-01 03:28:51.443708,https://sveg.se/insandare/missforhallanden-inom-aldreomsorgen-i-harjedalen/
160685,2024-12-01 03:28:57.457842,https://bruksvallsliden.se/en/faq-items/

Sweden, history number 8
Last 5 records

,synthetic_time,synthetic_url
167083,2024-11-30 21:03:52.063645,https://skane.se
167084,2024-11-30 21:03:56.741811,https://insynsverige.se
167085,2024-11-30 21:52:28.698551,https://www.migrationsverket.se/en/employers/after-the-decision.html
167086,2024-12-01 01:25:59.081626,https://jordbruksverket.se/om-jordbruksverket/jordbruksverkets-officiella-statistik/jordbruksverkets-statistikrapporter/statistik/2020-09-11-jordbruksmarkens-anvandning-2010.--preliminar-statistik
167087,2024-12-01 01:26:08.500426,https://sveg.se/curlingens-dag/

Sweden, history number 9
Last 5 records

,synthetic_time,synthetic_url
152155,2024-11-30 22:04:18.697688,https://bruksvallsliden.se
152156,2024-11-30 22:52:50.654428,https://www.migrationsverket.se/en/you-want-to-apply/work.html
152157,2024-12-01 02:26:21.037503,https://sveg.se/insandare/lika-sjukvard-for-alla-utom-for-oss-i-harjedalen/
152158,2024-12-01 02:26:24.442169,https://jordbruksverket.se/stod/jordbruk-tradgard-och-rennaring/investeringsstod-for-jordbruk-tradgard-och-rennaring/investeringsstod-kvaveklivet
152159,2024-12-01 02:26:30.456303,https://bruksvallsliden.se/langdspar/

Switzerland, history number 0
Last 5 records

,synthetic_time,synthetic_url
141607,2024-11-30 21:45:18.001980,https://sky.it
141608,2024-11-30 22:33:49.958720,https://www.gofeminin.de/horoskop/single-horoskop-ab-12-mai-s5638226.html
141609,2024-12-01 02:07:20.341795,https://www.rigi.ch/attraktionen/bergbus-gersau-obergschwend-94114459a3
141610,2024-12-01 02:07:23.746461,https://www.rigi.ch/attraktionen/robinsonspielplatz-goldau-7ab3b08f81
141611,2024-12-01 02:07:29.760595,https://www.rigi.ch/attraktionen/alpenwellness-chaeserenholz-4463d27bb9

Switzerland, history number 1
Last 5 records

,synthetic_time,synthetic_url
128917,2024-11-30 23:00:33.340118,https://sky.it
128918,2024-11-30 23:49:05.296858,https://www.gofeminin.de/liebe/passiv-aggressiv-s2990838.html
128919,2024-12-01 03:22:35.679933,https://www.rigi.ch/attraktionen/alpenwellness-chaeserenholz-4463d27bb9
128920,2024-12-01 03:22:39.084599,https://www.rigi.ch/attraktionen/bergbus-gersau-obergschwend-94114459a3
128921,2024-12-01 03:22:45.098733,https://www.rigi.ch/fr/attractions/kiosque-rigi-sport-d7bd0c5206

Switzerland, history number 2
Last 5 records

,synthetic_time,synthetic_url
135288,2024-11-30 21:54:06.847613,https://sky.it
135289,2024-11-30 22:42:38.804353,https://www.gofeminin.de/horoskop/glueckshoroskop-ab-12-mai-s5638319.html
135290,2024-12-01 02:16:09.187428,https://www.rigi.ch/attraktionen/robinsonspielplatz-goldau-7ab3b08f81
135291,2024-12-01 02:16:12.592094,https://www.rigi.ch/erleben/veranstaltungen/rigi-musiktage/rueckblick-auf-5-jahre-rigi-musiktage-2018
135292,2024-12-01 02:16:18.606228,https://www.rigi.ch/en/experience/at-the-lake/gersau/experiences-in-gersau/guided-tours-in-gersau

Switzerland, history number 3
Last 5 records

,synthetic_time,synthetic_url
145812,2024-11-30 22:51:05.608770,https://sky.it
145813,2024-11-30 23:39:37.565510,https://www.gofeminin.de/wohnen/blusen-buegel-geraet-tchibo-s5620940.html
145814,2024-12-01 03:13:07.948585,https://www.rigi.ch/en/experience/at-the-lake/gersau/experiences-in-gersau/guided-tours-in-gersau
145815,2024-12-01 03:13:11.353251,https://www.rigi.ch/attraktionen/badi-lounge-merlischachen-d1007fd8fd
145816,2024-12-01 03:13:17.367385,https://www.rigi.ch/event/avantt-theaterspektakel-9feace6a0d

Switzerland, history number 4
Last 5 records

,synthetic_time,synthetic_url
137383,2024-11-30 21:56:27.360911,https://sky.it
137384,2024-11-30 22:44:59.317651,https://www.gofeminin.de/wohnen/fenster-putzen-omas-tricks-s38224.html
137385,2024-12-01 02:18:29.700726,https://www.rigi.ch/en/experience/at-the-lake/gersau/experiences-in-gersau/guided-tours-in-gersau
137386,2024-12-01 02:18:33.105392,https://www.rigi.ch/attraktionen/mineralbad-spa-rigi-kaltbad-011ac6edcb
137387,2024-12-01 02:18:39.119526,https://www.rigi.ch/fr/attractions/kiosque-rigi-sport-d7bd0c5206

Switzerland, history number 5
Last 5 records

,synthetic_time,synthetic_url
143712,2024-11-30 21:50:25.731615,https://sky.it
143713,2024-11-30 22:38:57.688355,https://www.gofeminin.de/horoskop/single-horoskop-ab-12-mai-s5638226.html
143714,2024-12-01 02:12:28.071430,https://www.rigi.ch/event/seebuehnenkonzerte-bruno-joe-co.-cd1e0affc8
143715,2024-12-01 02:12:31.476096,https://www.rigi.ch/attraktionen/robinsonspielplatz-goldau-7ab3b08f81
143716,2024-12-01 02:12:37.490230,https://www.rigi.ch/event/folkloreabend-963e49f56e

Switzerland, history number 6
Last 5 records

,synthetic_time,synthetic_url
139485,2024-11-30 22:34:56.896597,https://sky.it
139486,2024-11-30 23:23:28.853337,https://www.gofeminin.de/wohnen/fenster-putzen-omas-tricks-s38224.html
139487,2024-12-01 02:56:59.236412,https://www.rigi.ch/attraktionen/robinsonspielplatz-goldau-7ab3b08f81
139488,2024-12-01 02:57:02.641078,https://www.rigi.ch/attraktionen/mineralbad-spa-rigi-kaltbad-011ac6edcb
139489,2024-12-01 02:57:08.655212,https://www.rigi.ch/erleben/veranstaltungen/rigi-musiktage/rueckblick-auf-5-jahre-rigi-musiktage-2018

Switzerland, history number 7
Last 5 records

,synthetic_time,synthetic_url
133174,2024-11-30 22:37:48.974915,https://sky.it
133175,2024-11-30 23:26:20.931655,https://www.gofeminin.de/horoskop/glueckshoroskop-ab-12-mai-s5638319.html
133176,2024-12-01 02:59:51.314730,https://www.rigi.ch/erleben/veranstaltungen/rigi-musiktage/rueckblick-auf-5-jahre-rigi-musiktage-2018
133177,2024-12-01 02:59:54.719396,https://www.rigi.ch/alperlebnisweg-rigi/alpalltag/zusatzinformationen
133178,2024-12-01 03:00:00.733530,https://www.rigi.ch/event/bar-uf-dhand-16c48a623a

Switzerland, history number 8
Last 5 records

,synthetic_time,synthetic_url
131048,2024-11-30 21:02:04.420211,https://sky.it
131049,2024-11-30 21:50:36.376951,https://www.gofeminin.de/wohnen/fenster-putzen-omas-tricks-s38224.html
131050,2024-12-01 01:24:06.760026,https://www.rigi.ch/attraktionen/bergbus-gersau-obergschwend-94114459a3
131051,2024-12-01 01:24:10.164692,https://www.rigi.ch/event/seebuehnenkonzerte-bruno-joe-co.-cd1e0affc8
131052,2024-12-01 01:24:16.178826,https://www.rigi.ch/event/bar-uf-dhand-16c48a623a

Switzerland, history number 9
Last 5 records

,synthetic_time,synthetic_url
147905,2024-11-30 21:12:51.164248,https://sky.it
147906,2024-11-30 22:01:23.120988,https://www.gofeminin.de/horoskop/glueckshoroskop-ab-12-mai-s5638319.html
147907,2024-12-01 01:34:53.504063,https://www.rigi.ch/attraktionen/alpenwellness-chaeserenholz-4463d27bb9
147908,2024-12-01 01:34:56.908729,https://www.rigi.ch/attraktionen/mineralbad-spa-rigi-kaltbad-011ac6edcb
147909,2024-12-01 01:35:02.922863,https://www.rigi.ch/orte/rigi-kaltbad-first-7c054d2c5b

Thailand, history number 0
Last 5 records

,synthetic_time,synthetic_url
114312,2024-11-30 21:06:09.300558,https://tourismthailand.org
114313,2024-11-30 21:06:13.978724,https://pantip.com
114314,2024-11-30 21:54:45.935464,https://flowaccount.com/blog/migrate-accounting-system-to-flowaccount/
114315,2024-12-01 01:28:16.318539,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/viewproperty/dog-rescue-project-weekly-volunteer/46
114316,2024-12-01 01:28:25.737339,https://kohkoodbeachresorts.com/promotion.php?page=1

Thailand, history number 1
Last 5 records

,synthetic_time,synthetic_url
110172,2024-11-30 22:57:18.037237,https://pantip.com
110173,2024-11-30 23:45:49.993977,https://flowaccount.com/blog/inheriting-a-small-business/
110174,2024-12-01 03:19:20.377052,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/viewproperty/dog-rescue-project-weekly-volunteer/46
110175,2024-12-01 03:19:23.781718,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/enp-half-day-afternoon-106/view
110176,2024-12-01 03:19:29.795852,https://www.northgatebangkok.com/events/tag/wine/

Thailand, history number 2
Last 5 records

,synthetic_time,synthetic_url
124728,2024-11-30 23:12:46.455800,https://pantip.com
124729,2024-12-01 00:01:18.412540,https://flowaccount.com/blog/tag/%e0%b8%a0%e0%b8%b2%e0%b8%a9%e0%b8%b5/
124730,2024-12-01 03:34:48.795615,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/volunteer-at-journey-to-freedom-47/view
124731,2024-12-01 03:34:52.200281,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-freedom-single-day-61/view
124732,2024-12-01 03:34:58.214415,https://kohkoodbeachresorts.com/room--3-7.html

Thailand, history number 3
Last 5 records

,synthetic_time,synthetic_url
118468,2024-11-30 22:18:18.053305,https://pantip.com
118469,2024-11-30 23:06:50.010045,https://flowaccount.com/blog/incorporated-accounting-profession-tfac/
118470,2024-12-01 02:40:20.393120,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/enp-half-day-afternoon-106/view
118471,2024-12-01 02:40:23.797786,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-nature-park-weekly-program---living-with-elephants-45/view
118472,2024-12-01 02:40:29.811920,https://kohkoodbeachresorts.com/activities.php

Thailand, history number 4
Last 5 records

,synthetic_time,synthetic_url
108090,2024-11-30 23:11:07.828903,https://pantip.com
108091,2024-11-30 23:59:39.785643,https://flowaccount.com/blog/inheriting-a-small-business/
108092,2024-12-01 03:33:10.168718,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/viewproperty/dog-rescue-project-weekly-volunteer/46
108093,2024-12-01 03:33:13.573384,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/volunteer-at-journey-to-freedom-47/view
108094,2024-12-01 03:33:19.587518,https://www.northgatebangkok.com/events/tag/expo/

Thailand, history number 5
Last 5 records

,synthetic_time,synthetic_url
116394,2024-11-30 22:24:20.432012,https://pantip.com
116395,2024-11-30 23:12:52.388752,https://flowaccount.com/blog/small-restaurant-accounting/
116396,2024-12-01 02:46:22.771827,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/volunteer-at-journey-to-freedom-47/view
116397,2024-12-01 02:46:26.176493,https://www.northgatebangkok.com/events/tag/brights-home-party-presented-by-lazada/
116398,2024-12-01 02:46:32.190627,https://www.northgatebangkok.com/events/tag/loventure/

Thailand, history number 6
Last 5 records

,synthetic_time,synthetic_url
126807,2024-11-30 22:50:14.702252,https://pantip.com
126808,2024-11-30 23:38:46.658992,https://flowaccount.com/blog/data-migration-accounting-software/
126809,2024-12-01 03:12:17.042067,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-delight-91/book-now?pdetails_cal=1&arrivaldate=2023/01/17
126810,2024-12-01 03:12:20.446733,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-haven-single-day-sai-yok-kanchanaburi-53/view
126811,2024-12-01 03:12:26.460867,https://kohkoodbeachresorts.com/room--3-7.html

Thailand, history number 7
Last 5 records

,synthetic_time,synthetic_url
120554,2024-11-30 22:14:40.834233,https://pantip.com
120555,2024-11-30 23:03:12.790973,https://flowaccount.com/blog/incorporated-accounting-profession-tfac/
120556,2024-12-01 02:36:43.174048,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/enp-half-day-afternoon-106/view
120557,2024-12-01 02:36:46.578714,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-delight-91/book-now?pdetails_cal=1&arrivaldate=2023/01/17
120558,2024-12-01 02:36:52.592848,https://kohkoodbeachresorts.com/promotion.php?page=1

Thailand, history number 8
Last 5 records

,synthetic_time,synthetic_url
112246,2024-11-30 21:06:02.768092,https://pantip.com
112247,2024-11-30 21:54:34.724832,https://flowaccount.com/blog/close-down-business-checklists/
112248,2024-12-01 01:28:05.107907,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-haven-single-day-sai-yok-kanchanaburi-53/view
112249,2024-12-01 01:28:08.512573,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/elephant-delight-91/book-now?pdetails_cal=1&arrivaldate=2023/01/17
112250,2024-12-01 01:28:14.526707,https://kohkoodbeachresorts.com/activities.php

Thailand, history number 9
Last 5 records

,synthetic_time,synthetic_url
122643,2024-11-30 21:05:56.220569,https://tourismthailand.org
122644,2024-11-30 21:06:00.898735,https://pantip.com
122645,2024-11-30 21:54:32.855475,https://flowaccount.com/blog/blog-happy-staff-successful-work/
122646,2024-12-01 01:28:03.238550,https://www.elephantnaturepark.org/enp/visit-volunteer/projects/volunteer-at-journey-to-freedom-47/view
122647,2024-12-01 01:28:12.657350,https://kohkoodbeachresorts.com/activities.php

Turkiye, history number 0
Last 5 records

,synthetic_time,synthetic_url
95577,2024-11-30 22:34:29.139806,https://akbank.com
95578,2024-11-30 22:34:33.817972,https://hepsiburada.com
95579,2024-11-30 23:23:05.774712,https://www.huzursayfasi.com/namaz-vakitleri/maisiagala-ezan-vakitleri.html
95580,2024-12-01 02:56:36.157787,https://www.sosyalarastirmalar.com/abstract/esad-efendis-darbi-messeler-in-turkish-language-as-a-resource-for-the-earlyrnterm-studies-74934.html
95581,2024-12-01 02:56:45.576587,https://www.sosyalarastirmalar.com/abstract/izmir-deputy-halide-edip-adivar-and-their-activities-in-the-grand-national-assembly-of-turkey-19501954-71598.html

Turkiye, history number 1
Last 5 records

,synthetic_time,synthetic_url
103918,2024-11-30 23:10:11.316207,https://hepsiburada.com
103919,2024-11-30 23:58:43.272947,https://www.turkhackteam.org/konular/icerigi-bmp-olarak-kaydetmek.6822/
103920,2024-12-01 03:32:13.656022,https://www.sosyalarastirmalar.com/abstract/the-economic-lifeline-of-british-global-empire-a-reconsideration-of-the-historical-dynamics-of-the-suez-canal-18691956-71992.html
103921,2024-12-01 03:32:17.060688,https://www.sosyalarastirmalar.com/abstract/mother-tongue-education-of-turkish-minority-in-bulgaria-bulgaristandaki-trk-azinliin-ana-dil-eitimi-72062.html
103922,2024-12-01 03:32:23.074822,https://www.sosyalarastirmalar.com/abstract/esad-efendis-darbi-messeler-in-turkish-language-as-a-resource-for-the-earlyrnterm-studies-74934.html

Turkiye, history number 2
Last 5 records

,synthetic_time,synthetic_url
99745,2024-11-30 22:25:40.825137,https://hepsiburada.com
99746,2024-11-30 23:14:12.781877,https://www.turkhackteam.org/konular/icerigi-bmp-olarak-kaydetmek.6822/
99747,2024-12-01 02:47:43.164952,https://www.sosyalarastirmalar.com/abstract/pakistan-madrassas-influenced-by-thepolitics-and-terror-73677.html
99748,2024-12-01 02:47:46.569618,https://www.sosyalarastirmalar.com/abstract/izmir-deputy-halide-edip-adivar-and-their-activities-in-the-grand-national-assembly-of-turkey-19501954-71598.html
99749,2024-12-01 02:47:52.583752,https://www.sosyalarastirmalar.com/abstract/pakistan-madrassas-influenced-by-thepolitics-and-terror-73677.html

Turkiye, history number 3
Last 5 records

,synthetic_time,synthetic_url
105998,2024-11-30 21:06:34.478979,https://hepsiburada.com
105999,2024-11-30 21:55:06.435719,https://sibersonik.com/referanslarimiz/kasiyaka-tv-servisi/
106000,2024-12-01 01:28:36.818794,https://www.sosyalarastirmalar.com/abstract/a-critism-about-ahmed-yesevs-effect-on-the-classical-turkish-literature-75027.html
106001,2024-12-01 01:28:40.223460,https://www.sosyalarastirmalar.com/abstract/effect-of-german-tourists-environmental-consciousness-and-environmentallyrnfriendly-hotel-green-hotel-perception-on-beha-74110.html
106002,2024-12-01 01:28:46.237594,https://www.sosyalarastirmalar.com/abstract/mother-tongue-education-of-turkish-minority-in-bulgaria-bulgaristandaki-trk-azinliin-ana-dil-eitimi-72062.html

Turkiye, history number 4
Last 5 records

,synthetic_time,synthetic_url
87258,2024-11-30 21:25:17.982686,https://hepsiburada.com
87259,2024-11-30 22:13:49.939426,https://sibersonik.com/portfolio-category/e-ticaret/
87260,2024-12-01 01:47:20.322501,https://www.sosyalarastirmalar.com/abstract/baimsizlia-gden-yolda-arnavutlar-74134.html
87261,2024-12-01 01:47:23.727167,https://www.sosyalarastirmalar.com/abstract/the-role-of-resilience-on-academic-procrastination-in-high-school-students-74544.html
87262,2024-12-01 01:47:29.741301,https://www.sosyalarastirmalar.com/abstract/metaforms-of-the-researcher-concept-of-classroom-teacher-candidates-78517.html

Turkiye, history number 5
Last 5 records

,synthetic_time,synthetic_url
101823,2024-11-30 21:22:53.696165,https://hepsiburada.com
101824,2024-11-30 22:11:25.652905,https://www.netcad.com/blog/zirve-yine-netcadin
101825,2024-12-01 01:44:56.035980,https://www.sosyalarastirmalar.com/abstract/socioeconomic-aspects-of-womens-position-n-the-old-turks-75095.html
101826,2024-12-01 01:44:59.440646,https://www.sosyalarastirmalar.com/abstract/pakistan-madrassas-influenced-by-thepolitics-and-terror-73677.html
101827,2024-12-01 01:45:05.454780,https://www.sosyalarastirmalar.com/abstract/place-and-importance-of-festivals-in-the-formation-of-cultural-heritage-anrnevaluation-on-fethiye-music-village-75820.html

Turkiye, history number 6
Last 5 records

,synthetic_time,synthetic_url
89332,2024-11-30 21:59:24.854240,https://hepsiburada.com
89333,2024-11-30 22:47:56.810980,https://www.turkhackteam.org/konular/yanmis-insan-resimleri-18.9863/
89334,2024-12-01 02:21:27.194055,https://www.sosyalarastirmalar.com/abstract/a-critism-about-ahmed-yesevs-effect-on-the-classical-turkish-literature-75027.html
89335,2024-12-01 02:21:30.598721,https://www.sosyalarastirmalar.com/abstract/developing-validity-and-reliability-of-a-drug-addiction-module-among-drug-addicts-who-are-undergoing-treatment-at-rehabi-71918.html
89336,2024-12-01 02:21:36.612855,https://www.sosyalarastirmalar.com/abstract/effect-of-german-tourists-environmental-consciousness-and-environmentallyrnfriendly-hotel-green-hotel-perception-on-beha-74110.html

Turkiye, history number 7
Last 5 records

,synthetic_time,synthetic_url
97671,2024-11-30 22:57:04.690235,https://akbank.com
97672,2024-11-30 22:57:09.368401,https://hepsiburada.com
97673,2024-11-30 23:45:41.325141,https://www.turkhackteam.org/konular/yanmis-insan-resimleri-18.9863/
97674,2024-12-01 03:19:11.708216,https://www.sosyalarastirmalar.com/abstract/the-importance-of-concepts-in-the-constructivist-learning-process-an-examination-of-concepts-from-pedagogical-angle-72087.html
97675,2024-12-01 03:19:15.112882,https://www.sosyalarastirmalar.com/abstract/socioeconomic-aspects-of-womens-position-n-the-old-turks-75095.html

Turkiye, history number 8
Last 5 records

,synthetic_time,synthetic_url
91412,2024-11-30 22:50:42.982663,https://akbank.com
91413,2024-11-30 22:50:47.660829,https://hepsiburada.com
91414,2024-11-30 23:39:19.617569,https://www.turkhackteam.org/konular/icerigi-bmp-olarak-kaydetmek.6822/
91415,2024-12-01 03:12:50.000644,https://www.sosyalarastirmalar.com/abstract/izmir-deputy-halide-edip-adivar-and-their-activities-in-the-grand-national-assembly-of-turkey-19501954-71598.html
91416,2024-12-01 03:12:53.405310,https://www.sosyalarastirmalar.com/abstract/the-economic-lifeline-of-british-global-empire-a-reconsideration-of-the-historical-dynamics-of-the-suez-canal-18691956-71992.html

Turkiye, history number 9
Last 5 records

,synthetic_time,synthetic_url
93497,2024-11-30 22:31:09.973660,https://hepsiburada.com
93498,2024-11-30 23:19:41.930400,https://www.huzursayfasi.com/namaz-vakitleri/isvicre-ramazan-imsakiyesi.htm
93499,2024-12-01 02:53:12.313475,https://www.sosyalarastirmalar.com/abstract/pakistan-madrassas-influenced-by-thepolitics-and-terror-73677.html
93500,2024-12-01 02:53:15.718141,https://www.sosyalarastirmalar.com/abstract/metaforms-of-the-researcher-concept-of-classroom-teacher-candidates-78517.html
93501,2024-12-01 02:53:21.732275,https://www.sosyalarastirmalar.com/abstract/a-scholarly-family-in-the-mamluk-period-example-of-ihnai-75131.html

Ukraine, history number 0
Last 5 records

,synthetic_time,synthetic_url
78820,2024-11-30 21:55:08.000971,https://svoboda.org
78821,2024-11-30 22:43:39.957711,https://freelancehunt.com/pl/freelancer/sheshukov.html
78822,2024-12-01 02:17:10.340786,https://reikartz.com/en/hotels/reikartz-abis-tashkent/
78823,2024-12-01 02:17:13.745452,https://reikartz.com/en/hotels/reikartz-amirun-tashkent/conference/
78824,2024-12-01 02:17:19.759586,https://reikartz.com/en/cities/kokshetau/

Ukraine, history number 1
Last 5 records

,synthetic_time,synthetic_url
68212,2024-11-30 23:12:55.849664,https://svoboda.org
68213,2024-12-01 00:01:27.806404,https://freelancehunt.com/ua/freelancer/alyona_gal.html
68214,2024-12-01 03:34:58.189479,https://reikartz.com/en/cities/ankara/
68215,2024-12-01 03:35:01.594145,https://reikartz.com/en/hotels/reikartz-abis-tashkent/
68216,2024-12-01 03:35:07.608279,https://reikartz.com/en/cities/ankara/

Ukraine, history number 2
Last 5 records

,synthetic_time,synthetic_url
85176,2024-11-30 22:40:49.167846,https://svoboda.org
85177,2024-11-30 23:29:21.124586,https://freelancehunt.com/ua/freelancers/dizayn-ta-art/baneri
85178,2024-12-01 03:02:51.507661,https://reikartz.com/en/hotels/reikartz-namangan/rooms/
85179,2024-12-01 03:02:54.912327,https://reikartz.com/en/hotels/reikartz-2017-hotel/contacts/
85180,2024-12-01 03:03:00.926461,https://reikartz.com/tr/cities/hiva/

Ukraine, history number 3
Last 5 records

,synthetic_time,synthetic_url
80940,2024-11-30 21:16:37.252123,https://svoboda.org
80941,2024-11-30 22:05:09.208863,https://freelancehunt.com/ua/freelancer/alyona_gal.html
80942,2024-12-01 01:38:39.591938,https://reikartz.com/en/hotels/reikartz-qarshi/rooms/
80943,2024-12-01 01:38:42.996604,https://reikartz.com/en/hotels/reikartz-xon-tashkent/offers/
80944,2024-12-01 01:38:49.010738,https://reikartz.com/en/cities/kokshetau/

Ukraine, history number 4
Last 5 records

,synthetic_time,synthetic_url
74590,2024-11-30 21:54:54.091716,https://svoboda.org
74591,2024-11-30 22:43:26.048456,https://freelancehunt.com/pl/employer/robilor13.html
74592,2024-12-01 02:16:56.431531,https://reikartz.com/en/hotels/reikartz-bahor-buhara/additional_info/
74593,2024-12-01 02:16:59.836197,https://reikartz.com/en/hotels/reikartz-dostar-karaganda/
74594,2024-12-01 02:17:05.850331,https://reikartz.com/en/cities/kokshetau/

Ukraine, history number 5
Last 5 records

,synthetic_time,synthetic_url
76708,2024-11-30 21:54:37.421906,https://svoboda.org
76709,2024-11-30 22:43:09.378646,https://freelancehunt.com/en/freelancer/nastya_tatarin.html
76710,2024-12-01 02:16:39.761721,https://reikartz.com/en/cities/kokshetau/
76711,2024-12-01 02:16:43.166387,https://reikartz.com/en/hotels/reikartz-xon-tashkent/offers/
76712,2024-12-01 02:16:49.180521,https://reikartz.com/en/cities/almaty/

Ukraine, history number 6
Last 5 records

,synthetic_time,synthetic_url
72458,2024-11-30 23:09:36.185272,https://svoboda.org
72459,2024-11-30 23:58:08.142012,https://freelancehunt.com/pl/freelancer/alexandermac.html
72460,2024-12-01 03:31:38.525087,https://reikartz.com/en/hotels/reikartz-dostar-karaganda/
72461,2024-12-01 03:31:41.929753,https://reikartz.com/en/hotels/reikartz-xon-tashkent/offers/
72462,2024-12-01 03:31:47.943887,https://reikartz.com/en/cities/kokshetau/

Ukraine, history number 7
Last 5 records

,synthetic_time,synthetic_url
83050,2024-11-30 22:39:13.925888,https://svoboda.org
83051,2024-11-30 23:27:45.882628,https://freelancehunt.com/pl/employer/robilor13.html
83052,2024-12-01 03:01:16.265703,https://reikartz.com/en/hotels/reikartz-2017-hotel/contacts/
83053,2024-12-01 03:01:19.670369,https://reikartz.com/en/cities/almaty/
83054,2024-12-01 03:01:25.684503,https://reikartz.com/en/cities/kokshetau/

Ukraine, history number 8
Last 5 records

,synthetic_time,synthetic_url
70318,2024-11-30 22:46:45.766489,https://svoboda.org
70319,2024-11-30 23:35:17.723229,https://freelancehunt.com/ua/freelancer/alyona_gal.html
70320,2024-12-01 03:08:48.106304,https://reikartz.com/en/cities/kokshetau/
70321,2024-12-01 03:08:51.510970,https://reikartz.com/en/hotels/reikartz-kokand/rooms/
70322,2024-12-01 03:08:57.525104,https://reikartz.com/tr/cities/hiva/

Ukraine, history number 9
Last 5 records

,synthetic_time,synthetic_url
66088,2024-11-30 22:09:11.630392,https://svoboda.org
66089,2024-11-30 22:57:43.587132,https://freelancehunt.com/ua/projects/skill/dizayn-saytiv/43.html
66090,2024-12-01 02:31:13.970207,https://reikartz.com
66091,2024-12-01 02:31:17.374873,https://reikartz.com/en/hotels/reikartz-2017-hotel/contacts/
66092,2024-12-01 02:31:23.389007,https://reikartz.com/en/cities/almaty/

United_Kingdom, history number 0
Last 5 records

,synthetic_time,synthetic_url
55643,2024-11-30 22:35:51.507580,https://heraldscotland.com
55644,2024-11-30 23:24:23.464320,https://www.halfway2heaven.net/london/cask-marque-accredited
55645,2024-12-01 02:57:53.847395,https://www.heraldscotland.com/news/18940013.scotland-gritter-names-snowfleet-goes-viral-twitter-incredible-names/
55646,2024-12-01 02:57:57.252061,https://www.heraldscotland.com/life_style/25074422.10-uni-treasure-troves-art-open-everyone-visit/
55647,2024-12-01 02:58:03.266195,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 1
Last 5 records

,synthetic_time,synthetic_url
61908,2024-11-30 21:03:55.578257,https://heraldscotland.com
61909,2024-11-30 21:52:27.534997,https://feltwell.net/mellenniumfelt/limekiln_lane1.htm
61910,2024-12-01 01:25:57.918072,https://www.heraldscotland.com/news/25047049.kitchen-inside-centre-contemporary-arts-market/
61911,2024-12-01 01:26:01.322738,https://www.heraldscotland.com/news/18940013.scotland-gritter-names-snowfleet-goes-viral-twitter-incredible-names/
61912,2024-12-01 01:26:07.336872,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 2
Last 5 records

,synthetic_time,synthetic_url
49396,2024-11-30 21:21:55.444439,https://heraldscotland.com
49397,2024-11-30 22:10:27.401179,http://www.aboutacc.com/2022/03/16/understanding-our-times/
49398,2024-12-01 01:43:57.784254,https://www.heraldscotland.com/life_style/25074422.10-uni-treasure-troves-art-open-everyone-visit/
49399,2024-12-01 01:44:01.188920,https://www.heraldscotland.com/news/national/uk-today/20130823.marvel-doctor-strange-star-zara-phythian-husband-found-guilty-child-sex-offences/
49400,2024-12-01 01:44:07.203054,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 3
Last 5 records

,synthetic_time,synthetic_url
45233,2024-11-30 22:30:57.558325,https://heraldscotland.com
45234,2024-11-30 23:19:29.515065,https://www.halfway2heaven.net/london/10-08-2025/sundays-halfway
45235,2024-12-01 02:52:59.898140,https://www.heraldscotland.com/politics/19629524.holyrood-supreme-court-defeat-snp-politicised-legal-standoff-from-start/
45236,2024-12-01 02:53:03.302806,https://www.heraldscotland.com/life_style/25074422.10-uni-treasure-troves-art-open-everyone-visit/
45237,2024-12-01 02:53:09.316940,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 4
Last 5 records

,synthetic_time,synthetic_url
57728,2024-11-30 22:13:48.331300,https://heraldscotland.com
57729,2024-11-30 23:02:20.288040,https://www.halfway2heaven.net/london/29-06-2025/sundays-halfway
57730,2024-12-01 02:35:50.671115,https://www.heraldscotland.com/news/25076917.former-nuclear-submarine-designers-hail-breakthrough-uk-deal/
57731,2024-12-01 02:35:54.075781,https://www.heraldscotland.com/news/national/23788866.nhs-waiting-lists-hit-new-record-high-7-7-million/
57732,2024-12-01 02:36:00.089915,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 5
Last 5 records

,synthetic_time,synthetic_url
53559,2024-11-30 23:08:21.134068,https://heraldscotland.com
53560,2024-11-30 23:56:53.090808,https://www.feltwell.net/feltwell2/written/stnicks_guide.htm
53561,2024-12-01 03:30:23.473883,https://www.heraldscotland.com/news/25047049.kitchen-inside-centre-contemporary-arts-market/
53562,2024-12-01 03:30:26.878549,https://www.heraldscotland.com/life_style/25074422.10-uni-treasure-troves-art-open-everyone-visit/
53563,2024-12-01 03:30:32.892683,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 6
Last 5 records

,synthetic_time,synthetic_url
63983,2024-11-30 21:02:55.188061,https://heraldscotland.com
63984,2024-11-30 21:51:27.144801,https://feltwell.net/mellenniumfelt/hythe_road1.htm
63985,2024-12-01 01:24:57.527876,https://www.heraldscotland.com/news/national/24773049.data-hospital-cyber-attack-could-released-nhs-can-investigate/
63986,2024-12-01 01:25:00.932542,https://www.heraldscotland.com/life_style/25074422.10-uni-treasure-troves-art-open-everyone-visit/
63987,2024-12-01 01:25:06.946676,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 7
Last 5 records

,synthetic_time,synthetic_url
59814,2024-11-30 21:25:43.616414,https://heraldscotland.com
59815,2024-11-30 22:14:15.573154,http://www.aboutacc.com/2020/09/30/29-being-distinctive/
59816,2024-12-01 01:47:45.956229,https://www.heraldscotland.com/news/25093552.driver-hospital-car-collides-tree-a83/?ref=rss
59817,2024-12-01 01:47:49.360895,https://www.heraldscotland.com/news/national/23788866.nhs-waiting-lists-hit-new-record-high-7-7-million/
59818,2024-12-01 01:47:55.375029,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 8
Last 5 records

,synthetic_time,synthetic_url
51472,2024-11-30 21:48:59.585302,https://heraldscotland.com
51473,2024-11-30 22:37:31.542042,https://www.halfway2heaven.net/london/23-10-2025/martha-darthur-thurs-feb25
51474,2024-12-01 02:11:01.925117,https://www.heraldscotland.com/news/25037388.islands-golf-upsurge-among-scottish-tour-operators/
51475,2024-12-01 02:11:05.329783,https://www.heraldscotland.com/politics/19629524.holyrood-supreme-court-defeat-snp-politicised-legal-standoff-from-start/
51476,2024-12-01 02:11:11.343917,https://www.heraldscotland.com/topics/boxing-day/

United_Kingdom, history number 9
Last 5 records

,synthetic_time,synthetic_url
47314,2024-11-30 22:08:48.821838,https://heraldscotland.com
47315,2024-11-30 22:57:20.778578,https://www.springbourne.org/site/sunday-10th-november-2024
47316,2024-12-01 02:30:51.161653,https://www.heraldscotland.com/news/25037388.islands-golf-upsurge-among-scottish-tour-operators/
47317,2024-12-01 02:30:54.566319,https://www.heraldscotland.com/politics/19629524.holyrood-supreme-court-defeat-snp-politicised-legal-standoff-from-start/
47318,2024-12-01 02:31:00.580453,https://www.heraldscotland.com/topics/boxing-day/

United_States, history number 0
Last 5 records

,synthetic_time,synthetic_url
32250,2024-11-30 21:18:15.121340,https://libretexts.org
32251,2024-11-30 21:18:19.799506,https://az.gov
32252,2024-11-30 22:06:51.756246,https://www.baltimorecity.gov/answers/taxonomy/term/996?tid=904
32253,2024-12-01 01:40:22.139321,https://az.gov/half-staff/other/half-staff-honor-and-memory-safford-mayor-jason-kouts
32254,2024-12-01 01:40:31.558121,https://az.gov/tour-arizona

United_States, history number 1
Last 5 records

,synthetic_time,synthetic_url
38787,2024-11-30 21:16:06.097940,https://az.gov
38788,2024-11-30 22:04:38.054680,https://www.baltimorecity.gov/answers/citywide/trash-recycling-water?tid=942
38789,2024-12-01 01:38:08.437755,https://az.gov/half-staff/holiday/gov-hobbs-orders-flags-half-staff-may-4-and-5
38790,2024-12-01 01:38:11.842421,https://az.gov/half-staff/other/half-staff-honor-and-memory-yuma-city-councilman-gary-knight
38791,2024-12-01 01:38:17.856555,https://az.gov/visiting-arizona

United_States, history number 2
Last 5 records

,synthetic_time,synthetic_url
43148,2024-11-30 22:13:28.513574,https://merckmanuals.com
43149,2024-11-30 22:13:33.191740,https://az.gov
43150,2024-11-30 23:02:05.148480,https://www.baltimorecity.gov/answers/taxonomy/term/999?tid=887
43151,2024-12-01 02:35:35.531555,https://az.gov/half-staff/other/half-staff-honor-and-memory-safford-mayor-jason-kouts
43152,2024-12-01 02:35:44.950355,https://az.gov/media-gallery

United_States, history number 3
Last 5 records

,synthetic_time,synthetic_url
23578,2024-11-30 21:27:03.656696,https://az.gov
23579,2024-11-30 22:15:35.613436,https://www.baltimorecity.gov/answers/taxonomy/term/994?tid=866
23580,2024-12-01 01:49:05.996511,https://az.gov/half-staff/holiday/gov-hobbs-orders-flags-half-staff-may-4-and-5
23581,2024-12-01 01:49:09.401177,https://az.gov/half-staff/other/us-senator-daniel-k-inouye-state-hawaii
23582,2024-12-01 01:49:15.415311,https://az.gov/work/business

United_States, history number 4
Last 5 records

,synthetic_time,synthetic_url
40967,2024-11-30 21:36:52.268619,https://az.gov
40968,2024-11-30 22:25:24.225359,https://www.baltimorecity.gov/taxonomy/term/997?tid=852
40969,2024-12-01 01:58:54.608434,https://az.gov/half-staff/other/half-staff-honor-former-speaker-jim-weiers
40970,2024-12-01 01:58:58.013100,https://az.gov/half-staff/other/half-staff-honor-and-memory-yuma-city-councilman-gary-knight
40971,2024-12-01 01:59:04.027234,https://az.gov/business

United_States, history number 5
Last 5 records

,synthetic_time,synthetic_url
27923,2024-11-30 21:49:56.735370,https://az.gov
27924,2024-11-30 22:38:28.692110,https://www.baltimorecity.gov/answers/taxonomy/term/998?tid=949
27925,2024-12-01 02:11:59.075185,https://az.gov/half-staff/other/half-staff-honor-and-memory-safford-mayor-jason-kouts
27926,2024-12-01 02:12:02.479851,https://az.gov/half-staff/other/us-senator-daniel-k-inouye-state-hawaii
27927,2024-12-01 02:12:08.493985,https://az.gov/elected-officials

United_States, history number 6
Last 5 records

,synthetic_time,synthetic_url
34441,2024-11-30 21:16:48.181412,https://az.gov
34442,2024-11-30 22:05:20.138152,https://www.baltimorecity.gov/answers/taxonomy/term/999?tid=887
34443,2024-12-01 01:38:50.521227,https://az.gov/half-staff/other/half-staff-honor-and-memory-yuma-city-councilman-gary-knight
34444,2024-12-01 01:38:53.925893,https://az.gov/half-staff/other/us-senator-daniel-k-inouye-state-hawaii
34445,2024-12-01 01:38:59.940027,https://az.gov/parent-child-resources

United_States, history number 7
Last 5 records

,synthetic_time,synthetic_url
30092,2024-11-30 21:09:22.252859,https://az.gov
30093,2024-11-30 21:57:54.209599,https://www.baltimorecity.gov/answers/taxonomy/term/998?tid=949
30094,2024-12-01 01:31:24.592674,https://az.gov/half-staff/holiday/gov-hobbs-orders-flags-half-staff-may-4-and-5
30095,2024-12-01 01:31:27.997340,https://az.gov/half-staff/other/us-senator-daniel-k-inouye-state-hawaii
30096,2024-12-01 01:31:34.011474,https://az.gov/media-gallery

United_States, history number 8
Last 5 records

,synthetic_time,synthetic_url
25746,2024-11-30 22:02:26.819208,https://az.gov
25747,2024-11-30 22:50:58.775948,https://www.baltimorecity.gov/answers/taxonomy/term/994?tid=866
25748,2024-12-01 02:24:29.159023,https://az.gov/half-staff/holiday/gov-hobbs-orders-flags-half-staff-may-4-and-5
25749,2024-12-01 02:24:32.563689,https://az.gov/half-staff/other/half-staff-honor-and-memory-safford-mayor-jason-kouts
25750,2024-12-01 02:24:38.577823,https://az.gov/live/residents

United_States, history number 9
Last 5 records

,synthetic_time,synthetic_url
36619,2024-11-30 22:57:16.324750,https://az.gov
36620,2024-11-30 23:45:48.281490,https://www.baltimorecity.gov/answers/taxonomy/term/1001?tid=871
36621,2024-12-01 03:19:18.664565,https://az.gov/half-staff/other/half-staff-honor-and-memory-yuma-city-councilman-gary-knight
36622,2024-12-01 03:19:22.069231,https://az.gov/half-staff/other/half-staff-honor-former-speaker-jim-weiers
36623,2024-12-01 03:19:28.083365,https://az.gov/business

Viet_Nam, history number 0
Last 5 records

,synthetic_time,synthetic_url
10684,2024-11-30 22:11:52.760620,https://stockbiz.vn
10685,2024-11-30 23:00:24.717360,https://hamchoi.vn/thi-online/lop-3/tieng-anh-moi
10686,2024-12-01 02:33:55.100435,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/just-for-the-ride-half-day-mtb-tour.html
10687,2024-12-01 02:33:58.505101,https://www.surfpoint-vietnam.com/members-area/8f778dfd-16e2-44e1-918d-af316bf1205a8983/profile
10688,2024-12-01 02:34:04.519235,https://www.surfpoint-vietnam.com/blog

Viet_Nam, history number 1
Last 5 records

,synthetic_time,synthetic_url
12824,2024-11-30 21:42:56.476508,https://vietnam-bicycle.com
12825,2024-11-30 22:31:28.433248,http://talkingproud.us/part-1-sczubin-to-ruhnow.html
12826,2024-12-01 02:04:58.816323,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/combo-bicycle-tour-and-cooking-class.html
12827,2024-12-01 02:05:02.220989,https://www.surfpoint-vietnam.com/members-area/8f778dfd-16e2-44e1-918d-af316bf1205a8983/profile
12828,2024-12-01 02:05:08.235123,https://www.vietnam-bicycle.com/en/component/content/

Viet_Nam, history number 2
Last 5 records

,synthetic_time,synthetic_url
21404,2024-11-30 22:49:01.835507,https://stockbiz.vn
21405,2024-11-30 23:37:33.792247,https://hamchoi.vn/thi-online/lop-3/tieng-anh-moi
21406,2024-12-01 03:11:04.175322,https://www.vietnam-bicycle.com/en/full-day-bicycle-tours.html?view=multicategory
21407,2024-12-01 03:11:07.579988,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/private-and-custimized-tours.html
21408,2024-12-01 03:11:13.594122,https://www.surfpoint-vietnam.com/post/vietnamese-cuisine

Viet_Nam, history number 3
Last 5 records

,synthetic_time,synthetic_url
8547,2024-11-30 22:10:20.890882,https://www.surfpoint-vietnam.com/
8548,2024-11-30 22:58:52.847622,https://hamchoi.vn/thi-online/lop-10/giao-duc-cong-dan
8549,2024-12-01 02:32:23.230697,https://www.vietnam-bicycle.com/en/full-day-bicycle-tours.html?view=multicategory
8550,2024-12-01 02:32:26.635363,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/56-visite-cam-thanh-village-tra-que-village-cam-ha-village.html
8551,2024-12-01 02:32:32.649497,https://www.vietnam-bicycle.com/en/component/content/

Viet_Nam, history number 4
Last 5 records

,synthetic_time,synthetic_url
2126,2024-11-30 22:32:45.780725,https://stockbiz.vn
2127,2024-11-30 23:21:17.737465,http://laban.vn/search.html?q=%22sex-cam-show.com%22
2128,2024-12-01 02:54:48.120540,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/16-private-and-customized-bicycle-tours.html
2129,2024-12-01 02:54:51.525206,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/mountain-bike-tours-in-hoi-an.html
2130,2024-12-01 02:54:57.539340,https://www.surfpoint-vietnam.com/about

Viet_Nam, history number 5
Last 5 records

,synthetic_time,synthetic_url
4271,2024-11-30 22:23:10.482746,https://journeyinlife.net
4272,2024-11-30 23:11:42.439486,https://hamchoi.vn/thi-online/lop-10/giao-duc-kinh-te-va-phap-luat
4273,2024-12-01 02:45:12.822561,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/private-and-custimized-tours.html
4274,2024-12-01 02:45:16.227227,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/just-for-the-ride-half-day-mtb-tour.html
4275,2024-12-01 02:45:22.241361,https://www.vietnam-bicycle.com/en/component/content/

Viet_Nam, history number 6
Last 5 records

,synthetic_time,synthetic_url
17096,2024-11-30 23:06:35.144933,https://studytienganh.vn
17097,2024-11-30 23:06:39.823099,https://www.surfpoint-vietnam.com/
17098,2024-11-30 23:55:11.779839,https://sivanandayogavietnam.org/program/advanced-teacher-training-course/
17099,2024-12-01 03:28:42.162914,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/16-private-and-customized-bicycle-tours.html
17100,2024-12-01 03:28:51.581714,https://www.surfpoint-vietnam.com/about

Viet_Nam, history number 7
Last 5 records

,synthetic_time,synthetic_url
19259,2024-11-30 21:10:34.094155,https://xsmn247.me
19260,2024-11-30 21:59:06.050895,https://hamchoi.vn/thi-online/lop-5/tieng-viet
19261,2024-12-01 01:32:36.433970,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/lost-in-vietnam-2-days-tour.html
19262,2024-12-01 01:32:39.838636,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/just-for-the-ride-half-day-mtb-tour.html
19263,2024-12-01 01:32:45.852770,https://www.surfpoint-vietnam.com/blog

Viet_Nam, history number 8
Last 5 records

,synthetic_time,synthetic_url
14958,2024-11-30 22:12:00.092829,https://studytienganh.vn
14959,2024-11-30 22:12:04.770995,https://stockbiz.vn
14960,2024-11-30 23:00:36.727735,https://sivanandayogavietnam.org/program/advanced-teacher-training-course/
14961,2024-12-01 02:34:07.110810,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/mountain-bike-tours-in-hoi-an.html
14962,2024-12-01 02:34:16.529610,https://www.surfpoint-vietnam.com/spot-guide

Viet_Nam, history number 9
Last 5 records

,synthetic_time,synthetic_url
6406,2024-11-30 22:07:45.232406,https://xsmn247.me
6407,2024-11-30 22:56:17.189146,https://hamchoi.vn/thi-online/lop-3/tieng-anh-moi
6408,2024-12-01 02:29:47.572221,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/56-visite-cam-thanh-village-tra-que-village-cam-ha-village.html
6409,2024-12-01 02:29:50.976887,https://www.vietnam-bicycle.com/en/cycling-tours-hoian/mountain-bike-tours-in-hoi-an.html
6410,2024-12-01 02:29:56.991021,https://www.surfpoint-vietnam.com/spot-guide